/* We override base bootstrap class here */

// Headers
.page-header {
  margin-top: 2px;
  font-weight: 600;
}

// Panels
.panel-heading {
  font-size: @font-size-h3;
}

.panel-primary {
  background: #f1f1f2;
}

// Links and button
a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
}
