//---------------------------------------------------------------------------------------
// Variables from Bootstrap are change here, only CHANGED variables are here,
// so if your looking for something, check out the varibles.scss file in bootstrap
//---------------------------------------------------------------------------------------
// Reference: http://www2.gov.bc.ca/gov/content/governments/services-for-government/policies-procedures/web-content-development-guides/developers-guide/css-elements

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Change theme-colors
$theme-colors: ();
$theme-colors: map-merge((
        primary: #036,
        secondary: #fcba19,
        success: #486446,
        info: #96c0e6,
        warning: #f3cd65,
        danger: #d8292f,
        light: $gray-100,
        dark: $gray-800,
        primary-nav: #38598a,  // This is new
        secondary-nav: #5475a7 // This is new too
), $theme-colors);

// Add our font as default
$font-family-sans-serif: Myriad-Pro, Calibri, Arial, sans serif;
$font-family-base: $font-family-sans-serif;
$body-color: #494949;

// Headings
$headings-font-weight:   600;
$headings-color: #494949;

// Links
$link-color:            #1a5a96;
$link-hover-color:      #00F;

// Breadcrumbs
$breadcrumb-bg: transparent;


//Bootstrap 3 to 4: TODO: TODO!
//TODO: Merge/delete this with new bootstrap grays, e.g. gray-100, gray-800, etc.  These are just in for now for compilation.
$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee