//------------------------------------------------------------------------------
// Variables to override Bootstrap should be placed here.  Consult the Bootstrap
// _variables.scss file or documentation  to see what changes you can make.
// Additionally, our custom variables can be defined here, but do so separately
// from the Bootstrap overrides.
//------------------------------------------------------------------------------
// Reference:
// http://www2.gov.bc.ca/gov/content/governments/services-for-government/policies-procedures/web-content-development-guides/developers-guide/css-elements

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

//------------------------------------------------------------------------------
// Bootstrap Overrides
//------------------------------------------------------------------------------
$font-size-base : 1rem;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1.07;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.85;

$container-max-widths: (
    // Bootstrap 3 to 4: Customize container widths to match previous behaviour
    // `sm`, a new BS4 container width. We set it high effectively disabling it.
    sm: 720px, //orig: 540px;
    md: 720px,
    lg: 960px,
    xl: 1140px
);

//------------------------------------------------------------------------------
// Custom Variables
//------------------------------------------------------------------------------

$color-primary: #036;
$color-secondary: #fcba19;
$color-success: #486446;
$color-info: #96c0e6;
$color-warning: #f3cd65;
$color-danger: #d8292f;
$color-light: $gray-100;
$color-dark: $gray-800;
$color-primary-nav: #38598a;  // This is new from Bootstrap 4 theme
$color-secondary-nav: #5475a7; // This is new too Bootstrap 4 theme

// Change theme-colors
$theme-colors: ();
$theme-colors: map-merge((
        primary: $color-primary,
        secondary: $color-secondary,
        success: $color-success,
        info: $color-info,
        warning: $color-warning,
        danger: $color-danger,
        light: $color-light,
        dark: $color-dark,
        primary-nav: $color-primary-nav,  // This is new
        secondary-nav: $color-secondary-nav // This is new too
), $theme-colors);

// Add our font as default
$font-family-sans-serif: Myriad-Pro, Calibri, Arial, sans serif;
$font-family-base: $font-family-sans-serif;
$body-color: #494949;

// Headings
$headings-font-weight:   600;
$headings-color: #494949;


// Links
$link-color:            #1a5a96;
$link-hover-color:      #00F;

// Breadcrumbs
$breadcrumb-bg: transparent;