<common-page-framework layout="blank">
  <form #formRef="ngForm" novalidate >
    <a onclick="window.print();return false;">   
    <strong class="float-right">Print 
      <i class="fa fa-print fa-lg pointer" aria-hidden="true"></i>
    </strong> 
  </a> 
  
  <h1>Review your application</h1>
  
  <div class="row">
      <div class="col-lg-6">
          <msp-person-card [person]="mspApplication.applicant"
                          [editRouterLink]="personal_info"></msp-person-card>
      </div>
      <div class="col-lg-6" *ngIf="hasSpouse">
          <msp-person-card [person]="mspApplication.spouse"
                          [editRouterLink]="spouse_info"></msp-person-card>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
        <msp-contact-card [residentialAddress]="mspApplication.residentialAddress"
                          [mailingAddress]="mspApplication.mailingAddress"
                          [phone]="mspApplication.phoneNumber"
                          [editRouterLink]="address_info"></msp-contact-card>
    </div>

    <div class="col-lg-6" *ngIf="hasChildren">
      <ng-container *ngFor="let child of mspApplication.children; let i = index;">
        <div class="clearfix" *ngIf="i % 2 == 0"></div>
            <msp-person-card [person]="child"
                             [editRouterLink]="child_info"></msp-person-card>
      </ng-container>
    </div>
  </div>
  </form>                
</common-page-framework>
<common-form-action-bar widthOption='extra-width-mobile-only' 
                        (btnClick)="continue()">
</common-form-action-bar>


