@import "variables.scss";

#idReq {
  .panel-body {
    background: white;
  }
  .panel-heading a {
    text-decoration: none !important;
    color: $color-primary;
    font-weight: bold;
    outline : none;
  }

  img {
    border:3px solid $color-danger;

  }
}
