@import "../../../../styles/variables.less";

#idReq {
  .panel-body {
    background: white;
  }
  .panel-heading a {
    text-decoration: none !important;
    color: $brand-primary;
    font-weight: bold;
    outline : none;
  }

  img {
    border:3px solid $brand-danger;
  }
}
