<form #formRef='ngForm' novalidate>
    <div class="row">
        <div class="col-md-4">
            <h3>{{lang('./en/index.js').statusLabel}}</h3>
            <div class="radio" *ngFor="let st of statusInCanada">
                <input type="radio" name="statusInCanada" id="{{st}}" (click)="person.status = st"
                       [checked]="st === person.status">
                <label for="{{st}}">
                    {{langStatus('./en/index.js')[st]}}
                </label>

                <div *ngIf="st === person.status">
                    <div class="radio" *ngFor="let item of activities">
                        <input type="radio" name="activity" id="{{item}}" (click)="person.currentActivity = item"
                               [checked]="item === person.currentActivity">
                        <label for="{{item}}">
                            {{langActivities('./en/index.js')[item]}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" *ngIf="person.status != null && person.currentActivity != null">
            <h3>{{lang('./en/index.js').documentInstructionLabel}}</h3>
            <p [innerHtml]="lang('./en/index.js').documentInstructionsIntro"></p>
            <ul>
                <li>Birth Certificate</li>
                <li>Passport</li>
                <li>Canadian Citizenship Card</li>
            </ul>
            <p class="danger" [innerHtml]="lang('./en/index.js').documentInstructionsNote"></p>
        </div>
        <div class="col-md-4" *ngIf="person.status != null && person.currentActivity != null">
            <h3 [innerHtml]="lang('./en/index.js').documentUploadLabel"></h3>
            <msp-file-uploader></msp-file-uploader>
        </div>
    </div>
    <div class="row" *ngIf="false">
        <div class="col-md-5">
            <div class="title-container">
                <h1>{{person.relationship}}</h1>
                <div *ngIf="person.relationship !== 'Yourself'">
                    <div *ngIf="person.relationship === 'Spouse'">
                        <button type="button" class="btn btn-default btn-xs"
                                (click)="removeSpouse()"
                                [innerHTML]="lang('./en/index.js').removeSpouseButton">
                        </button>
                    </div>
                    <div *ngIf="person.relationship === 'Child'">
                        <button type="button" class="btn btn-default btn-xs"
                                (click)="removeChild()"
                                [innerHTML]="lang('./en/index.js').removeChildButton">
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <span class="glyphicon glyphicon-exclamation-sign" style="color:#d9534f"></span>
                <span class="msp-fine-print" [innerHTML]="lang('./en/index.js').namesHelpBlock">
				</span>
            </div>

            <div class="form-group"
                 [ngClass]="{'has-error': !formRef.controls.firstname?.valid && firstnameRef.touched}">
                <label class="control-label" for="firstname"
                       [innerHTML]="lang('./en/index.js').firstNameLabel"></label>
				<input type="text" [(ngModel)] = 'person.firstname' #firstnameRef="ngModel"
					required minlength="2"
					id='firstname' name='firstname'class="form-control">
			</div>

			<div *ngIf='firstnameRef.touched'>
				<div class="text-danger" *ngIf="firstnameRef.errors?.required"
                     [innerHTML]="lang('./en/index.js').firstNameRequired"></div>
                <div class="text-danger" *ngIf="firstnameRef.errors?.minlength"
                     [innerHTML]="lang('./en/index.js').firstNameLength"></div>
            </div>

            <div class="form-group"
                 [ngClass]="{'has-error': !formRef.controls.middlename?.valid && middlenameRef.touched}">
                <label class="control-label" for="middlename">Middle Name</label>
                <input type="text" [(ngModel)]='person.middlename' #middlenameRef="ngModel"
                       id='middlename' name='middlename' minlength="2"
                       class="form-control" id="middlename">
            </div>

            <div class="form-group" [ngClass]="{'has-error': !formRef.controls.lastname?.valid && lastnameRef.touched}">
                <label class="control-label" for="lastname">Last Name</label>
                <input type="text" [(ngModel)]='person.lastname' #lastnameRef="ngModel"
                       required minlength="2"
                       class="form-control" id="lastname" name='lastname'>
            </div>
            <div *ngIf='lastnameRef.touched'>
                <div class="text-danger" *ngIf="lastnameRef.errors?.required">Last name is required</div>
                <div class="text-danger" *ngIf="lastnameRef.errors?.minlength">Last name must be longer than
                    {{lastnameRef.errors?.minlength.requiredLength-1}} characters.
                </div>
            </div>

            <msp-phn [phn]="person.previous_phn" [required]="false"
                     [phnLabel]="lang('./en/index.js').phnLabel"></msp-phn>

        </div>

    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="dob_month">Date of birth</label>
                <div class="dates-container">
                    <input required type="text" [(ngModel)]='person.dob_month'
                           class="form-control" id="dob_month" name="dob_month" placeholder="month">
                    <input type="text" [(ngModel)]='person.dob_day'
                           class="form-control" id="dob_day" name="dob_day" placeholder="day">
                    <input type="text" [(ngModel)]='person.dob_year'
                           class="form-control" id="dob_year" name="dob_year" placeholder="year">
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <label>Legal Gender: </label>
            <!--<span style="font-size: 13pt; font-weight: 500;">{{legalGender}}</span>
            <span style="margin-left: 10px;">
                <a *ngIf="legalGender" href="javascript:void(0)" (click)="toggleGenderList()">
                                    <span *ngIf='isGenderListShown'>Close</span>
                                    <span *ngIf='!isGenderListShown'>Change</span>
                </a>
            </span>-->

            <ul class="list-group">
                <li *ngFor='let gender of genders' (click)="selectGender(gender)"
                    class="list-group-item msp-list-group-item">
                    <span *ngIf="gender !== legalGender" class="glyphicon glyphicon-unchecked"></span>
                    <span *ngIf="gender === legalGender" class="glyphicon glyphicon-check msp-selection"></span>
                    <span>{{gender}}</span>
                </li>
            </ul>

        </div>
    </div>


    <div class="form-group">
        <label for="arrival_month">Arrival Date in BC </label>
        <div class="dates-container">
            <input required type="text" [(ngModel)]='person.arrival_month'
                   class="form-control " id="arrival_month" name="arrival_month" placeholder="month">
            <input type="text" [(ngModel)]='person.arrival_day'
                   class="form-control " id="arrival_day" name="arrival_day" placeholder="day">
            <input type="text" [(ngModel)]='person.arrival_year'
                   class="form-control " id="arrival_year" name="arrival_year" placeholder="year">
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-8">
            <label>Were you previously working for the RCMP, Canadian Forces or an institution? </label>
            <!--<span style="font-size: 13pt; font-weight: 500;">{{institutionWorkHistory}}</span>
            <span style="margin-left: 10px;">
                <a *ngIf="institutionWorkHistory" href="javascript:void(0)" (click)="toggleInstituationList()">
                                    <span *ngIf='isInstitutionListShown'>Close</span>
                                    <span *ngIf='!isInstitutionListShown'>Change</span>
                </a>
            </span>-->

            <ul class="list-group">
                <li *ngFor='let institution of institutionList' (click)="selectInstitution(institution)"
                    class="list-group-item msp-list-group-item">
                    <span *ngIf="institution !== institutionWorkHistory" class="glyphicon glyphicon-unchecked"></span>
                    <span *ngIf="institution === institutionWorkHistory"
                          class="glyphicon glyphicon-check msp-selection"></span>
                    <span>{{institution}}</span>
                </li>
            </ul>
        </div>
    </div>


</form>

<div #viewOnlyContainer *ngIf="viewOnly">

</div>
<template #viewOnlyTempalte>

    <h1>Place personal detail view only template here</h1>
</template>

<!-- switch *ngIf value to true for debugging-->
<div class="row" *ngIf='false'>
	<div class="col-md-12">
		<ul>
			<li *ngFor = 'let log of changeLog'>
					{{log | json}}
			</li>
		</ul>
	</div>

	<div class="col-md-12">
		<p>Person Data Model</p>
		{{this.person| json}}
		<p>firstname</p>
		<!--{{ formRef.controls.firstname | json}}-->
	</div>
</div>