<form #formRef='ngForm' novalidate>
    <div class="row">
        <div class="col-xs-8">
            <h2 [innerHTML]="lang('./en/index.js').sectionTitle[person.relationship]"></h2>
        </div>
        <div class="col-xs-4">
            <div *ngIf="person.relationship !== 0" style="margin-top: 18px">
                <div *ngIf="person.relationship === 1">
                    <button type="button" class="btn btn-default btn-xs pull-right"
                            (click)="removeSpouse()"
                            [innerHTML]="lang('./en/index.js').removeSpouseButton">
                    </button>
                </div>
                <div *ngIf="person.relationship === 2 || person.relationship === 3 ">
                    <button type="button" class="btn btn-default btn-xs pull-right"
                            (click)="removeChild()"
                            [innerHTML]="lang('./en/index.js').removeChildButton">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <h3>{{statusLabel()}}</h3>
                </div>
            </div>
            <div class="radio" *ngFor="let st of statusInCanada">
                <input type="radio" name="statusInCanada-{{id}}" id="st{{st}}-{{id}}" (click)="setStatus(st, person)"
                       [checked]="st === person.status">
                <label for="st{{st}}-{{id}}">
                    {{langStatus('./en/index.js')[st]}}
                </label>

                <div *ngIf="st === person.status">
                    <div class="radio" *ngFor="let activity of activities">
                        <input type="radio" name="activity-{{id}}" id="a{{activity}}-{{id}}"
                               (click)="setActivity(activity)"
                               [checked]="activity === person.currentActivity">
                        <label for="a{{activity}}-{{id}}" class="shade">
                            {{langActivities('./en/index.js')[activity]}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" *ngIf="person.status != null && person.currentActivity != null">
            <h3><i class="fa fa-id-card-o" aria-hidden="true"></i> {{lang('./en/index.js').documentInstructionLabel[this.person.relationship]}}</h3>
            <p [innerHtml]="lang('./en/index.js').documentInstructionsIntro"></p>
            <ul>
                <li *ngFor="let document of documents">
                    {{langDocuments('./en/index.js')[document]}}
                    <a role="button" href="javascript:void(0)" (click)="viewIdReqModal(document)" tabindex="0"
                       [innerHtml]="lang('./en/index.js').viewSamplesButton"></a>
                </li>
            </ul>
            <p [innerHtml]="lang('./en/index.js').documentInstructionsMarriage"></p>
            <ul>
                <li *ngFor="let document of nameChangeDocuments">
                    {{langDocuments('./en/index.js')[document]}}
                    <a role="button" href="javascript:void(0)" (click)="viewIdReqModal(document)" tabindex="0"
                       [innerHtml]="lang('./en/index.js').viewSamplesButton"></a>
                </li>
            </ul>
            <msp-id-req-modal #idReqModal></msp-id-req-modal>
        </div>
        <div class="col-md-4" *ngIf="person.status != null && person.currentActivity != null">

            <h3 [innerHtml]="lang('./en/index.js').documentUploadLabel[this.person.relationship]"></h3>
            <div [innerHtml]="lang('./en/index.js').documentInstructionsNote"></div>

            <msp-file-uploader #fileUploader
                [images]="person.documents.images" [id]='id'
                (onAddDocument)="addDocument($event)"
                (onErrorDocument)="errorDocument($event)"
                (onDeleteDocument)="deleteDocument($event)"
                [showError]="showError">
                
                <span id="uploadInstruction">Please upload required ID documents</span>
            </msp-file-uploader>

            <msp-image-error-modal #imageErrorModal></msp-image-error-modal>
        </div>
    </div>
<div *ngIf="hasValidCurrentActivity">

    <div *ngIf="person.documents.images.length > 0">
        <h3 [innerHtml]="lang('./en/index.js').applicationPersonalInfo[person.relationship]"></h3>
        <p class="help-block" [innerHtml]="lang('./en/index.js').nameHelpBlock[this.person.relationship]"></p>
        <msp-name [person]="person" (onChange) = "onChange.emit($event)" [showError]="showError"></msp-name>

        <div class="row">
            <div class="col-sm-4">
                <msp-gender [person]="person" (onChange) = "onChange.emit($event)" [showError] = "showError"></msp-gender>
            </div>
            <div class="col-sm-8">
                <msp-birthdate 
                  [person]="person" 
                  (onChange) = "onChange.emit($event)"
                  [showError] = "showError"
                  (registerBirthDateComponent)="onRegisterBirthDateComponent($event)">
                </msp-birthdate>
            </div>
        </div>
        <div class="row" *ngIf="person.status === StatusInCanada.CitizenAdult &&
            person.currentActivity === Activities.LivingInBCWithoutMSP" style="margin-bottom: 20px">
            <div class="col-sm-12">
                <label [innerHtml]="lang('./en/index.js').livedInBCSinceBirth[this.person.relationship]"></label>
                <div class="btn-group" role="group">
                    <button *ngFor='let answer of [{"value": true, "label": "Yes"}, {"value": false, "label": "No"}]'
                            [class.msp-btn-radio]="person.livedInBCSinceBirth === answer.value"
                            (click)="setLivedInBCSinceBirth(answer.value)"
                            type="button" class="btn btn-default">{{answer.label}}
                    </button>
                </div>
            </div>
        </div>

      <div class="row" *ngIf="person.documents.images.length > 0">
            <div class="col-md-4" *ngIf="person.currentActivity == Activities.MovingFromCountry || person.status == StatusInCanada.TemporaryResident">
              <msp-country [label]="lang('./en/index.js').movedFromCountryLabel" 
                  [country]="person.movedFromProvinceOrCountry" 
                  (onChange)="person.movedFromProvinceOrCountry = $event; onChange.emit($event)"
                  [showError]="showError">
              </msp-country>
            </div>
            <div class="col-md-4" *ngIf="person.currentActivity === Activities.MovingFromProvince">
              <msp-province [provinceLabel]="lang('./en/index.js').movedFromProvinceLabel[this.person.relationship]"
                            [province]="person.movedFromProvinceOrCountry"
                            (onChange)="provinceUpdate($event)"
                            [exceptBC]="true" [showError]="showError"
                            colSize="col-sm-4"></msp-province>
            </div>
        
          <div class="col-md-4" style="margin-top: 25px;">
            <div class="form-group" [ngClass]="{'has-error': showError && (person.madePermanentMoveToBC === undefined || person.madePermanentMoveToBC === null)}">

              <label [innerHtml]="lang('./en/index.js').haveYouMovedToBCPermanently" class="control-label"></label>
              <div class="btn-group" role="group">
                <button *ngFor='let answer of [{"value": true, "label": "Yes"}, {"value": false, "label": "No"}]' [class.msp-btn-radio]="person.madePermanentMoveToBC === answer.value"
                  (click)="setMovedToBCPermanently(answer.value)" type="button" class="btn btn-default">{{answer.label}}
                  </button>
              </div>
              <div *ngIf='showError && (person.madePermanentMoveToBC === undefined || person.madePermanentMoveToBC === null)'>
                <div class="text-danger" [innerHtml]="lang('./en/index.js').mustAnswerQuestionAboutPermMoveToBC"></div>
              </div>

            </div>
          </div>
      </div>

        <div class="row" *ngIf="!(person.status === StatusInCanada.CitizenAdult &&
                person.currentActivity === Activities.LivingInBCWithoutMSP &&
                person.livedInBCSinceBirth === true)">
            <div class="col-md-4">
                <msp-arrival-date [arrivalLabel]="arrivalDateLabel"
                                  [year]="person.arrivalToBCYear"
                                  (yearChange)="person.arrivalToBCYear = $event"
                                  [month]="person.arrivalToBCMonth"
                                  (monthChange)="person.arrivalToBCMonth = $event"
                                  [day]="person.arrivalToBCDay"
                                  (dayChange)="person.arrivalToBCDay = $event"
                                  (onChange) = "onChange.emit($event)"
                                  [showError]="showError"
                                  (registerArrivalDateComponent)="onRegisterArrivalDateComponent($event)">
                </msp-arrival-date>
            </div>
            <div class="col-md-4">
                <!--For canadian citizen, returning to BC after an absence or moving from another province, the arrival date in canada
                is not required.-->
                <msp-arrival-date [arrivalLabel]="lang('./en/index.js').arrivalDateToCanadaLabel"
                                  [required]="!(person.status === StatusInCanada.CitizenAdult 
                                    && (person.currentActivity == Activities.LivingInBCWithoutMSP || person.currentActivity == Activities.MovingFromProvince))"
                                  [year]="person.arrivalToCanadaYear"
                                  (yearChange)="person.arrivalToCanadaYear = $event"
                                  [month]="person.arrivalToCanadaMonth"
                                  (monthChange)="person.arrivalToCanadaMonth = $event"
                                  [day]="person.arrivalToCanadaDay"
                                  (dayChange)="person.arrivalToCanadaDay = $event"
                                  (onChange) = "onChange.emit($event)"
                                  [showError]="showError"
                                  (registerArrivalDateComponent)="onRegisterArrivalDateComponent($event)">
                </msp-arrival-date>

            </div>

        </div>
        <div class="row" *ngIf="person.currentActivity === Activities.MovingFromProvince">
            <div class="col-sm-4" >
                <msp-health-number [healthNumber]="person.healthNumberFromOtherProvince"
                                   (healthNumberChange)="handleHealthNumberChange($event)"
                                   [required]="false"
                                   [showError]="showError">
                </msp-health-number>
            </div>
        </div>
        <div style="margin-bottom: 20px">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group"
                      [ngClass]="{'has-error': showError && (person.declarationForOutsideOver30Days === undefined || person.declarationForOutsideOver30Days === null)}">
                      <label *ngIf="!(person.currentActivity === Activities.LivingInBCWithoutMSP)" [innerHtml]="lang('./en/index.js').beenOutsideBCOver30DaysLabel" class="control-label"></label>
                      <label  *ngIf="person.currentActivity === Activities.LivingInBCWithoutMSP" [innerHtml]="lang('./en/index.js').beenOutsideBCForMoreThan30DaysInTotalInThePast12Months" class="control-label"></label>
                      <div class="btn-group" role="group">
                          <button *ngFor='let answer of [{"value": true, "label": "Yes"}, {"value": false, "label": "No"}]'
                                  [class.msp-btn-radio]="person.declarationForOutsideOver30Days === answer.value"
                                  (click)="setBeenOutsideForOver30Days(answer.value)"
                                  type="button" class="btn btn-default">{{answer.label}}
                          </button>
                      </div>
                      <div *ngIf='showError && (person.declarationForOutsideOver30Days === undefined || person.declarationForOutsideOver30Days === null)'>
                          <div class="text-danger" 
                              [innerHtml]="lang('./en/index.js').mustAnswerQuestionAboutBeenOutsideBC"></div>
                      </div>
                    </div>
                </div>
            </div>
            <div *ngIf="person.declarationForOutsideOver30Days == true" class="row" style="margin-bottom: 20px">
                <div class="col-sm-12">
                    <msp-outof-bc-record [outofBCRecord]="person.outOfBCRecord"
                                         (onDelete)="handleDeleteOutofBCRecord($event)"
                                         (onUpdate)="handleOutofBCRecordChange($event)"
                                          [showError]="showError">
                    </msp-outof-bc-record>
                </div>
            </div>
            <!--
                <div class="row" *ngIf="person.declarationForOutsideOver30Days">
                To allow multiple departure-return/outof-bc records to be added,
                1. use "person.declarationForOutsideOver30Days" as the above line shows.
                2. Go to outof-bc.component.html to enable the delete button. (adjust the column
                allocation on the page to allocate one column to the delete button.)
            -->
            <div class="row" *ngIf="false">
                <div class="col-sm-12">
                    <a href="javascript:void(0)" (click)="addOutofBCRecord($event)">Add information about being outside and returning to BC</a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-md-6">
              <div class="form-group"
                 [ngClass]="{'has-error': (person.hasPreviousBCPhn === undefined || person.hasPreviousBCPhn === null) && showError}">
              
                <label [innerHtml]="lang('./en/index.js').previousBCHealthNumber[this.person.relationship]"
                  class="control-label"></label>
                <div class="btn-group" role="group">
                    <button [class.msp-btn-radio]="person.hasPreviousBCPhn"
                            (click)="person.hasPreviousBCPhn = true; onChange.emit(person.hasPreviousBCPhn)"
                            type="button" class="btn btn-default" >Yes</button>
                    <button [class.msp-btn-radio]="person.hasPreviousBCPhn === false"
                            (click)="person.hasPreviousBCPhn = false; onChange.emit(person.hasPreviousBCPhn)"
                            type="button" class="btn btn-default">No&nbsp;</button>
                </div>

              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" *ngIf="person.hasPreviousBCPhn === true">
                <msp-phn [phn]="person.previous_phn"
                         (phnChange)="person.previous_phn = $event"
                         [required]="false"
                         [bcPhn]="true"
                         [phnLabel]="lang('./en/index.js').phnLabel[this.person.relationship]"
                         (onChange) = "onChange.emit($event)"
                         [showError] = "showError"></msp-phn>
            </div>
        </div>

    </div>

    <div class="row"
        *ngIf="person.documents.images.length > 0 && person.status === StatusInCanada.CitizenAdult" 
        style="margin-top: 10px; margin-bottom: 10px;">
        <div class="col-md-8">
            <div class="form-group"
              [ngClass]="{'has-error': (person.institutionWorkHistory === undefined ||  person.institutionWorkHistory === null) 
                && showError}">
              <label [innerHtml]="lang('./en/index.js').canadianForcesQuestion[this.person.relationship]" class="control-label"></label>
              <div class="btn-group" role="group">
                  <button *ngFor='let institution of institutionList'
                          [class.msp-btn-radio]="person.institutionWorkHistory == institution"
                          (click)="selectInstitution(institution)"
                          type="button" class="btn btn-default">{{institution}}
                  </button>
              </div>
              <div *ngIf='(person.institutionWorkHistory === undefined ||  person.institutionWorkHistory === null) && showError'>
                  <p class="text-danger" 
                      [innerHtml]="lang('./en/index.js').mustDeclareInstitutionWorkHistory"></p>
              </div>
              
            </div>
            <div *ngIf="person.institutionWorkHistory === 'Yes'" style="margin-top: 10px">
                <msp-discharge-date
                        [year]="person.dischargeYear"
                        (yearChange)="person.dischargeYear = $event"
                        [month]="person.dischargeMonth"
                        (monthChange)="person.dischargeMonth = $event"
                        [day]="person.dischargeDay"
                        (dayChange)="person.dischargeDay = $event"
                        (onChange) = "onChange.emit($event)" [showError]="showError"></msp-discharge-date>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="person.documents.images.length > 0 &&
                            (person.relationship === Relationship.Applicant ||
                            person.relationship === Relationship.Child19To24)">
        <div class="form-group col-md-4" *ngIf="person.relationship === Relationship.Applicant"
            [ngClass]="{'has-error': showError && (person.fullTimeStudent === undefined || person.fullTimeStudent === null)}">
            <label [innerHtml]="lang('./en/index.js').fullTimeStudentLabel" class="control-label"></label>
            <div class="btn-group" role="group">
                <button *ngFor='let answer of [{"value": true, "label": "Yes"}, {"value": false, "label": "No"}]'
                        [class.msp-btn-radio]="person.fullTimeStudent === answer.value"
                        (click)="setFullTimeStudent(answer.value)"
                        type="button" class="btn btn-default">{{answer.label}}
                </button>
                
            </div>
            <div *ngIf='showError && (person.fullTimeStudent === undefined || person.fullTimeStudent === null)'>
                <div class="text-danger" 
                    [innerHtml]="lang('./en/index.js').mustDeclareStudentStatus"></div>
            </div>
        </div>

    </div>
    

    <div class="row" *ngIf="person.documents.images.length > 0 &&
                            person.relationship === Relationship.Child19To24">
        <div class="form-group col-md-6"
            [ngClass]="{'has-error': !formRef.controls.schoolName?.valid && (schoolNameRef.touched || showError)}">
            <h2 [innerHtml]="lang('./en/index.js').nameOfSchool"></h2>
            <label for="schoolName" [innerHtml]="lang('./en/index.js').fullAttendanceLabel"></label>
            <input [(ngModel)]='person.schoolName' type="text" class="form-control"
                id="schoolName" name="schoolName" #schoolNameRef="ngModel"
                required
                maxlength="50">
            <div *ngIf='schoolNameRef.touched || showError'>
                <div class="text-danger" *ngIf="schoolNameRef.errors?.required"
                    [innerHtml]="lang('./en/index.js').schoolNameErrorIsRequired"></div>
            </div>
        </div>
    </div>
    <msp-address *ngIf="person.documents.images.length > 0 &&
        person.relationship === Relationship.Child19To24"
                [mailingAddressHeading]="lang('./en/index.js').schoolAddressLabel"
                [mailingAddress]="person.schoolAddress"
                [mailingOnly]="true"
                (onChange)="schoolAddressUpdate($event)"                 
                ></msp-address>

    <div class="row" *ngIf="person.documents.images.length > 0 &&
                            person.relationship === Relationship.Child19To24">
        <div class="form-group col-md-6">
            <msp-school-date [departureDate]="true"
                            [year]="person.studiesDepartureYear"
                            [required]="schoolInBC"
                            (yearChange)="person.studiesDepartureYear = $event"
                            [month]="person.studiesDepartureMonth"
                            (monthChange)="person.studiesDepartureMonth = $event"
                            [day]="person.studiesDepartureDay"
                            (dayChange)="person.studiesDepartureDay = $event"
                            (onChange) = "updateSchoolDepartureDate($event)">
            </msp-school-date>
        </div>
        <div class="form-group col-md-4">
            <msp-school-date [year]="person.studiesFinishedYear"
                            (yearChange)="person.studiesFinishedYear = $event"
                            [month]="person.studiesFinishedMonth"
                            (monthChange)="person.studiesFinishedMonth = $event"
                            [day]="person.studiesFinishedDay"
                            (dayChange)="person.studiesFinishedDay = $event"
                            (onChange) = "updateSchoolExpectedCompletionDate($event)">
            </msp-school-date>
        </div>
        
    </div>
    <div class="row" *ngIf="person.documents.images.length > 0">
        <div *ngIf="person.fullTimeStudent" class="col-md-6">
          <div class="form-group"
             [ngClass]="{'has-error': (person.inBCafterStudies===undefined || person.inBCafterStudies===null) && showError}">
            <label *ngIf="person.relationship === Relationship.Applicant" 
                [innerHtml]="lang('./en/index.js').inBCAfterStudiesLabel" class="control-label"></label>
            <label *ngIf="person.relationship === Relationship.Child19To24" class="control-label"
                [innerHtml]="lang('./en/index.js').childStayInBCAfterStudiesLabel"></label>
            <div class="btn-group" role="group">
                <button *ngFor='let answer of [{"value": true, "label": "Yes"}, {"value": false, "label": "No"}]'
                        [class.msp-btn-radio]="person.inBCafterStudies === answer.value"
                        (click)="person.inBCafterStudies = answer.value; onChange.emit(answer.value)"
                        type="button" class="btn btn-default">{{answer.label}}
                </button>
            </div>
            <div *ngIf="(person.inBCafterStudies===undefined || person.inBCafterStudies===null) && showError">
                <p class="text-danger" 
                    [innerHtml]="lang('./en/index.js').mustAnswerQuestion"></p>
            </div>

          </div>
        </div>
    </div>

</div>

</form>
<hr class="strong-hr">

<!-- switch *ngIf value to true for debugging-->
<div class="row" *ngIf='false'>
    <div class="col-md-12">
        <ul>
            <li *ngFor='let log of changeLog'>
                {{log | json}}
            </li>
        </ul>
    </div>

    <div class="col-md-12">
        <p>Person Data Model</p>
        {{this.person| json}}
        <p>firstname</p>
        <!--{{ formRef.controls.firstname | json}}-->
    </div>
</div>
