<form #formRef='ngForm' novalidate>
	<div class="row">
		<div class="col-md-5">
			<div class="title-container">
				<h1>{{person.relationship}}</h1>
				<!--<span style="margin-top: 28px; margin-left: 2em;">Remove</span>-->
				<div *ngIf = "person.relationship !== 'Yourself'">
					<div *ngIf = "person.relationship === 'Spouse'">
						<button type="button" class="btn btn-default btn-xs" 
							(click)="removeSpouse()">
							Remove
						</button>				
					</div>
					<div *ngIf = "person.relationship === 'Child'">
						<button type="button" class="btn btn-default btn-xs" 
							(click)="removeChild()">
							Remove
						</button>				
					</div>
				</div>
			</div>
			<div class="form-group" [ngClass]="{'has-error': !formRef.controls.firstname?.valid && firstnameRef.touched}">
				<label class="control-label" for="firstname">First name</label>
				<input type="text" [(ngModel)] = 'person.firstname' #firstnameRef="ngModel"
					required minlength="2"
					id='firstname' name='firstname'
          class="form-control" id="firstname" placeholder="First name">
			</div>

			<div *ngIf='firstnameRef.touched'>
				<div class="text-danger" *ngIf="firstnameRef.errors?.required">First name is required</div>
				<div class="text-danger" *ngIf="firstnameRef.errors?.minlength">First name must be longer than {{firstnameRef.errors?.minlength.requiredLength-1}} characters.</div>
			</div>

			<div class="form-group" [ngClass]="{'has-error': !formRef.controls.lastname?.valid && lastnameRef.touched}">
				<label class="control-label" for="lastname">Last name</label>
				<input type="text" [(ngModel)] = 'person.lastname' #lastnameRef="ngModel"
					required minlength="2"
				class="form-control" id="lastname" name='lastname'
				placeholder="Last name">
			</div>
			<div *ngIf='lastnameRef.touched'>
				<div class="text-danger" *ngIf="lastnameRef.errors?.required">Last name is required</div>
				<div class="text-danger" *ngIf="lastnameRef.errors?.minlength">Last name must be longer than {{lastnameRef.errors?.minlength.requiredLength-1}} characters.</div>
			</div>
			<div class="form-group">
				<label for="DOB">Date of birth</label>
				<div class="dob-container">
					<input required type="text" class="form-control dob-item" id="dob_month" placeholder="month">
					<input type="text" class="form-control dob-item" id="dob_day" placeholder="day">
					<input type="text" class="form-control dob-item" id="dob_year" placeholder="year">
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<h3>Identification documents for {{person.relationship | lowercase}}</h3>
		</div>
	</div>

	<h3>Residence, citizenship, Immigration status</h3>

	<div class="row">
		<!--<h3>Residence, citizenship, Immigration status</h3>-->
		<div class="col-md-4">
			<p>Your status in Canada</p>
			<h4>{{personStatus}}</h4>
			<p><a *ngIf="personStatus" href="javascript:void(0)" (click)="showStatusList()">
					<span *ngIf='isStatusListShown'>Close</span>
					<span *ngIf='!isStatusListShown'>Change</span>
				</a> 
			</p>	
			<ul class="list-group" [@shrinkOutStatus]="shrinkOutStatus">
				
				<li *ngFor="let st of statusInCanada" (click)=selectStatus(st);
					class="list-group-item canada-status">
						<span *ngIf="st !== personStatus" class="glyphicon glyphicon-unchecked"></span>
						<span *ngIf="st === personStatus" class="glyphicon glyphicon-check" style="color: green;"></span>
						<span>{{st}}</span>
				</li>
			</ul>			
		</div>
		<div class="col-md-8">
			<p>What are you doing? 
				</p>
				<h4>{{activity}}</h4>
			<p><a *ngIf="activity" href="javascript:void(0)" (click)="showActivities()">
					<span *ngIf='isActivitiesListShown'>Close</span>
					<span *ngIf='!isActivitiesListShown'>Change</span>
					</a> 
			</p>	
			<ul class="list-group" [@shrinkOut]="shrinkOut">
				<li *ngFor="let item of activities" (click)=selectActivity(item);
					class="list-group-item canada-status">
						<span *ngIf="item !== activity" class="glyphicon glyphicon-unchecked"></span>
						<span *ngIf="item === activity" class="glyphicon glyphicon-check" style="color: green;"></span>
						<span>{{item}}</span>
				</li>
			</ul>			
		</div>
		<div class="col-md-4" *ngIf="false">
			<h3 style="margin-top: 0">Please have the following ID ready</h3>
			<h4>(either as digital images/scans you can upload or originals you can photograph with your mobile device)</h4>
			<p>One of the following documents</p>
			<ul>
				<li>Birth Certificate</li>
				<li>Passport</li>
				<li>Canadian Citizenship Card</li>
			</ul>
		</div>
	</div>
</form>

<!-- switch *ngIf value to true for debugging-->
<div class="row" *ngIf='fasle'>
	<div class="col-md-12">
		<ul>
			<li *ngFor = 'let log of changeLog'>
					{{log | json}}
			</li>
		</ul>
	</div>
	<div class="col-md-12">
		{{ formRef.controls.firstname?.valid | json}}
		{{ formRef.controls.firstname?.value | json}}
	</div>
</div>
<hr>