.dates-container {
  display: flex;
  width: 18em;
  justify-content: space-around;
  flex-wrap:wrap;

  input:nth-child(1){
    width: 5em;
  }
  input:nth-child(2){
    width: 4em;
  }
  input:nth-child(3){
    width: 6em;
  }
}


.title-container {
  display:flex; 
  width: 22em; 
  align-items: center;  

  h1 {
    flex-grow: 1;
  }
  h4 {
    flex-grow: 1;
  }

  button {
    flex-grow: 0.1;
    margin-left: 0.5em;
    margin-top: 0.5em;
    color: #BDBDBD;

    border: none;
  }

  button:hover {
    background-color: #003366;
    color: floralwhite;
  }
}

.msp-fine-print {
  color: #424242;
  font-size: 10pt;
  font-weight: 300;
}

