.person-card-preview-zone {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;

  .preview-item {
    .edit--icon {
      cursor: pointer;
      float: right;
      display: flex;
      align-items: flex-end;
      flex-direction: row-reverse;
    }

    height: 110px;
    margin: 5px;
  }
}
.section {
  padding: 0.5rem;
}

.line-item {
  display: flex;
  flex-direction: row;
}

.line-item--text {
  width: 60%
}

.line-item--value {
  font-weight: normal;
}

.edit--icon {
  cursor: pointer;
  float: right;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
