<form #formRef="ngForm" novalidate >
    <common-page-framework layout="blank">
<h1> <strong> Contact Information </strong></h1>
<p>
    Please provide the Account Holder’s information. If you are requesting an update or correction to the address, please provide the new address here.
</p>

<common-page-section layout='double'>
    <h2> <strong> Residential Address</strong> </h2>
    <p>Enter your residential address - that's the address your currently reside at in B.C.</p>
    <hr>
    <common-address #address
                    [address]="mspAccountApp?.residentialAddress"
                    (addressChange)="handleAddressUpdate($event)"
                    [isRequired]="true">
    </common-address> 

    <div class="custom-control custom-checkbox">
        <input type="checkbox"
            class="custom-control-input"
            id="isMailingAddress"
            [checked]="mspAccountApp.mailingSameAsResidentialAddress"
            (click)="toggleCheckBox()" />
        <label class="custom-control-label" for="isMailingAddress">
        This is my mailing address.
        </label>
    </div>
    <aside>
        <h2> <strong> Mailing Address </strong></h2>
        <p>Enter your mailing address - if it's different </p>
        <hr>
        <div *ngIf="!mspAccountApp.mailingSameAsResidentialAddress; else NoMailingAddress">
        <common-address [address]="mspAccountApp?.mailingAddress"
                        (addressChange)="handleAddressUpdate($event)"
                        [defaultProvince]="defaultProvince"
                        [provinceList]="provinceList"
                        [isRequired]="true"></common-address> 
        </div>
    </aside>
</common-page-section>

<h2 class="border-bottom"><strong>Phone</strong></h2>
<div class="row">
    <div class="form-group col-3">
        <common-phone-number name="phone_number"
                            [label]="'Phone Number'"
                            [value]="mspAccountApp.phoneNumber"
                            (onChange)="handlePhoneNumberChange($event)"></common-phone-number>
    </div>
    <div class="form-group col-9">           
        <common-page-section layout="tips">
            <aside>
                <b>Tip</b>
                <p>
                    Please provide a phone number so you may be contacted in case of any issues with your application.
                </p>
            </aside>
        </common-page-section>
    </div>
</div>

</common-page-framework>
<common-form-action-bar [defaultColor]="false"  [canContinue]="canContinue()"
                        (btnClick)="continue()"
                        submitLabel="Continue">
</common-form-action-bar>

</form>

<ng-template #NoMailingAddress>
<div class="mail-address-container">
    <button type="button" class="btn btn-lg btn-warning mx-auto d-block" (click)="toggleCheckBox()">My mailing address
    is different.</button>
</div>
</ng-template>