<form #formRef='ngForm' novalidate>
    <div class="form-group"
         [ngClass]="{'has-error': (province === undefined || province === null || province?.length <1) && (provinceRef.touched || showError)}">
        <label class="control-label" for="province"
              [innerHtml]="provinceLabel"></label>
        
        <ng2-completer [(ngModel)]="province" (ngModelChange)="updateModel($event)"
                       [dataService]="dataService" [minSearchLength]="1"
                       [overrideSuggested]="true"
                       id="province" name="province" #provinceRef="ngModel"></ng2-completer>
        <div *ngIf='(provinceRef.touched || showError) && (province === undefined || province === null || province?.length < 1)'>
            <div class="text-danger" *ngIf="provinceRef.errors?.required"
                 [innerHtml]="lang('./en/index.js').provinceErrorIsRequired"></div>
        </div>
    </div>

</form>
