<form #formRef='ngForm' novalidate>
    <div class="form-group col-sm-5"
         [ngClass]="{'has-error': !formRef.controls.province?.valid && provinceRef.touched}">
        <label for="province" [innerHtml]="provinceLabel"></label>
        <select class="form-control"
                [(ngModel)]='province'
                id="province" name="province" #provinceRef="ngModel"
                required>
            <option value="AB">Alberta</option>
            <option value="BC">British Columbia</option>
            <option value="MB">Manitoba</option>
            <option value="NB">New Brunswick</option>
            <option value="NL">Newfoundland and Labrador</option>
            <option value="NS">Nova Scotia</option>
            <option value="NU">Nunavut</option>
            <option value="NT">Northwest Territories</option>
            <option value="ON">Ontario</option>
            <option value="PE">Prince Edward Island</option>
            <option value="QC">Quebec</option>
            <option value="SK">Saskatchewan</option>
            <option value="YT">Yukon</option>
        </select>
        <div *ngIf='provinceRef.touched'>
            <div class="text-danger" *ngIf="provinceRef.errors?.required"
                 [innerHtml]="lang('./en/index.js').provinceErrorIsRequired"></div>
        </div>
    </div>
</form>