<div class="container wrapper">
  <div ncy-breadcrumb></div>
  <div class="row">
    <div class="col-sm-3">
      <menubox/>
    </div>
    <div class="col-sm-9 col-md-5 col-lg-6">
      <h1 class="page-header">My Notification Subscriptions</h1>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Service</th>
          <th>Subscribe by</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in serviceSubscriptions">
          <td>
            {{item.name}}
          </td>
          <td>
            <div class="checkbox" ng-repeat="(k,v) in item.subscriptionData">
              <label>
                <input type="checkbox" ng-model="v.subscribed"> {{k}}
              </label>
              : <a ng-if="k==='email'" href="#" editable-email="v.channelId" oncancel="v.channelId || (v.subscribed=false)"
                   ng-click="v.subscribed = true">{{v.channelId || 'empty'}} {{v.channelId && v.state &&
              ('('+v.state+')')}}</a>
              <a ng-if="k==='sms'" href="#" editable-tel="v.channelId" e-pattern="\d{3}\-\d{3}\-\d{4}" e-title="xxx-xxx-xxxx" oncancel="v.channelId || (v.subscribed=false)" e-ng-keypress="onTelChange($event)"
                 ng-click="v.subscribed = true">{{v.channelId || 'empty'}} {{v.channelId && v.state &&
                ('('+v.state+')')}}</a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="btn btn-primary pull-right" ng-click="onSubmit()">Submit</div>
      <div class="btn btn-default pull-right">Cancel</div>
    </div>
    <div class="col-sm-9 col-md-4 col-lg-3 col-sm-offset-3 col-md-offset-0">
      <div class="panel panel-primary">
        <div class="panel-heading">Learn More</div>
        <div class="panel-body">
          <p>Learn how to set your notification preferences in our tutorial or watch a video below.</p>
          <div class="embed-responsive embed-responsive-4by3">
            <iframe src="https://www.youtube.com/embed/r0AxuT28-ic?wmode=transparent&amp;rel=0" frameborder="0"
                    allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
