<!--<div class="row" style="margin-top: 15px;" [ngClass]="{'tax-year-missing': (taxYearInfoMissing && !taxYearsSpecified)}">
    <div class="col-md-8">
        <h2 [innerHTML]="lang('./en/index.js').whatYearsToApplyFor">
        </h2>
    </div>
</div>-->

<!--<div class="row" style="margin-top: 5px; margin-bottom: 15px">
  <div class="col-md-8">
    <div [ngClass]="{'tax-year-missing': (taxYearInfoMissing && !taxYearsSpecified)}">
      <h2 [innerHTML]="lang('./en/index.js').whatYearsToApplyFor">
      </h2>
      <div>
        <p [innerHTML]="lang('./en/index.js').whatYearsToApplyForDetails">
        </p>
      </div>

      <div *ngIf="assistanceYearsList && assistanceYearsList.length > 0"> 
        <msp-assistance-year *ngFor="let assistanceYear of assistanceYearsList"
          [assistanceYear]='assistanceYear'
          (updateAssistanceYear) = "onAssistanceYearUpdate($event)">
        </msp-assistance-year>
      </div>
    </div>
  </div>
</div>-->

<div class="row" style="margin-top: 0px; margin-bottom: 15px">
    <div class="col-md-8" style="border: 1px solid transparent">
      <div [ngClass]="{'tax-year-missing': (taxYearInfoMissing && !taxYearsSpecified)}">
        <h2 [innerHTML]="lang('./en/index.js').whatYearsToApplyFor">
        </h2>
        <div>
          <p [innerHTML]="lang('./en/index.js').whatYearsToApplyForDetails">
          </p>
        </div>

        <div *ngIf="assistanceYearsList && assistanceYearsList.length > 0"> 
          <msp-assistance-year *ngFor="let assistanceYear of assistanceYearsList"
            [assistanceYear]='assistanceYear'
            (updateAssistanceYear) = "onAssistanceYearUpdate($event)">
          </msp-assistance-year>
        </div>
      </div>

        <h2 [innerHTML]="getFinanialInfoSectionTitle">
        </h2>
        <form #formRef='ngForm' novalidate>

        <div class="form-group"
            [ngClass]="{'has-error': !formRef.controls.netIncome?.valid && incomeRef.touched}">
            <div class="row">
                <div class="col-md-12">
                    <label for="netIncome">Enter your net income – see Line 236 of your Notice of Assessment or Reassessment from Canada Revenue Agency.</label>

                    <div class="col-md-3 col-sm-4 col-xs-6 input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" name="netIncome" id="netIncome"
                            [(ngModel)]="finAssistApp.netIncomelastYear"
                            #incomeRef="ngModel" 
                            pattern="^[1-9]{1}[0-9]{0,5}(\.[0-9]{2})?$"
                            required maxlength="12">
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="false">
            <pre>{{incomeRef.errors|json}}</pre>
            <pre>{{incomeRef.touched|json}}</pre>
            <pre>{{incomeRef.dirty|json}}</pre>
            <pre>{{incomeRef.value|json}}</pre>
        </div>
        <div *ngIf="(incomeRef.touched || incomeRef.dirty || (!!incomeRef.value && incomeRef.value.trim().length>0) || formRef.touched || !(finAssistApp.ageOver65 === null || finAssistApp.ageOver65 === undefined) ||
                         formRef.controls.spouseIncomeLine236?.valid || finAssistApp.spouseEligibleForDisabilityCredit)">
            <div class="text-danger" *ngIf="incomeRef.errors?.required"
                    [innerHTML]="lang('./en/index.js').incomeDataRequired"></div>
            <div class="text-danger" *ngIf="incomeRef.errors?.pattern"
                    [innerHTML]="lang('./en/index.js').invalidNumber"></div>
            <div class="text-danger" *ngIf="incomeRef.errors?.maxlength"
                    [innerHTML]="lang('./en/index.js').incomeDataMaxLength"></div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label>
                                Are you 65 or older this year?
                    </label>
                    <br/>
                    <div class="btn-group" role="group">
                        <button #ageOver65Btn [class.msp-btn-radio]="finAssistApp.ageOver65 === true" 
                            type="button" class="btn btn-default">Yes</button>
                        <button #ageNotOver65Btn [class.msp-btn-radio]="finAssistApp.ageOver65 === false" 
                            type="button" class="btn btn-default">No&nbsp;</button>
                    </div>
                    <div *ngIf='(incomeRef.touched || incomeRef.dirty || (!!incomeRef.value && incomeRef.value.trim().length>0) || finAssistApp.spouseEligibleForDisabilityCredit || formRef.controls.spouseIncomeLine236?.valid ) && 
                        (finAssistApp.ageOver65 === null || finAssistApp.ageOver65 === undefined)'>
                        <div class="text-danger"
                                [innerHTML]="lang('./en/index.js').ageGroupRequired"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" 
            [hidden]="incomeRef.invalid || finAssistApp.ageOver65 === null || finAssistApp.ageOver65 === undefined">
        <hr>
            <div class="col-md-10">
                <div class="form-group">
                    <label for="commonlaw">
                        Do you have a spouse or common-law partner?
                    </label>
                    <br/>
                    <div class="btn-group" role="group">
                        <button #hasSpouse [class.msp-btn-radio]="finAssistApp.hasSpouseOrCommonLaw === true" 
                             type="button" class="btn btn-default">Yes</button>
                        <button #negativeHasSpouse [class.msp-btn-radio]="finAssistApp.hasSpouseOrCommonLaw === false" 
                             type="button" class="btn btn-default">No&nbsp;</button>
                    </div>
                    <div *ngIf='(incomeRef.dirty || incomeRef.touched || (!!incomeRef.value && incomeRef.value.trim().length>0) ||
                        finAssistApp.spouseEligibleForDisabilityCredit === true ) && 
                        (finAssistApp.hasSpouseOrCommonLaw === null || finAssistApp.hasSpouseOrCommonLaw === undefined)'>
                        <div class="text-danger"
                                [innerHTML]="lang('./en/index.js').spouseCommonLawStatusRequired"></div>
                    </div>
                </div>
                <div class="form-group" [hidden]="!finAssistApp.hasSpouseOrCommonLaw">
                  <label for="">
                      Is your spouse/common-law partner 65 or older this year?
                  </label>
                    <div class="btn-group" role="group">
                        <button #spouseOver65Btn [class.msp-btn-radio]="finAssistApp.spouseAgeOver65 === true" 
                                type="button" class="btn btn-default">Yes</button>
                        <button #spouseOver65NegativeBtn [class.msp-btn-radio]="finAssistApp.spouseAgeOver65 === false" 
                                type="button" class="btn btn-default">No&nbsp;</button>
                    </div>
                    <div *ngIf='!(finAssistApp.hasSpouseOrCommonLaw === null || finAssistApp.hasSpouseOrCommonLaw === undefined) && 
                        (finAssistApp.spouseAgeOver65 === null || finAssistApp.spouseAgeOver65 === undefined)'>
                        <div class="text-danger"
                                [innerHTML]="lang('./en/index.js').ageGroupRequired"></div>
                    </div>
                </div>


                <div class="form-group" [hidden]="!finAssistApp.hasSpouseOrCommonLaw"
                    [ngClass]="{'has-error': !formRef.controls.spouseIncomeLine236?.valid}">
                  <label for="spouseIncomeLine236">
                    What is your spouse’s / common-law partner’s net income (Line 236) on last year’s Notice of Assessment (or Reassessment) from Canada Revenue Agency?
                  </label>
                  <div class="col-md-4 col-sm-5 col-xs-6 input-group">
                      <span class="input-group-addon">$</span>
                      <input type="text" class="form-control" name="spouseIncomeLine236" 
                        required maxlength="12" #spouseIncomeRef="ngModel" 
                        pattern="^[1-9]{1}[0-9]{0,5}(\.[0-9]{2})?$"
                        [(ngModel)]="finAssistApp.spouseIncomeLine236">
                  </div>
                    <div *ngIf='!formRef.controls.spouseIncomeLine236?.valid'>
                        <div class="text-danger" *ngIf="formRef.controls.spouseIncomeLine236?.errors?.required"
                                [innerHTML]="lang('./en/index.js').incomeDataRequired"></div>
                        <div class="text-danger" *ngIf="formRef.controls.spouseIncomeLine236?.errors?.maxlength"
                                [innerHTML]="lang('./en/index.js').incomeDataMaxLength"></div>
                        <div class="text-danger" *ngIf="spouseIncomeRef.errors?.pattern"
                                [innerHTML]="lang('./en/index.js').invalidNumber"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row"
            [hidden]="incomeRef.invalid || finAssistApp.ageOver65 === null || finAssistApp.ageOver65 === undefined">
        <hr>
            <div class="col-md-6">
                <div (click)="showChildrenInfo=true" *ngIf="!showChildrenInfo"
                    class="msp-toggle">
                    <span class="glyphicon glyphicon-collapse-up"
                        aria-hidden="true"></span>
                    <span [innerHTML]="lang('./en/index.js').childrenInfo"></span>
                </div>

                <div (click)="showChildrenInfo=false" *ngIf="showChildrenInfo"
                    class="msp-toggle">
                    <span class="glyphicon glyphicon-collapse-down"
                    aria-hidden="true"></span>
                    <span [innerHTML]="lang('./en/index.js').childrenInfo"></span>
                </div>
            </div>
        </div>
        <p></p>

        <div class="row" style="margin-left: 5px;"
            [hidden]="!showChildrenInfo || incomeRef.invalid || finAssistApp.ageOver65 === null || finAssistApp.ageOver65 === undefined">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="childrenCount" class="col-xs-8 col-md-8 control-label" style="text-align:left; padding-right: 0;">
                            How many children do you have on your Medical Services Plan?</label>
                        <div class="col-xs-3 col-md-2" style="text-align:left; padding-left: 3px;">
                            <input type="text" class="form-control" name="childrenCount" 
                                maxlength="2"
                                [(ngModel)]="finAssistApp.childrenCount">
                        </div>    
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="line214">
                                How much did you claim for child care expenses last year on your income tax return (Line 214)?
                            </label>

                            <div class="col-md-3 col-sm-4 col-xs-6 input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control" id="line214" name="line214" placeholder=""
                                pattern="(?=.)^(([1-9][0-9]{0,5}(,[0-9]{5})*)|[0-9]+)?(\.[0-9]{1,5})?$"
                                #line214Ref="ngModel"
                                [(ngModel)]="finAssistApp.claimedChildCareExpense_line214">
                            </div>

                            <div class="text-danger" *ngIf="line214Ref.errors?.pattern" [innerHTML]="lang('./en/index.js').invalidNumber"></div>
                            
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="line117">
                                How much did you report for the Universal Child Care Benefit on your income tax return (Line 117)?            
                            </label>

                            <div class="col-md-3 col-sm-4 col-xs-6 input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control" name="line117" id="line117" placeholder=""
                                pattern="(?=.)^(([1-9][0-9]{0,5}(,[0-9]{5})*)|[0-9]+)?(\.[0-9]{1,5})?$"
                                #line117Ref="ngModel"
                                [(ngModel)]="finAssistApp.reportedUCCBenefit_line117">
                            </div>
                            <div class="text-danger" *ngIf="line117Ref.errors?.pattern" [innerHTML]="lang('./en/index.js').invalidNumber"></div>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>

    <div [hidden]="incomeRef.invalid || finAssistApp.ageOver65 === null 
            || finAssistApp.ageOver65 === undefined">
            
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="msp-toggle" *ngIf="!showDisabilityInfo" (click)="showDisabilityInfo=true">
                        <span class="glyphicon glyphicon-collapse-up msp-toggle"
                        aria-hidden="true"></span>
                        <span [innerHTML]="lang('./en/index.js').disabilityInfo"></span>

                    </div>
                    <div class="msp-toggle" *ngIf="showDisabilityInfo" (click)="showDisabilityInfo=false">
                        <span class="glyphicon glyphicon-collapse-down msp-toggle"
                        aria-hidden="true"></span>
                        <span [innerHTML]="lang('./en/index.js').disabilityInfo"></span>
                    </div>
                </div>
            </div>


            <div class="row" [hidden]="!showDisabilityInfo" style="margin-left: 5px; margin-top: 15px;">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">
                            <!--Is anyone included on your public health insurance eligible for the Disability Credit as per Canada Revenue Agency (Lines 316, 318 or 326)? Please check all that apply.-->
                            Did anyone included in your MSP coverage claim a disability tax credit on last year's income tax return (Lines 316, 318 or 326)? 
                        </label>

                        <ul class="msp-horizontal-list-group">
                            <li #selfDisabilityCreditSet
                                class="msp-horizontal-list-group-item-sm msp-selectable"
                                [hidden]="finAssistApp.selfDisabilityCredit">
                                <span class="glyphicon glyphicon-unchecked"
                                    ></span>
                                <span>Myself</span>
                            </li>
                            <li #selfDisabilityCreditUnset
                                class="msp-horizontal-list-group-item-sm msp-selectable"
                                [hidden]="!finAssistApp.selfDisabilityCredit">
                                <span class="glyphicon glyphicon-check msp-selection"
                                    ></span>
                                <span>Myself</span>
                            </li>

                            <div [hidden] = "!finAssistApp.hasSpouseOrCommonLaw">
                                <li #spouseDisabilityCreditSet 
                                    class="msp-horizontal-list-group-item-lg msp-selectable"
                                    [hidden]="finAssistApp.spouseEligibleForDisabilityCredit">
                                    <span class="glyphicon glyphicon-unchecked"></span>
                                    <span>My spouse/common-law partner</span>
                                </li>
                                <li #spouseDisabilityCreditUnset 
                                    class="msp-horizontal-list-group-item-lg msp-selectable"
                                    [hidden]="!finAssistApp.spouseEligibleForDisabilityCredit">
                                    <span class="glyphicon glyphicon-check msp-selection"></span>
                                    <span>My spouse/common-law partner</span>
                                </li>
                            </div>
                        </ul>

                    </div>
                </div>
                <!--<div class="row">-->
                    <div class="col-md-3" [hidden]="!finAssistApp.childrenCount">
                        <div class="form-group">
                            <ul class="msp-horizontal-list-group">
                                <li #childDisabilityCreditset
                                    [hidden] = finAssistApp.childWithDisabilityCount
                                    class="msp-horizontal-list-group-item-lg msp-selectable">
                                    <span class="glyphicon glyphicon-unchecked"></span>
                                    <span>My Child</span>
                                </li>
                                <li #childDisabilityCreditUnset
                                    [hidden] = !finAssistApp.childWithDisabilityCount
                                    class="msp-horizontal-list-group-item-lg msp-selectable">
                                    <span class="glyphicon glyphicon-check msp-selection"></span>
                                    <span>My Child</span>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-9" *ngIf="(finAssistApp.childWithDisabilityCount && (finAssistApp.childrenCount > 1))">
                        <div class="form-group">
                            <div class="col-md-9" >
                                <p style="margin: 5px 0 0 0">Number of chilldren who are eligible for disability credit</p>
                            </div>
                            <div class="col-md-3" >
                                <select name="childWithDisabilityCount" 
                                    #childDisabilityCreditCreditMultiplierSelect
                                    [ngModel] = "finAssistApp.childWithDisabilityCount"
                                    (ngModelChange) = "updateChildDisabilityCreditCreditMultiplier($event)">
                                    <option *ngFor="let v of finAssistApp.childrenCountArray()" 
                                        [value]="v">
                                        {{v}}
                                    </option>
                                </select>
                            </div>
                        </div>        
                    </div>
                <!--</div>-->
                
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="line125">
                                    How much did you (or your spouse / common-law partner) report for a Registered Disability
                                    Savings Plan on your income tax return (Line 125)?
                                </label>

                                <div class="col-md-3 col-sm-4 col-xs-6 input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" name="line125" id="line125"
                                    pattern="(?=.)^(([1-9][0-9]{0,5}(,[0-9]{5})*)|[0-9]+)?(\.[0-9]{1,5})?$"
                                    #line125Ref="ngModel"
                                    [(ngModel)]="finAssistApp.spouseDSPAmount_line125">
                                </div>
                                <div class="text-danger" *ngIf="line125Ref.errors?.pattern" [innerHTML]="lang('./en/index.js').invalidNumber"></div>
                                
                            </div>
                        </div>
                    </div>

                </div>
            
            </div>
            
            <hr>
            <div class="row" style="margin-top: 12px">
                <div class="col-sm-10">
                    <div class="msp-toggle" *ngIf="!showAttendantCareInfo" (click)="showAttendantCareInfo=true">
                        <span class="glyphicon glyphicon-collapse-up msp-toggle"
                        aria-hidden="true"></span>
                        <span [innerHTML]="lang('./en/index.js').nursingHomeLabel"></span>

                    </div>
                    <div class="msp-toggle" *ngIf="showAttendantCareInfo" (click)="showAttendantCareInfo=false">
                        <span class="glyphicon glyphicon-collapse-down msp-toggle"
                        aria-hidden="true"></span>
                        <span [innerHTML]="lang('./en/index.js').nursingHomeLabel"></span>
                    </div>
                </div>
            </div>
            
            <div [hidden]="!showAttendantCareInfo" style="margin-left: 15px; margin-top: 10px;">
                <div class="row">
                    <div class="col-xs-12">
                        <label>
                            Did anyone included in your MSP coverage claim attendant or nursing home expenses <strong>in place of a disability</strong> on last year's tax return (line 215 or line 330)?
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <div class="form-group">
                            <div class="checkbox checkbox-success checkbox-inline">
                                    <input type="checkbox"
                                    name="applicantClaimForAttendantCareExpense"
                                    id="applicantClaimForAttendantCareExpense"
                                    [ngModel]="finAssistApp.applicantClaimForAttendantCareExpense"
                                    (click)="applicantClaimForAttendantCareExpense($event)">
                                <label for="applicantClaimForAttendantCareExpense">
                                    Myself
                                </label>
                            </div>     
                        </div>
                    </div>
                    <div class="col-md-8" *ngIf="finAssistApp.hasSpouseOrCommonLaw === true">
                        <div class="checkbox checkbox-success checkbox-inline">
                            <div class="form-group">
                                <input type="checkbox" 
                                name="spouseClaimForAttendantCareExpense"
                                id="spouseClaimForAttendantCareExpense"
                                [ngModel] = "finAssistApp.spouseClaimForAttendantCareExpense"
                                (click)="spouseClaimForAttendantCareExpense($event)">
                                <label for="spouseClaimForAttendantCareExpense">
                                    My spouse/common-law partner
                                </label>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="row" style="margin-top:10px" *ngIf="!!finAssistApp.childrenCount">
                    <div class="col-md-3 col-md-offset-1">
                        <div class="checkbox checkbox-success checkbox-inline">
                                <input type="checkbox" 
                                name="childClaimForAttendantCareExpense"
                                id="childClaimForAttendantCareExpense"
                                [ngModel] = "finAssistApp.childClaimForAttendantCareExpense"
                                (click) = "childClaimForAttendantCareExpense($event)">
                                <label for="childClaimForAttendantCareExpense">
                                    My child
                                </label>
                        </div>                        
                    </div>    
                    <div class="col-md-8" [hidden]="!finAssistApp.childClaimForAttendantCareExpense || finAssistApp.childrenCount < 2">
                        <div class="row">
                            <div class="col-xs-12">
                                <span>Number of children who claimed for attendant care expense</span>
                                <span style="margin-left: 5px">
                                    <select name="childClaimForAttendantCareExpenseCount" 
                                        #childDisabilityCreditCreditMultiplierSelect
                                        [(ngModel)] = "finAssistApp.childClaimForAttendantCareExpenseCount">
                                        <option *ngFor="let v of finAssistApp.childrenCountArray()" 
                                            [value]="v">
                                            {{v}}
                                        </option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px;" *ngIf="requireAttendantCareReceipts">
                    <div class="col-md-12">
                        <label for="netIncome">Please upload your attendant care receipts for the expense entered above (required).</label>
                        <msp-file-uploader #fileUploader
                            [images]="finAssistApp.attendantCareExpenseReceipts" 
                            [id]='finAssistApp.id'
                            (onAddDocument)="addReceipts($event)"
                            (onErrorDocument)="errorReceipts($event)"
                            (onDeleteDocument)="deleteReceipts($event)">
                          <span id="uploadInstruction">Please upload documents for your expenses</span>
                            
                        </msp-file-uploader>
                        <msp-image-error-modal #mspImageErrorModal></msp-image-error-modal>
                    </div>
                </div>
            </div>
    </div>


    </form>
    </div>

    <div class="col-md-4">
        <deduction-calculator [application]="finAssistApp" [qualificationThreshhold] = "qualificationThreshhold"
          (taxYearInfoMissing)= "onTaxYearInfoMissing($event)">
        </deduction-calculator>
        <p></p>
    </div>
</div>

<div class="row">
    <div class="col-xs-2 col-xs-offset-7">
    </div>
</div>

<msp-consent-modal #mspConsentModal [application]="dataService.finAssistApp" [processName]="lang('./en/index.js').consentProcessName"></msp-consent-modal>

<div bsModal #disabilityNursingHomeChoiceModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="disabilityNursingHomeChoiceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title pull-left">Claim either {{claimCategory}} or {{counterClaimCategory}}</h3>
            <button type="button" class="close pull-right" aria-label="Close" (click)="disabilityNursingHomeChoiceModal.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <p>
                    You have already selected <span class="msp-emphasis">{{counterClaimCategory}}</span> for {{claimant}}.
                </p>
                <p>
                    If you add <span class="msp-emphasis">{{claimCategory}}</span> for {{claimant}}, your {{counterClaimCategory}} will be removed.
                </p>
                <p>
                    Do you want to continue to add {{claimCategory}} for {{claimant}}?
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-md pull-left" data-dismiss="modal"
                (click)="switchClaim(claimant, claimCategory, counterClaimCategory)">Yes, continue</button>
            <button type="button" class="btn btn-danger btn-md pull-right" data-dismiss="modal"
                (click)="disabilityNursingHomeChoiceModal.hide()">No, cancel</button>
        </div>
        </div>
    </div>
</div>
