<div class="row" style="margin-top: 0px; margin-bottom: 15px">
    <div class="col-lg-8" style="border: 1px solid transparent">
      <div [ngClass]="{'tax-year-missing': (taxYearInfoMissing && !taxYearsSpecified)}">
        <h2 [innerHTML]="lang('./en/index.js').whatYearsToApplyFor" tabindex="0">
        </h2>
        <div>
          <p [innerHTML]="lang('./en/index.js').whatYearsToApplyForDetails" tabindex="0">
          </p>
        </div>

        <div *ngIf="assistanceYearsList && assistanceYearsList.length > 0">
          <msp-assistance-year #assistanceYearComp *ngFor="let assistanceYear of assistanceYearsList"
            [assistanceYear]='assistanceYear'
            (updateAssistanceYear) = "onAssistanceYearUpdate($event)">
          </msp-assistance-year>
        </div>
      </div>

        <h2 [innerHTML]="getFinanialInfoSectionTitle" tabindex="0">
        </h2>
        <form #formRef='ngForm' novalidate>

        <div class="form-group"
            [ngClass]="{'has-error': !formRef.controls.netIncome?.valid && incomeRef.touched}">
            <div class="row">
                <div class="col-lg-12">
                    <label for="netIncome">Enter your net income – see Line 236 of your Notice of Assessment or Reassessment from Canada Revenue Agency.</label>

                    <div class="col-lg-3 col-md-4 col-sm-6 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="text" class="form-control" name="netIncome" id="netIncome"
                            [(ngModel)]="finAssistApp.netIncomelastYear"
                            #incomeRef="ngModel" 
                            pattern="^[0-9]{1}[0-9]{0,5}(\.[0-9]{1,2})?$"
                            required maxlength="12">
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="(incomeRef.touched || incomeRef.dirty || (!!incomeRef.value && incomeRef.value.trim().length>0) || formRef.touched || !(finAssistApp.ageOver65 === null || finAssistApp.ageOver65 === undefined) ||
                         formRef.controls.spouseIncomeLine236?.valid || finAssistApp.spouseEligibleForDisabilityCredit)">
            <div class="text-danger" *ngIf="incomeRef.errors?.required"
                    [innerHTML]="lang('./en/index.js').incomeDataRequired" tabindex="0"></div>
            <div class="text-danger" *ngIf="incomeRef.errors?.pattern"
                    [innerHTML]="lang('./en/index.js').invalidNumber" tabindex="0"></div>
            <div class="text-danger" *ngIf="incomeRef.errors?.maxlength"
                    [innerHTML]="lang('./en/index.js').incomeDataMaxLength" tabindex="0"></div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <div class="form-group">
                  <div role="dialog" aria-labelledby="q1">
                      <p id="q1" class="intro" [innerHtml]="lang('./en/index.js').areYou65OrOlder"></p>
                      <div class="btn-group" role="group">
                          <button #ageOver65Btn [class.msp-btn-radio]="finAssistApp.ageOver65 === true" 
                              type="button" class="btn btn-default">Yes</button>
                          <button #ageNotOver65Btn [class.msp-btn-radio]="finAssistApp.ageOver65 === false" 
                              type="button" class="btn btn-default">No&nbsp;</button>
                      </div>
                  </div>                    
                    <div *ngIf='(incomeRef.touched || incomeRef.dirty || (!!incomeRef.value && incomeRef.value.trim().length>0) || finAssistApp.spouseEligibleForDisabilityCredit || formRef.controls.spouseIncomeLine236?.valid ) && 
                        (finAssistApp.ageOver65 === null || finAssistApp.ageOver65 === undefined)'>
                        <div class="text-danger"
                                [innerHTML]="lang('./en/index.js').ageGroupRequired"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" tabindex="-1"
            [hidden]="incomeRef.invalid || finAssistApp.ageOver65 === null || finAssistApp.ageOver65 === undefined">
            <div class="col-lg-10">
                <div class="form-group">
                  <div role="dialog" aria-labelledby="q2">
                    <p id="q2" class="intro" [innerHtml]="lang('./en/index.js').doYouHaveASpouseOrPartner"></p>
                    <div class="btn-group" role="group">
                        <button #hasSpouse [class.msp-btn-radio]="finAssistApp.hasSpouseOrCommonLaw === true" 
                             type="button" class="btn btn-default">Yes</button>
                        <button #negativeHasSpouse [class.msp-btn-radio]="finAssistApp.hasSpouseOrCommonLaw === false" 
                             type="button" class="btn btn-default">No&nbsp;</button>
                    </div>

                  </div>                    
                    <div *ngIf='(incomeRef.dirty || incomeRef.touched || (!!incomeRef.value && incomeRef.value.trim().length>0) ||
                        finAssistApp.spouseEligibleForDisabilityCredit === true ) && 
                        (finAssistApp.hasSpouseOrCommonLaw === null || finAssistApp.hasSpouseOrCommonLaw === undefined)'>
                        <div class="text-danger" tabindex="0"
                                [innerHTML]="lang('./en/index.js').spouseCommonLawStatusRequired"></div>
                    </div>
                    <div class="padded" tabindex="0" [innerHtml]="lang('./en/index.js').notifySpouseWarning"></div>
                </div>
                <div class="form-group" [hidden]="!finAssistApp.hasSpouseOrCommonLaw">
                  <div role="dialog" aria-labelledby="q3">
                    <p id="q3" class="intro" [innerHtml]="lang('./en/index.js').isYourSpouseOrPartner65OrOlder"></p>
                    <div class="btn-group" role="group">
                        <button #spouseOver65Btn [class.msp-btn-radio]="finAssistApp.spouseAgeOver65 === true" 
                                type="button" class="btn btn-default">Yes</button>
                        <button #spouseOver65NegativeBtn [class.msp-btn-radio]="finAssistApp.spouseAgeOver65 === false" 
                                type="button" class="btn btn-default">No&nbsp;</button>
                    </div>
                  </div>
                    <div *ngIf='!(finAssistApp.hasSpouseOrCommonLaw === null || finAssistApp.hasSpouseOrCommonLaw === undefined) && 
                        (finAssistApp.spouseAgeOver65 === null || finAssistApp.spouseAgeOver65 === undefined)'>
                        <div class="text-danger" tabindex="0"
                                [innerHTML]="lang('./en/index.js').ageGroupRequired"></div>
                    </div>
                </div>


                <div class="form-group" [hidden]="!finAssistApp.hasSpouseOrCommonLaw"
                    [ngClass]="{'has-error': !formRef.controls.spouseIncomeLine236?.valid}">
                  <label for="spouseIncomeLine236" [innerHtml]="lang('./en/index.js').whatIsYourSpouseOrPartnerIncome">
                  </label>
                  <div class="col-lg-4 col-md-5 col-sm-6 input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                      </div>
                      <input type="text" class="form-control" name="spouseIncomeLine236" id="spouseIncomeLine236" 
                        required maxlength="12" #spouseIncomeRef="ngModel" 
                        pattern="^[0-9]{1}[0-9]{0,5}(\.[0-9]{1,2})?$"
                        [(ngModel)]="finAssistApp.spouseIncomeLine236">
                  </div>
                    <div *ngIf='!formRef.controls.spouseIncomeLine236?.valid'>
                        <div class="text-danger" *ngIf="formRef.controls.spouseIncomeLine236?.errors?.required"
                                [innerHTML]="lang('./en/index.js').incomeDataRequired" tabindex="0"></div>
                        <div class="text-danger" *ngIf="formRef.controls.spouseIncomeLine236?.errors?.maxlength"
                                [innerHTML]="lang('./en/index.js').incomeDataMaxLength" tabindex="0"></div>
                        <div class="text-danger" *ngIf="spouseIncomeRef.errors?.pattern"
                                [innerHTML]="lang('./en/index.js').invalidNumber" tabindex="0"></div>
                    </div>
                </div>
            </div>
        </div>

        <div  tabindex="-1"
            [hidden]="incomeRef.invalid || finAssistApp.ageOver65 === null || finAssistApp.ageOver65 === undefined">
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <div (click)="showChildrenInfo=true" *ngIf="!showChildrenInfo"
                        [mspKeyboard] = "'Enter'" (keyboardAction) = "showChildrenInfo=true"
                        class="msp-toggle" tabindex="0" role="button">
                        <span class="fa fa-caret-square-o-up"
                            aria-hidden="true"></span>
                        <span
                        [innerHTML]="lang('./en/index.js').childrenInfo"
                        ></span>
                    </div>

                    <div (click)="showChildrenInfo=false" *ngIf="showChildrenInfo"
                        [mspKeyboard] = "'Enter'" (keyboardAction) = "showChildrenInfo=false"
                        class="msp-toggle" tabindex="0" role="button">
                        <span class="fa fa-caret-square-o-down"
                        aria-hidden="true"></span>
                        <span [innerHTML]="lang('./en/index.js').childrenInfo"></span>
                    </div>
                </div>
            </div>
        </div>
        <p></p>

        <div class="row" style="margin-left: 5px;"
            [hidden]="!showChildrenInfo || incomeRef.invalid || finAssistApp.ageOver65 === null || finAssistApp.ageOver65 === undefined">
            <div class="col-lg-12">
                <div class="form-horizontal">
                    <div class="form-group row">
                        <label for="childrenCount"
                          class="col-sm-8 col-lg-8 col-form-label" style="text-align:left; padding-right: 0;"
                            [innerHtml]="lang('./en/index.js').howManyChildrenDoYouHaveOnYourMSP">
                          </label>
                        <div class="col-sm-3 col-lg-2" style="text-align:left; padding-left: 3px;">
                            <input type="text" class="form-control" name="childrenCount" 
                                id="childrenCount"
                                maxlength="2"
                                [(ngModel)]="finAssistApp.childrenCount">
                        </div>    
                    </div>
                </div>
                
                <div class="form-group">
                            <label for="line214" 
                              [innerHtml]="lang('./en/index.js').howMuchDidYouClaimForChildCareExpenseLastYear">
                            </label>

                            <div class="col-lg-3 col-md-4 col-sm-6 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" class="form-control" id="line214" name="line214" placeholder=""
                                pattern="(?=.)^(([1-9][0-9]{0,5}(,[0-9]{5})*)|[0-9]+)?(\.[0-9]{1,5})?$"
                                #line214Ref="ngModel"
                                [(ngModel)]="finAssistApp.claimedChildCareExpense_line214">
                            </div>

                            <div class="text-danger" *ngIf="line214Ref.errors?.pattern" [innerHTML]="lang('./en/index.js').invalidNumber"></div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="line117" 
                              [innerHtml]="lang('./en/index.js').howMuchDidYouReportForUCC">
                            </label>

                            <div class="col-lg-3 col-md-4 col-sm-6 input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" class="form-control" name="line117" id="line117" placeholder=""
                                pattern="^[0-9]{1}[0-9]{0,5}(\.[0-9]{1,2})?$"
                                #line117Ref="ngModel"
                                [(ngModel)]="finAssistApp.reportedUCCBenefit_line117">
                            </div>
                            <div class="text-danger" *ngIf="line117Ref.errors?.pattern" [innerHTML]="lang('./en/index.js').invalidNumber"></div>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>

    <div [hidden]="incomeRef.invalid || finAssistApp.ageOver65 === null 
            || finAssistApp.ageOver65 === undefined">
            
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <div class="msp-toggle" tabindex="0" role="button"
                        [mspKeyboard] = "['Enter','space']" (keyboardAction) = "showDisabilityInfo=true"
                        *ngIf="!showDisabilityInfo" (click)="showDisabilityInfo=true">
                        <span class="fa fa-caret-square-o-up msp-toggle"
                        aria-hidden="true"></span>
                        <span [innerHTML]="lang('./en/index.js').disabilityInfo"></span>
                    </div>
                    <div class="msp-toggle" tabindex="0" role="button"
                        [mspKeyboard] = "['Enter','space']" (keyboardAction) = "showDisabilityInfo=false"
                        *ngIf="showDisabilityInfo" (click)="showDisabilityInfo=false">
                        <span class="fa fa-caret-square-o-down msp-toggle"
                        aria-hidden="true"></span>
                        <span [innerHTML]="lang('./en/index.js').disabilityInfo"></span>
                    </div>
                </div>
            </div>


            <div class="row" [hidden]="!showDisabilityInfo" style="margin-top: 15px;">
                <div class="col-lg-12">

                  <div role="dialog" aria-labelledby="anyoneClaimeDisabilityQ">
                    <label id="anyoneClaimeDisabilityQ" style="margin-bottom: 5px"
                      [innerHtml]="lang('./en/index.js').didAnyoneClaimDisabilityTaxCreditLastYear">
                    </label>
                    <div class="form-group">
                        <div class="checkbox checkbox-success checkbox-inline" style="margin-left: 15px">
                              <input type="checkbox" tabindex="0"
                                name="applicantClaimForDisabilityCredit"
                                id="applicantClaimForDisabilityCredit"
                                [checked]="finAssistApp.selfDisabilityCredit"
                                (click)="toggleClaimForSelfDisabilityCredit($event)">
                            <label for="applicantClaimForDisabilityCredit">
                                Myself
                            </label>
                        </div>     
                    </div>

                    <div class="form-group" *ngIf="finAssistApp.hasSpouseOrCommonLaw">
                        <div class="checkbox checkbox-success checkbox-inline" style="margin-left: 15px">
                              <input type="checkbox" tabindex="0"
                                name="spouseClaimForDisabilityCredit"
                                id="spouseClaimForDisabilityCredit"
                                [checked]="finAssistApp.spouseEligibleForDisabilityCredit"
                                (click)="toggleClaimForSpouseDisabilityCredit($event)">
                            <label for="spouseClaimForDisabilityCredit">
                                My spouse/common-law partner
                            </label>
                        </div>     
                    </div>
                    <div class="form-group" *ngIf="(finAssistApp.childrenCount > 0)">
                        <label for="childWithDisabilityCount" class="col-md-7"> 
                          Number of chilldren who are eligible for disability credit
                        </label>
                        <select name="childWithDisabilityCount" id="childWithDisabilityCount" class="col-md-1" role="Option"
                            #childDisabilityCreditCreditMultiplierSelect
                            [ngModel] = "finAssistApp.childWithDisabilityCount"
                            (ngModelChange) = "updateChildDisabilityCreditCreditMultiplier($event)">
                            <option *ngFor="let v of finAssistApp.childrenCountArray()" 
                                [value]="v">
                                {{v}}
                            </option>
                        </select>
                    </div>  
                  </div>

                </div>
            </div>

          <div class="row" [hidden]="!showDisabilityInfo" style="margin-left: 5px; margin-top: 15px;">
              
              <div class="col-lg-12">
                  <div class="form-group">
                      <div class="row">
                          <div class="col-lg-12">
                              <label for="line125">
                                  How much did you (or your spouse / common-law partner) report for a Registered Disability
                                  Savings Plan on your income tax return (Line 125)?
                              </label>

                              <div class="col-lg-3 col-md-4 col-sm-6 input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">$</span>
                                  </div>
                                  <input type="text" class="form-control" name="line125" id="line125"
                                  pattern="^[0-9]{1}[0-9]{0,5}(\.[0-9]{1,2})?$"
                                  #line125Ref="ngModel"
                                  [(ngModel)]="finAssistApp.spouseDSPAmount_line125">
                              </div>
                              <div class="text-danger" *ngIf="line125Ref.errors?.pattern" [innerHTML]="lang('./en/index.js').invalidNumber"></div>
                              
                          </div>
                      </div>
                  </div>

              </div>
            </div>
            
            <hr>
            <div class="row" style="margin-top: 12px">
                <div class="col-md-10">
                    <div class="msp-toggle" tabindex="0"
                        [mspKeyboard] = "'Enter'" (keyboardAction) = "showAttendantCareInfo=true"
                        *ngIf="!showAttendantCareInfo" (click)="showAttendantCareInfo=true">
                        <span class="fa fa-caret-square-o-up msp-toggle"
                        aria-hidden="true"></span>
                        <span [innerHTML]="lang('./en/index.js').nursingHomeLabel" tabindex="0"></span>

                    </div>
                    <div class="msp-toggle" tabindex="0"
                        [mspKeyboard] = "'Enter'" (keyboardAction) = "showAttendantCareInfo=false"
                         *ngIf="showAttendantCareInfo" (click)="showAttendantCareInfo=false">
                        <span class="fa fa-caret-square-o-down msp-toggle"
                        aria-hidden="true"></span>
                        <span [innerHTML]="lang('./en/index.js').nursingHomeLabel" tabindex="0"></span>
                    </div>
                </div>
            </div>
            
            <div [hidden]="!showAttendantCareInfo" style="margin-left: 15px; margin-top: 10px;" 
              role="dialog" aria-labelledby="anyoneClaimeAttendantCareQ">
                <div class="row">
                    <div class="col-sm-12">
                      <label id="anyoneClaimeAttendantCareQ" style="margin-bottom: 5px"
                        [innerHtml]="lang('./en/index.js').didAnyoneClaimAttendantCareLastYear">
                      </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-lg-offset-1">
                        <div class="form-group">
                            <div class="checkbox checkbox-success checkbox-inline">
                                    <input type="checkbox" tabindex="0"
                                    name="applicantClaimForAttendantCareExpense"
                                    id="applicantClaimForAttendantCareExpense"
                                    [ngModel]="finAssistApp.applicantClaimForAttendantCareExpense"
                                    (click)="applicantClaimForAttendantCareExpense($event)">
                                <label for="applicantClaimForAttendantCareExpense">
                                    Myself
                                </label>
                            </div>     
                        </div>
                    </div>
                    <div class="col-lg-8" *ngIf="finAssistApp.hasSpouseOrCommonLaw === true">
                        <div class="checkbox checkbox-success checkbox-inline">
                            <div class="form-group">
                                <input type="checkbox" tabindex="0"
                                name="spouseClaimForAttendantCareExpense"
                                id="spouseClaimForAttendantCareExpense"
                                [ngModel] = "finAssistApp.spouseClaimForAttendantCareExpense"
                                (click)="spouseClaimForAttendantCareExpense($event)">
                                <label for="spouseClaimForAttendantCareExpense">
                                    My spouse/common-law partner
                                </label>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="row" style="margin-top:10px" *ngIf="!!finAssistApp.childrenCount">
                    <div class="col-lg-3 col-lg-offset-1">
                        <div class="form-group">
                        <div class="checkbox checkbox-success checkbox-inline">
                                <input type="checkbox" tabindex="0"
                                name="childClaimForAttendantCareExpense"
                                id="childClaimForAttendantCareExpense"
                                [ngModel] = "finAssistApp.childClaimForAttendantCareExpense"
                                (click) = "childClaimForAttendantCareExpense($event)">
                                <label for="childClaimForAttendantCareExpense">
                                    My child
                                </label>
                        </div>
                    </div>
                    </div>    
                    <div class="col-lg-8" [hidden]="!finAssistApp.childClaimForAttendantCareExpense || finAssistApp.childrenCount < 2">
                        <div class="row">
                            <div class="col-sm-12">
                                <span>Number of children who claimed for attendant care expense</span>
                                <span style="margin-left: 5px">
                                    <select name="childClaimForAttendantCareExpenseCount" 
                                        #childDisabilityCreditCreditMultiplierSelect
                                        [(ngModel)] = "finAssistApp.childClaimForAttendantCareExpenseCount">
                                        <option *ngFor="let v of finAssistApp.childrenCountArray()" 
                                            [value]="v">
                                            {{v}}
                                        </option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px;" *ngIf="requireAttendantCareReceipts">
                    <div class="col-lg-12">
                        <label for="netIncome">Please upload your attendant care receipts for the expense entered above (required).</label>
                        <msp-file-uploader #fileUploader
                            [images]="finAssistApp.attendantCareExpenseReceipts" 
                            [id]='finAssistApp.id'
                            (onAddDocument)="addReceipts($event)"
                            (onErrorDocument)="errorReceipts($event)"
                            (onDeleteDocument)="deleteReceipts($event)">
                          <span id="uploadInstruction"
                            #uploadInstruction>
                            Please upload documents for your expenses
                          </span>
                            
                        </msp-file-uploader>
                        <msp-image-error-modal #mspImageErrorModal></msp-image-error-modal>
                    </div>
                </div>
            </div>
    </div>


    </form>
    </div>

    <div class="col-lg-4">
        <deduction-calculator [application]="finAssistApp" [qualificationThreshhold] = "qualificationThreshhold"
          (taxYearInfoMissing)= "onTaxYearInfoMissing()">
        </deduction-calculator>
        <p></p>
    </div>
</div>

<div class="row">
    <div class="col-sm-2 col-sm-offset-7">
    </div>
</div>

<msp-consent-modal #mspConsentModal [application]="dataService.finAssistApp"
                   [processName]="lang('./en/index.js').consentProcessName"
                    (onClose)="assistanceYearComp.focus()"></msp-consent-modal>

<div bsModal #disabilityNursingHomeChoiceModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}"
    tabindex="0" role="dialog" aria-labelledby="disabilityNursingHomeChoiceModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title pull-left">Claim either {{claimCategory}} or {{counterClaimCategory}}</h3>
            <button type="button" class="close pull-right" aria-label="Close" (click)="disabilityNursingHomeChoiceModal.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <p>
                    You have already selected <span class="msp-emphasis">{{counterClaimCategory}}</span> for {{claimant}}.
                </p>
                <p>
                    If you add <span class="msp-emphasis">{{claimCategory}}</span> for {{claimant}}, your {{counterClaimCategory}} will be removed.
                </p>
                <p>
                    Do you want to continue to add {{claimCategory}} for {{claimant}}?
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-md pull-left" data-dismiss="modal" tabindex="0"
                (click)="switchClaim(claimant, claimCategory, counterClaimCategory)">Yes, continue</button>
            <button type="button" class="btn btn-danger btn-md pull-right" data-dismiss="modal" tabindex="0"
                (click)="disabilityNursingHomeChoiceModal.hide()">No, cancel</button>
        </div>
        </div>
    </div>
</div>
