.msp-emphasis {
    font-size: 1.20em;
    font-weight: 600;
}

.tax-year-missing {
  h2 {
   color: #B71C1C;
  }

  p {
   color: #B71C1C;
  }
  div {
   color: #B71C1C;
  }
}

.form-group .checkbox-inline{
  //Override inline styling
  margin-left: 2rem !important;
  margin-top: 0.25rem;
}

