.deduction-calc-spacer-lg {
  margin-top: 55%; 
}
.deduction-calc-spacer-md {
  margin-top: 55%; 
}

.deduction-calc-spacer-sm {
  margin-top: 5%; 
}
.deduction-calc {
  /*border: 1px solid red; */
  padding: 10px 10px 25px 25px; 
  background: #ECEFF1;

  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 0px solid #ECEFF1;    
}

.deduction-table-cell-padding {
  padding-left: 10px;
}

.deduction-table-cell-margin {
  /*border: 1px solid red;*/
  padding: 10px 10px 5px 10px;
}