<!--<div class="deduction-calc-spacer-lg hidden-xs hidden-sm"></div>-->
<h2></h2>
<div class="panel panel-primary" style="margin-bottom:5px">
  <!-- Default panel contents -->
  <div class="panel-heading" tabindex="0">Coming soon</div>
  <div class="panel-body">
    <p [innerHTML]="lang('./en/index.js').comingSoonText.replace('{nextCalendarYear}', currentCalendarYear + 1)" 
      tabindex="0">
    </p>
  </div>

</div>

<form #formRef="ngForm" novalidate (submit)="navigateToPersonalInfo()">
  <div class="deduction-calc-spacer-sm hidden-xs hidden-sm"></div>
  <!--<div class="deduction-calc-spacer-lg hidden-sm hidden-md hidden-lg"></div>-->
  <div class="deduction-calc">
    <h2 [innerHTML]="lang('./en/index.js').eligibilityCalculatorTitle" tabindex="0"></h2>
    <table>
      <tbody>
        <tr>
          <td class="deduction-table-cell-margin">
            <h4 [innerHTML]="lang('./en/index.js').totalHouseholdIncome" tabindex="0"></h4>
          </td>
          <td class="deduction-table-cell-padding deduction-table-cell-margin">
            <span *ngIf="applicantIncomeInfoProvided" tabindex="0">
              {{totalHouseholdIncome | currency: 'USD': true}}
            </span>
            <span *ngIf="!applicantIncomeInfoProvided">
              - -
            </span>
          </td>
        </tr>

      </tbody>
    </table>
    
    <hr style="border: 1px solid black;">
    <table>
      <tr>
        <th>
          <h4 tabindex="0"><strong>Deductions</strong></h4>
        </th>
        <th></th>
      </tr>
      <tr *ngIf="application.ageOver65">
        <td class="deduction-table-cell-margin" tabindex="0">
          Age over 65
        </td>
        <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
          {{ageOver65Amt | currency: 'USD': true}}
        </td>
      </tr>
      <tr *ngIf="application.hasSpouseOrCommonLaw">
        <td class="deduction-table-cell-margin" tabindex="0">
          Spouse
        </td>
        <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
          {{spouseAmt| currency: 'USD': true}}
        </td>
      </tr>
      <tr *ngIf="application.hasSpouseOrCommonLaw && application.spouseAgeOver65">
        <td class="deduction-table-cell-margin" tabindex="0">
          Spouse age over 65
        </td>
        <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
          {{spouseAgeOver65Amt | currency: 'USD': true}}
        </td>
      </tr>
      <tr *ngIf="application.childrenCount && application.childrenCount > 0">
        <td class="deduction-table-cell-margin" tabindex="0">
          Children
        </td>
        <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
          {{childrenAmt | currency: 'USD': true}}
        </td>
      </tr>
      <tr *ngIf="application.claimedChildCareExpense_line214 && childrenAmt">
        <td class="deduction-table-cell-margin" tabindex="0">
          -50% Child care expense claimed on income tax
        </td>
        <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
          {{childCareExpense | currency: 'USD': true}}
        </td>
      </tr>
      <tr *ngIf="application.reportedUCCBenefit_line117">
        <td class="deduction-table-cell-margin" tabindex="0">
          Universal child card benefit income
        </td>
        <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
          {{uCCBenefitAmt| currency: 'USD' : true}}
        </td>
      </tr>

      <tr *ngIf="application.selfDisabilityCredit">
        <td class="deduction-table-cell-margin" tabindex="0">
          Applicant Disability credit
        </td>
        <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
          {{disabilityCreditAmt | currency: 'USD' : true}}
        </td>
      </tr>
      <tr *ngIf="application.spouseEligibleForDisabilityCredit">
        <td class="deduction-table-cell-margin" tabindex="0">
          Spouse disability credit
        </td>
        <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
          {{spouseDisabilityCreditAmt| currency: 'USD' : true}}
        </td>
      </tr>
      <tr *ngIf="application.childWithDisabilityCount">
        <td class="deduction-table-cell-margin" tabindex="0">
          Child disability credit
        </td>
        <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
          {{childrenDisabilityCreditAmt| currency: 'USD' : true}}
        </td>
      </tr>
      <tr *ngIf="application.spouseDSPAmount_line125">
        <td class="deduction-table-cell-margin" tabindex="0">
          Disability savings plan
        </td>
        <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
          {{application.spouseDSPAmount_line125 | currency: 'USD' : true}}
        </td>
      </tr>

      <tr *ngIf="application.applicantClaimForAttendantCareExpense">
        <td class="deduction-table-cell-margin" tabindex="0">
          Applicant attendant care expense
        </td>
        <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
          {{applicantClaimForAttendantCareExpenseAmt | currency: 'USD' : true}}
        </td>
      </tr>
      <tr *ngIf="application.spouseClaimForAttendantCareExpense">
        <td class="deduction-table-cell-margin" tabindex="0">
          Spouse attendant care expense
        </td>
        <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
          {{spouseClaimForAttendantCareExpenseAmt| currency: 'USD' : true}}
        </td>
      </tr>
      <tr *ngIf="application.childClaimForAttendantCareExpense">
        <td class="deduction-table-cell-margin" tabindex="0">
          Child attendant care expense
        </td>
        <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
          {{childClaimForAttendantCareExpenseAmt| currency: 'USD' : true}}
        </td>
      </tr>
          
      <tr>
        <td>
          <h4 tabindex="0">Total deductions</h4>
        </td>
        <td class="deduction-table-cell-padding deduction-table-cell-margin">
          <span *ngIf="applicantIncomeInfoProvided" tabindex="0">        
            {{totalDeductions | currency: 'USD' : true}}
          </span>  
          <span *ngIf="!applicantIncomeInfoProvided">- -     
          </span>  
        </td>
      </tr>
    </table>
    <hr style="border: 1px solid black;">

    <table>
      <tbody>
        <tr>
          <td style="column-width: 100px;">
            <h4 tabindex="0"><strong>Adjusted income:</strong></h4>
          </td>
          <td class="deduction-table-cell-padding deduction-table-cell-margin">
            <span *ngIf="applicantIncomeInfoProvided" tabindex="0">        
              {{adjustedIncome | currency: 'USD' : true}}
            </span>  
            <span *ngIf="!applicantIncomeInfoProvided">   
              - -     
            </span>  
          </td>
        </tr>

      </tbody>
    </table>
    <!-- DEF-75 KPS <p class="qualify-message" *ngIf="applicantIncomeInfoProvided && incomeUnderThreshhold" tabindex="0">-->
    <p class="qualify-message" *ngIf="applicantIncomeInfoProvided" tabindex="0">
      <!-- DEF-75 KPS It is likely that you will qualify for Premium Assistance.-->
      If you qualify for Regular Premium Assistance, your Adjusted Net Income will be used to determine your monthly rate.
    </p>
    <div *ngIf="applicantIncomeInfoProvided && !incomeUnderThreshhold" style="margin-right: 5px;">
      <!-- DEF-75 KPS<p class="disqualify-message" tabindex="0"
        [innerHTML]="lang('./en/index.js').mayNotQualifyText.replace('{currentCalendarYear}', currentCalendarYear)">
      </p>-->
      <p [innerHTML]="lang('./en/index.js').youShouldContinue" tabindex="0">
      </p>
    </div>
    
  </div>

  <div class="row" *ngIf="false">
    <div class="col-md-2" tabindex="0">
      {{incomeUnderThreshhold}}
    </div>
    <div class="col-md-2" tabindex="0">
      {{canContinue}}
    </div>
  </div>
  <div class="row" *ngIf="canContinue"
    style="margin-top: 10px;">
    <div class="col-xs-12">
      <button type="submit"
        [mspLogger]="'msp-premium-assistance_check_eligibility_continue'"    
        class="btn btn-primary btn-block">
        Continue to apply for Premium Assistance
      </button>
    </div>
  </div>
  <div class="row" *ngIf="(!canContinue && !isPristine)||(formRef.submitted && !taxYearSpecified)"
    style="margin-top: 10px;">
    <div class="col-xs-12">
      <div class="before-continue-warning" tabindex="0">
        Please answer all highlighted questions on the form before continuing.
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12">
      <msp-cancel [btnBlock]="true"></msp-cancel>
    </div>
  </div>
    <!--<div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary btn-block" type="submit" routerLink="/msp/assistance/personal-info"
                    style="font-size: smaller"></button>
        </div>
    </div>-->
  <div *ngIf="false">
    {{eligibility | json}}
  </div>

</form>