<form #formRef='ngForm' novalidate>
  <!-- <div class="row"> -->
  <!-- <div class="row"> -->
  <div class="form-group row"
    [ngClass]="{'has-error': !formRef.controls.firstName?.valid && (firstNameRef.touched || showError)}">
    <label class="control-label" for="firstName{{objectId}}" [innerHtml]="lang('./en/index.js').firstNameLabel"></label>
    <input type="text" [(ngModel)]="person.firstName" required maxlength="30" [pattern]="Person.NameRegEx"
      id="firstName{{objectId}}" name="firstName" #firstNameRef="ngModel" class="form-control">
    <div *ngIf='firstNameRef.touched || showError' role="alert" aria-live="assertive">
      <div class="text-danger" *ngIf="firstNameRef.errors?.required"
        [innerHtml]="lang('./en/index.js').firstNameErrorRequired"></div>
      <div class="text-danger" *ngIf="firstNameRef.errors?.pattern"
        [innerHtml]="lang('./en/index.js').firstNameErrorPattern"></div>
    </div>
  </div>
  <!-- </div> -->
  <!-- <div class="row"> -->
  <div class="form-group row" [ngClass]="{'has-error': !formRef.controls.middleName?.valid && middleNameRef.touched}">
    <label class="control-label if-applicable" for="middleName{{objectId}}"
      [innerHtml]="lang('./en/index.js').middleNameLabel"></label>
    <input type="text" [(ngModel)]="person.middleName" id='middleName{{objectId}}' name='middleName'
      #middleNameRef="ngModel" maxlength="30" [pattern]="Person.NameRegEx" class="form-control">
    <div *ngIf='middleNameRef.touched || showError' role="alert" aria-live="assertive">
      <div class="text-danger" *ngIf="middleNameRef.errors?.required"
        [innerHtml]="lang('./en/index.js').middleNameErrorRequired"></div>
      <div class="text-danger" *ngIf="middleNameRef.errors?.pattern"
        [innerHtml]="lang('./en/index.js').middleNameErrorPattern"></div>
    </div>
    <!-- </div> -->
  </div>
  <!-- <div class="row"> -->
  <div class="form-group row"
    [ngClass]="{'has-error': !formRef.controls.lastName?.valid && (lastNameRef.touched || showError)}">
    <label class="control-label" for="lastName{{objectId}}" [innerHtml]="lang('./en/index.js').lastNameLabel"></label>
    <input type="text" [(ngModel)]="person.lastName" id="lastName{{objectId}}" name='lastName' #lastNameRef="ngModel"
      required maxlength="30" [pattern]="Person.NameRegEx" class="form-control">
    <div *ngIf='lastNameRef.touched || showError' role="alert" aria-live="assertive">
      <div class="text-danger" *ngIf="lastNameRef.errors?.required"
        [innerHtml]="lang('./en/index.js').lastNameErrorRequired"></div>
      <div class="text-danger" *ngIf="lastNameRef.errors?.pattern"
        [innerHtml]="lang('./en/index.js').lastNameErrorPattern"></div>
    </div>

  </div>
  <!-- </div> -->
  <!-- </div> -->
</form>
