<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label" for="firstname"
                   [innerHTML]="lang('./en/index.js').firstNameLabel"></label>
            <input type="text"
                   required minlength="2"
                   id='firstname' name='firstname'
                   class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label optional" for="middlename">Middle Name</label>
            <input type="text"
                   id='middlename' name='middlename' minlength="2"
                   class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label" for="lastname">Last Name</label>
            <input type="text"
                   required minlength="2"
                   class="form-control" id="lastname" name='lastname'>
        </div>
    </div>
</div>
