<h3 [innerHTML]="lang('./en/index.js').statusLabel[person.relationship]"></h3>

<div class="clearfix"></div> <!-- avoid collapsing margins here -->

<div class="radio" *ngFor="let st of statusInCanada">
    <input type="radio" name="statusInCanada-{{id}}-{{person.uuid}}" id="st{{st}}-{{id}}-{{person.uuid}}"
           (click)="setStatus(st, person)"
           [checked]="st === person.status" tabindex="0">
    <label for="st{{st}}-{{id}}-{{person.uuid}}">
        {{lang('./en/index.js').canadaStatusLabel[st]}}
    </label>

    <div *ngIf="st === person.status && st > 1" role="alertdialog"
         aria-labelledby="What is your activity?">
        <div class="radio" *ngFor="let activity of activities">
            <input type="radio" name="activity-{{id}}-{{person.uuid}}" id="a{{activity}}-{{id}}-{{person.uuid}}"
                   (click)="setActivity(activity)"
                   [checked]="activity === person.currentActivity">
            <label for="a{{activity}}-{{id}}-{{person.uuid}}" class="shade">
                {{langAccountActivities('./en/index.js')[activity]}}
            </label>
        </div>
    </div>
</div>

<div class="row" *ngIf="person.isVisitor()">
    <div class="col-md-12">
        <p class="intro text-danger" [innerHTML]="lang('./en/index.js').visitorBadInput"
           role="alert" aria-live="assertive">
        </p>
    </div>

</div>
<div class="row" *ngIf="person.isDiplomat()">
    <div class="col-md-12">
        <p class="intro text-info" [innerHTML]="lang('./en/index.js').diplomatBadInput"
           role="alert" aria-live="assertive">
        </p>
    </div>
</div>