<button type="button" class="btn btn-default btn-xs pull-right" (click)="cancelDependentRemoval()" [innerHTML]="lang('./en/index.js').clearButton[person.relationship]">
</button>

<h2 #firstFocus tabindex="0" [innerHTML]="lang('./en/index.js').sectionTitle[person.relationship]"></h2>
<p [innerHTML]="lang('./en/index.js').sectionBody[person.relationship]"></p>


<form #formRef='ngForm' novalidate>


  <ng-container>
    <msp-account-personal-details [person]='person' [id]='person.id'  [showError]="showError" (onChange)="change($event)" embedded=true></msp-account-personal-details>

    <div class="row">
      <div class="col-sm-4 form-group"   [ngClass]="{'has-error': showError && (person.reasonForCancellation === undefined || person.reasonForCancellation === null || person.reasonForCancellation === 'pleaseSelect')}">
        <label for="reason-{{person.id}}" [innerHtml]="lang('./en/index.js').reason" class="control-label"></label>
        <select class='form-control' name="reason-{{person.id}}" id="reason-{{person.id}}" 
          [ngModel]="reasonForCancellation"
          (ngModelChange)="onChangeReasonForCancellation($event)">
            <option value="pleaseSelect" [innerHtml]="lang('./en/index.js').pleaseSelect"></option>
            <option *ngFor="let item of getCancellationReasonsIterable(person.relationship);let i=index" value="{{item}}" [innerHtml]="(person.relationship == Relationship.ChildUnder24) ? lang('./en/index.js').cancellationReasonsChild[i]: lang('./en/index.js').cancellationReasonsSpouse[i] "></option>
        </select>
      </div>
      <div class="col-sm-4 form-group"
      [ngClass]="{'has-error': !formRef.controls['reasonDetailed-'+person.id]?.valid && (reasonDetailedRef.touched || showError)}"
      *ngIf="reasonForCancellation == 'Other'">
          <label for='reasonDetailed-{{person.id}}' [innerHTML]="lang('./en/index.js').reasonDetailed"></label>
          <input type="text" 
            name="reasonDetailed-{{person.id}}" 
            class="form-control" 
            id='reasonDetailed-{{person.id}}' 
            maxlength="30"
            #reasonDetailedRef="ngModel"  (ngModelChange) = 'change($event)'
            required
            [(ngModel)]="person.reasonForCancellation">

                      
            <div *ngIf='reasonDetailedRef.touched || showError' role="alert" aria-live="assertive">
                <div class="text-danger" *ngIf="reasonDetailedRef.errors?.required"[innerHtml]="lang('./en/index.js').reasonDetailedRequired"></div>
            </div>
      </div>
      <div class="col-sm-4 form-group">
        <msp-date
          [label]="lang('./en/index.js').cancellationDate"
          [showError]='showError'
          [(date)]="person.cancellationDate" [futureDate]="false"  (onChange) = "change($event)"
        ></msp-date>
      </div>
    </div>

    <div class="form-group"  [ngClass]="{'has-error': showError && (person.knownMailingAddress === undefined || person.knownMailingAddress === null)}">
        <label for="knowSpouseCurrentMailing-{{person.id}}" [innerHtml]="lang('./en/index.js').knowSpouseCurrentMailing[person.relationship]" class="control-label" ></label>
        <msp-toggle [id]="'knowSpouseCurrentMailing-'+ person.id" [(data)]="person.knownMailingAddress" (dataChange)="change($event)"></msp-toggle>
    </div>

    <msp-address  #spouseMailingAddress
      *ngIf="person.knownMailingAddress"
      [mailingAddressHeading]="lang('./en/index.js').mailingAddr"
      [mailingAddress]="person.mailingAddress"
      [mailingOnly]="true"
      [showError] = "showError"  (onChange)="change($event)"
    ></msp-address>




  </ng-container>

</form>

<hr class='strong-hr'>