@import 'variables.scss';

.date--legend {
  font-size: inherit;
  font-weight: bold;
}

.date-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.monthSelect {
  max-width: 50%;
  height: 35px;
  margin-right: 1em;
}
.dayInput {
  max-width: 25%;
  height: 35px;
  margin-right: 1em;
}
.yearInput {
  max-width: 25%;
  height: 35px;
}
.error-container {
  flex-basis: 100% !important;
}

/* Remove spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}