<div class="form-group">
  <label for={{id}} class="control-label">{{label}}</label>
  <!-- <ng-select [id]="id" [items]="items$ | async" (change)="changed($event)" [(ngModel)]="selected"> -->
  <!-- </ng-select> -->
  <select class="custom-select" [id]="id" (change)="changed($event.srcElement.options.selectedIndex)">
    <ng-container *ngIf="items$ | async as items">
      <option  value="null" disabled="true">Please select</option>
      <option *ngFor="let item of items" [selected]="selected === item">{{ item }}</option>
    </ng-container>
  </select>
</div>
