
<form #formRef='ngForm' novalidate>
    <div class="form-group" *ngIf="person.status === StatusInCanada.CitizenAdult"
         [ngClass]="{'has-error': showError && (person.livedInBCSinceBirth !== true && person.livedInBCSinceBirth !== false)}"
    >
      <label class="control-label" [innerHtml]="lang('./en/index.js').livedInBCSinceBirth[person.relationship]"></label>
      <msp-toggle [(data)]="person.livedInBCSinceBirth" (dataChange)="onChange.emit($event)" ></msp-toggle>

    </div>
    <ng-container *ngIf="person.livedInBCSinceBirth === false">
      <div class="row">
        <div class="col-md-3">
            <msp-date
            [label]="lang('./en/index.js').moveDateToBC"
            [showError]='showError'
            [(date)]="person.arrivalToBCSimple"
            required=true>
          </msp-date>
        </div>
        <div class="col-md-4">
          <msp-province [provinceLabel]="lang('./en/index.js').movedFromProvinceOrCountry"
            [province]="person.movedFromProvinceOrCountry"
            (onChange)="person.movedFromProvinceOrCountry = $event"
            hideStates=true
            exceptBC=true 
            [showError]="showError"
            showCountries=true
            colSize="col-sm-4">
          </msp-province>
        </div>
        <div class="col-md-4">
            <label for="healthNumberFromOtherProvince" [innerHtml]="lang('./en/index.js').medicalPlanPreviousResidence"></label>
            <input type="text" class='form-control' name="healthNumberFromOtherProvince" [(ngModel)]=person.healthNumberFromOtherProvince>
          </div>
      </div>
      <div class="row form-group" [ngClass]="{'has-error': showError && (person.madePermanentMoveToBC === undefined || person.madePermanentMoveToBC === null)}">
        <div class="col-md-12">
          <label [innerHtml]="lang('./en/index.js').permanentMove"  class="control-label"></label>
          <msp-toggle [(data)]="person.madePermanentMoveToBC" (dataChange)="onChange.emit($event)"></msp-toggle>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="person.relationship === Relationship.ChildUnder19 || person.relationship === Relationship.Child19To24">
        <div class="row form-group" [ngClass]="{'has-error': showError && (person.newlyAdopted === undefined || person.newlyAdopted === null)}" >
          <div class="col-sm-4">
            <label [innerHtml]="lang('./en/index.js').newlyAdopted"  class="control-label"></label>
            <msp-toggle [(data)]="person.newlyAdopted" (dataChange)="onChange.emit($event)"></msp-toggle>
          </div>

          <div class="col-sm-4 form-inline" *ngIf="person.newlyAdopted">
            <msp-date
              [label]="lang('./en/index.js').adoptedDate"
              [showError]='showError'
              [(date)]="person.adoptedDate"
            ></msp-date>
          </div>

        </div>
    </ng-container>


    <div class="row form-group" [ngClass]="{'has-error': showError && (person.declarationForOutsideOver30Days === undefined || person.declarationForOutsideOver30Days === null)}">
    <div class="col-md-12">
        <label [innerHtml]="lang('./en/index.js').hasBeenOutsideBC30InYear" class="control-label"></label>
        <msp-toggle  (dataChange)="onChange.emit($event)" [(data)]="person.declarationForOutsideOver30Days"></msp-toggle>

        <msp-outof-bc-record *ngIf="person.declarationForOutsideOver30Days" [futureDepartureDate]="false" [futureReturnDate]="true"
                             [outofBCRecord]="person.outOfBCRecord"   (onDelete)="handleDeleteOutofBCRecord($event)"
                             (onUpdate)="handleOutofBCRecordChange($event)"
                             [showError]="showError">
        </msp-outof-bc-record>
    </div>
</div>


    <div class="row form-group"  [ngClass]="{'has-error': showError && (person.plannedAbsence === undefined || person.plannedAbsence === null)}" >
      <div class="col-md-12">
        <label [innerHtml]="lang('./en/index.js').willBeOutsideBC30InYear" class="control-label" ></label>
        <msp-toggle [(data)]="person.plannedAbsence"  (dataChange)="onChange.emit($event)"></msp-toggle>
      </div>
      <div class="col-md-12">
          <msp-outof-bc-record *ngIf="person.plannedAbsence" [futureDepartureDate]="true" [futureReturnDate]="true"
                               [outofBCRecord]="person.planOnBeingOutOfBCRecord"  (onDelete)="handleDeletePlanOnBeingOutOfBCRecord($event)"  (onUpdate)="handleOutofBCRecordChange($event)" [showError]="showError" >
        </msp-outof-bc-record>
      </div>
    </div>
    <div class="row" *ngIf="person.status === StatusInCanada.CitizenAdult"  [ngClass]="{'has-error': showError && (person.hasBeenReleasedFromArmedForces === undefined || person.hasBeenReleasedFromArmedForces === null)}">
      <div class="col-md-12">
        <label [innerHtml]="lang('./en/index.js').releasedFromArmedForcesOrInstitution" class="control-label"></label>
        <msp-toggle [(data)]="person.hasBeenReleasedFromArmedForces" (dataChange)="onChange.emit($event)"></msp-toggle>
      </div>
    </div>

    <div class='row' *ngIf="person.hasBeenReleasedFromArmedForces" >
        <div class="col-md-3">
          <msp-discharge-date
            [year]="person.dischargeYear"
            (yearChange)="person.dischargeYear = $event"
            [month]="person.dischargeMonth"
            (monthChange)="person.dischargeMonth = $event"
            [day]="person.dischargeDay"
            (dayChange)="person.dischargeDay = $event"
            (onChange) = "onChange.emit($event)" 
            [showError]="showError"
          ></msp-discharge-date>
        </div>

        <div class="col-md-5 form-group" [ngClass]="{'has-error': !formRef.controls['nameOfInstitute'+person.id]?.valid && (instituteNameRef.touched || showError)}">
          
          <label [innerHtml]="lang('./en/index.js').instituteName"></label>     
          <input
            type="text"
            class='form-control'
            name="nameOfInstitute{{person.id}}"
            id="nameOfInstitute{{person.id}}"
            [(ngModel)]=person.nameOfInstitute
            #instituteNameRef='ngModel'
            required>

          <div *ngIf='instituteNameRef.touched || showError' role="alert" aria-live="assertive">
              <div class="text-danger" *ngIf="instituteNameRef.errors?.required"[innerHtml]="lang('./en/index.js').instituteNameRequired"></div>
          </div>

        </div>
    </div>

  </form>