
<form #formRef='ngForm' novalidate>
    <div class="form-group" *ngIf="person.status === StatusInCanada.CitizenAdult">
      <label [innerHtml]="lang('./en/index.js').livedInBCSinceBirth[person.relationship]"></label>
      <msp-toggle [(data)]="person.livedInBCSinceBirth"></msp-toggle>
    </div>
    <ng-container *ngIf="person.livedInBCSinceBirth === false">
      <div class="row">
        <div class="col-md-3">
            <msp-date
            [label]="lang('./en/index.js').moveDateToBC"
            [showError]='showError'
            [(date)]="person.arrivalToBCSimple"
            required=false>
          </msp-date>
        </div>
        <div class="col-md-4">
          <msp-province [provinceLabel]="lang('./en/index.js').movedFromProvinceOrCountry"
            [province]="person.movedFromProvinceOrCountry"
            (onChange)="person.movedFromProvinceOrCountry = $event"
            hideStates=true
            exceptBC=true 
            [showError]="showError"
            showCountries=true
            colSize="col-sm-4">
          </msp-province>
        </div>
        <div class="col-md-4">
            <label for="healthNumberFromOtherProvince" [innerHtml]="lang('./en/index.js').medicalPlanPreviousResidence"></label>
            <input type="text" class='form-control' name="healthNumberFromOtherProvince" [(ngModel)]=person.healthNumberFromOtherProvince>
          </div>
      </div>
      <div class="row form-group">
        <div class="col-md-12">
          <label [innerHtml]="lang('./en/index.js').permanentMove"></label>
          <msp-toggle [(data)]="person.madePermanentMoveToBC"></msp-toggle>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="person.relationship === Relationship.ChildUnder19 || person.relationship === Relationship.Child19To24">
        <div class="row form-group">
          <div class="col-sm-4">
            <label [innerHtml]="lang('./en/index.js').newlyAdopted"></label>
            <msp-toggle [(data)]="person.newlyAdopted"></msp-toggle>
          </div>

          <div class="col-sm-4 form-inline" *ngIf="person.newlyAdopted">
            <msp-date
              [label]="lang('./en/index.js').adoptedDate"
              [showError]='showError'
              [(date)]="person.adoptedDate"
            ></msp-date>
          </div>

        </div>
    </ng-container>


    <div class="row form-group">
      <div class="col-md-12">
        <label [innerHtml]="lang('./en/index.js').hasBeenOutsideBC30InYear"></label>
        <msp-toggle [(data)]="person.declarationForOutsideOver30Days"></msp-toggle>

        <msp-outof-bc-record *ngIf="person.declarationForOutsideOver30Days"
          [outofBCRecord]="person.outOfBCRecord"
          [showError]="showError">
        </msp-outof-bc-record>
      </div>
    </div>


    <div class="row form-group">
      <div class="col-md-12">
        <label [innerHtml]="lang('./en/index.js').willBeOutsideBC30InYear"></label>
        <msp-toggle [(data)]="person.plannedAbsence"></msp-toggle>
      </div>
      <div class="col-md-12">
          <msp-outof-bc-record *ngIf="person.plannedAbsence"
          [outofBCRecord]="person.planOnBeingOutOfBCRecord"
          [showError]="showError">
        </msp-outof-bc-record>
      </div>
    </div>
    <div class="row" *ngIf="person.status === StatusInCanada.CitizenAdult">
      <div class="col-md-12">
        <label [innerHtml]="lang('./en/index.js').releasedFromArmedForcesOrInstitution"></label>
        <msp-toggle [(data)]="person.hasBeenReleasedFromArmedForces"></msp-toggle>
      </div>
    </div>

    <div class='row' *ngIf="person.hasBeenReleasedFromArmedForces">
        <div class="col-md-3">
          <msp-discharge-date
            [year]="person.dischargeYear"
            (yearChange)="person.dischargeYear = $event"
            [month]="person.dischargeMonth"
            (monthChange)="person.dischargeMonth = $event"
            [day]="person.dischargeDay"
            (dayChange)="person.dischargeDay = $event"
            (onChange) = "onChange.emit($event)" 
            [showError]="showError"
          ></msp-discharge-date>
        </div>

        <div class="col-md-5 form-group" [ngClass]="{'has-error': !formRef.controls['nameOfInstitute'+person.id]?.valid && (instituteNameRef.touched || showError)}">
          
          <label [innerHtml]="lang('./en/index.js').instituteName"></label>     
          <input
            type="text"
            class='form-control'
            name="nameOfInstitute{{person.id}}"
            id="nameOfInstitute{{person.id}}"
            [(ngModel)]=person.nameOfInstitute
            #instituteNameRef='ngModel'
            required>

          <div *ngIf='instituteNameRef.touched || showError' role="alert" aria-live="assertive">
              <div class="text-danger" *ngIf="instituteNameRef.errors?.required"[innerHtml]="lang('./en/index.js').instituteNameRequired"></div>
          </div>

        </div>
    </div>

  </form>