<common-consent-modal #mspConsentModal
        [title]="'Information collection notice'" 
        agreeLabel="I have read and understand this information"
        [processName]="consentProcessName" 
        (accept)="onAccept($event)"
        (close)="onClose()">
  <p>
    Keep your personal information secure - especially when using a shared device like a computer 
    at a library, school or cafe. To delete any information that was entered, either complete 
    the application and submit it or, if you don’t finish, close the web browser.
  </p>
  <p>
    <strong>Need to take a break and come back later?</strong> The data you enter on this form is saved
    locally to the computer or device you are using until you close the web browser or submit your application.
  </p>
  <p>
    <strong>Information in this application is collected by the Ministry of Health</strong> under the authority 
    of the <i>Medicare Protection Act</i> and section 26(a), (c) and (e) of the <i>Freedom of Information and 
    Protection of Privacy Act</i> for the purposes of administration of the Medical Services Plan. If you have 
    any questions about the collection and use of your personal information please <a href="{{links.HIBC}}" target="_blank"> 
      contact Health Insurance BC. <i class="fa fa-external-link" aria-hidden="true"></i>
    </a>.
  </p>
</common-consent-modal> 