<common-consent-modal #mspConsentModal
        [isUnderMaintenance]="isMaintenanceMode"
        [title]="'Information collection notice'" 
        agreeLabel="I have read and understand this information"
        [processName]="consentProcessName" 
        (accept)="onAccept($event)"
        (close)="onClose()">
  <p>
    Keep your personal information secure - especially when using a shared computer 
    at a library, school or cafe. To remove any information you entered, either complete 
    the application and submit it or, if you don’t finish, close the web browser.
  </p>
  <p>
    Need to take a break and come back later? The data you enter on this form is saved on 
    the computer or device you are using until you close the web browser or submit your 
    application.
  </p>
  <p>
    Personal information is collected under the authority of the Medicare Protection Act 
    and section 26 (a), (c) and (e) of the Freedom of Information and Protection of 
    Privacy Act for the purposes of administration of the Medical Services Plan. If you 
    have any questions about the collection and use of your personal information, please contact
    <a href="{{links.MSP_RESIDENT_CONTACT}}" target="_blank">Health Insurance BC.
      <i class="fa fa-external-link" aria-hidden="true"></i>
    </a>.
  </p>
</common-consent-modal> 