node_modules/
bower_components/
.sass-cache/
.idea/
.tmp/
config/manifest.json
npm-debug.log
/config/webpack/environments/local.js
typings/
debug.log
/dist
src/app/**/*.map

coverage
/src/app/components/msp/api-model/cache
/src/app/components/msp/api-model/xmlns
.DS_Store
DEBUG.ts
documentation/
.vscode/
*.sh
.scannerwork/

