.section {
  padding: 0.5rem;
}

.line-item {
  display: flex;
  flex-direction: row;
}

.line-item--text {
  width: 60%
}

.line-item--value {
  font-weight: normal;
}

.edit--icon {
  cursor: pointer;
  float: right;
}