<form #formRef="ngForm" novalidate (submit)="handleFormSubmission($event)">

  <h1 [innerHtml]="lang('./en/index.js').pageTitle"></h1>

  <button tabindex="0" class="btn btn-default" onclick="window.print();return false;">
    <i class="fa fa-print fa-lg pointer" 
      aria-hidden="true"></i>
    Print
  </button>


  <div class="row">
      <div class="col-lg-6">
          <msp-person-card [person]="application.applicant"
                          [editRouterLink]="'/msp/application/personal-info'"></msp-person-card>
      </div>
      <div class="col-lg-6" *ngIf="application.spouse != null">
          <msp-person-card [person]="application.spouse"
                          [editRouterLink]="'/msp/application/personal-info'"></msp-person-card>
      </div>
  </div>
  <div class="row" *ngIf="application.children != null && application.children.length > 0">
      <ng-container *ngFor="let child of application.children; let i = index;">
          <div class="clearfix" *ngIf="i % 2 == 0"></div>
          <div class="col-lg-6">
              <msp-person-card [person]="child"
                              [editRouterLink]="'/msp/application/personal-info'"></msp-person-card>
          </div>
      </ng-container>
  </div>
  <msp-contact-card [residentialAddress]="application.residentialAddress"
                    [mailingAddress]="application.mailingAddress"
                    [phone]="application.phoneNumber"
                    [editRouterLink]="'/msp/application/address'"></msp-contact-card>
  <h2 [innerHtml]="lang('./en/index.js').agreementLabel"></h2>
  <p [innerHtml]="lang('./en/index.js').agreement">
  </p>
  <div class="strong" [innerHTML]="questionApplicant"></div>
  <div class="form-check form-check-inline mb-5">
      <input class="input-lg form-check-input" id="firstPersonAuthorize" name="firstPersonAuthorize"
            type="checkbox" [ngModel]="application.authorizedByApplicant"
            (ngModelChange)="applicantAuthorizeOnChange($event)">
      <label class="form-check-label" for="firstPersonAuthorize" [innerHTML]="lang('./en/index.js').agreeLabel"></label>
  </div>

  <div *ngIf="application.spouse != null">
      <div class="strong" [innerHTML]="questionSpouse"></div>
      <div class="form-check form-check-inline">
          <input class="input-lg form-check-input" id="secondPersonAuthorize" type="checkbox" name="secondPersonAuthorize"
                [ngModel]="application.authorizedBySpouse" (ngModelChange)="spouseAuthorizeOnChange($event)">
          <label class="form-check-label" for="secondPersonAuthorize" [innerHTML]="lang('./en/index.js').agreeLabel"></label>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <captcha [apiBaseUrl]="captchaApiBaseUrl" [nonce]="application.uuid"
              (onValidToken)="application.authorizationToken = $event"></captcha>
    </div>
  </div>
  <div class="row" *ngIf="form.submitted && !application.hasValidAuthToken">
      <div class="col-lg-6">
        <div class="text-danger" 
             [innerHtml]="lang('./en/index.js').tryAgainWithCaptcha"></div>        
      </div>
  </div>
  <hr>
  <button
  
          [disabled]="!application.authorizedByApplicant || (application.spouse && !application.authorizedBySpouse)
            || !application.hasValidAuthToken"
          class="btn btn-primary" type="submit"
          [innerHtml]="lang('./en/index.js').submitButton"></button>
  <msp-cancel></msp-cancel>
</form>
