.card-body {
    padding-top: 0; //Bootstrap defaults to 15px
    > .btn {
        margin-top: 15px; //Re-implement the panel padding-top here, helps layout on multi-line splits for mobile.
    }
    
}

.btn  {
    color: white;
    background: #036;


}