<msp-consent-modal #mspConsentModal [application]="accountLetterApplication"
                   [processName]="lang('./en/index.js').consentProcessName"
                   (onClose)="phn.focus()"
>
</msp-consent-modal>

<form #formRef="ngForm" novalidate>

    <div class="col-md-10">
        <h1 [innerHtml]="lang('./en/index.js').pageTitle"></h1>
        <p class="intro"
           [innerHtml]="lang('./en/index.js').servicesCardMsg" role="heading">
        </p>


        <h2 [innerHTML]="lang('./en/index.js').applicantInfo"></h2>
        <hr>

        <div class="card panel-default col-md-6">
            <div class="card-body">
                <msp-phn #phn
                         [phn]="applicant.previous_phn"
                         (phnChange)="applicant.previous_phn = $event"
                         (onChange)="saveApplication($event);"
                         [bcPhn]="true"
                         [required]="true"
                         [showError]="showError">
                </msp-phn>


                <msp-birthdate
                        #birthDate
                        [person]="applicant"
                        (onChange)="saveApplication($event);"
                        [showError]="showError">
                </msp-birthdate>


                <label for="residentialAddressPostalCode{{objectId}}"
                       [innerHtml]="lang('./en/index.js').postalCodeLabel"></label>
                <input [(ngModel)]='accountLetterApplication.postalCode' type="text" class="form-control to-upper"
                       id="residentialAddressPostalCode{{objectId}}" name="residentialAddressPostalCode"
                       #residentialAddressPostalCodeRef="ngModel" required tabindex="0"
                       (onChange)="saveApplication($event);"
                       [pattern]="Address.PostalCodeBCRegEx">
                <div *ngIf='residentialAddressPostalCodeRef.touched || showError'
                     role="alert" aria-live="assertive">
                    <div class="text-danger" *ngIf="residentialAddressPostalCodeRef.errors?.required"
                         [innerHtml]="lang('./en/index.js').postalCodeErrorIsRequired"></div>
                    <div class="text-danger" *ngIf="residentialAddressPostalCodeRef.errors?.pattern"
                         [innerHtml]="lang('./en/index.js').postalCodeErrorPattern"></div>
                </div>

            </div>

        </div>
        <hr>

    <msp-specific-member [person]="applicant" #specificMember (onStatusChange)="setStatus($event);" (onChange)="saveApplication($event);"> </msp-specific-member>


    <!--    <label [innerHTML]="lang('./en/index.js').MSPEnrollment"></label>

        <div class="form-check" *ngFor="let st of MSPEnrollementMember">
            <input class='form-check-input' type="radio" name="MSPEnrollementMember-{{id}}" id="st{{st}}-{{id}}"
                   (click)="setStatus(st);"
                   [checked]="st === accountLetterApplication.enrollmentMember" tabindex="0">
            <label class='form-check-label' for="st{{st}}-{{id}}">
                {{langStatus('./en/index.js')[st]}}
            </label>
        </div>


        <div *ngIf="accountLetterApplication.showSpecificMember">
            <h2>Specific Member Information</h2>
            <h4>Please provide additional information for the specific member</h4>
            <div class="row">
                <div class="card panel-default col-md-6">
                    <div class="card-body">
                        <msp-phn #addtionalMemberphn [phn]="applicant.specificMember_phn"
                                 (phnChange)="applicant.specificMember_phn = $event"
                                 (onChange)="saveApplication($event);"
                                 [required]="true"
                                 [bcPhn]="true"
                                 [showError]="showError"
                        >
                        </msp-phn>

                    </div>
                </div>
            </div>
        </div>-->
        <br/>


        <div *ngIf="showCaptcha" class="row">
            <div class="col-lg-12">
                <captcha [apiBaseUrl]="captchaApiBaseUrl"
                         (onValidToken)="accountLetterApplication.authorizationToken = $event;"></captcha>
            </div>
        </div>

    </div>

    <div class="row" *ngIf="form.submitted && !accountLetterApplication.hasValidAuthToken">
        <div class="col-lg-6">
            <div class="text-danger"
                 [innerHtml]="lang('./en/index.js').tryAgainWithCaptcha">
            </div>
        </div>
    </div>

    <hr>
    <!-- Highlighted field Error message -->
    <div class="col-lg-6" *ngIf="formRef.submitted">
        <p class="text-danger" [innerHTML]="lang('./en/index.js').completesAllHighlightedFields">
        </p>
    </div>
   
    <div class="col-lg-12"> 

    <fpcare-form-action-bar [submitLabel]="lang('./en/index.js').buttonLabel"
                            [canContinue]="canContinue()"
                            (btnClick)="handleFormSubmission($event)">
    </fpcare-form-action-bar>
    </div>

    <!--
        <button [disabled]="!accountLetterApplication.hasValidAuthToken" class="btn btn-primary" type="submit"
                [innerHtml]="lang('./en/index.js').confirmation"></button> -->


</form>
