<hr>
<form #formRef='ngForm' novalidate>
  <div class="row">
    <div class="form-group col-xs-9 col-md-5">
      <label [innerHtml]="lang('./en/index.js').familyMemberLabel"></label><br>
      <select *ngIf="!departurePersonWorking" class="form-control" (change)="familyMemberSelect($event.target.value)">
        <option value="" *ngIf="!departurePersonWorking">Select</option>
        <option *ngFor="let person of getRemainingCandidates()"
                [value]="person.uuid">
          {{person.fullName}}
        </option>
      </select>
      <span *ngIf="departurePersonWorking">{{departurePersonWorking.fullName}}</span>
    </div>
    <div class="col-xs-3 col-md-1">
      <div class="button-group" *ngIf="departurePersonWorking">
        <label>&nbsp;</label><br>
        <button type="button" class="btn btn-default" (click)='removeOutsideBCPerson()'>
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          <span [innerHTML]="lang('./en/index.js').removeOutsideBCPersonButton"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="departurePersonWorking">
    <div class="form-group col-md-4">
      <label [innerHtml]="lang('./en/index.js').reasonLabel"></label><br>
      <input type="text" class="form-control"
             [(ngModel)]="departurePersonWorking.outsideBCFamilyMemberReason"
             (ngModelChange)="departurePersonWorking.outsideBCFamilyMemberReason=$event;"
             name='outsideBCFamilyMemberReason' #outsideBCFamilyMemberReasonRef="ngModel"
             required
             maxlength="20">
      <div *ngIf='outsideBCFamilyMemberReasonRef.touched'>
        <div class="text-danger" *ngIf="outsideBCFamilyMemberReasonRef.errors?.required"
             [innerHtml]="lang('./en/index.js').outsideBCFamilyMemberReasonErrorIsRequired"></div>
      </div>
    </div>
    <div class="form-group col-md-4" *ngIf="departurePersonWorking">
      <msp-departure-date
          [year]="departurePersonWorking.outsideBCDepartureDateYear"
          (yearChange)="departurePersonWorking.outsideBCDepartureDateYear = $event"
          [month]="departurePersonWorking.outsideBCDepartureDateMonth"
          (monthChange)="departurePersonWorking.outsideBCDepartureDateMonth = $event"
          [day]="departurePersonWorking.outsideBCDepartureDateDay"
          (dayChange)="departurePersonWorking.outsideBCDepartureDateDay = $event"></msp-departure-date>
    </div>
    <div class="form-group col-md-4" *ngIf="departurePersonWorking">
      <msp-return-date
          [year]="departurePersonWorking.outsideBCReturnDateYear"
          (yearChange)="departurePersonWorking.outsideBCReturnDateYear = $event"
          [month]="departurePersonWorking.outsideBCReturnDateMonth"
          (monthChange)="departurePersonWorking.outsideBCReturnDateMonth = $event"
          [day]="departurePersonWorking.outsideBCReturnDateDay"
          (dayChange)="departurePersonWorking.outsideBCReturnDateDay = $event"></msp-return-date>
    </div>
  </div>
</form>