<common-page-framework layout="blank">
  <div>  
        
    <a onclick="window.print();return false;" >   
    <b class="float-right">Print <i class="fa fa-print fa-lg pointer" 
        aria-hidden="true"></i>
    </b>
    </a>
    <h1><strong>Confirmation Message </strong> </h1>
    <p class="border-bottom">It is important to keep your reference number – write it down, or print this page for your records.</p>
    
    <div class="row" style="border-style: solid; color:#83D31D" >
          <div class="col-sm-.5" style="font-size: 50px; margin-top: 15px;margin-left: 15px" ><i class="fa fa-check-circle" aria-hidden="true"></i></div>
          <div class="col-9">
              <h2>
                  Your update request has been submitted
              </h2>
              <p class="font-weight-normal h4">{{dateStamp}} - Reference # {{confirmationNum? confirmationNum : 'N/A'}}</p>
             
              
          </div>
      </div>
    
    <h2 class="border-bottom"> <strong> Important </strong></h2>
   
        <ul>
            <li>
              <h3 [innerHTML]="lang('./en/index.js').printEmailInstructions" onclick="window.print();" class="pointer"></h3>
            </li>
            <li>
              <h3 [innerHTML]="lang('./en/index.js').generalInstructions1"></h3>
            </li>
            <li>
              <h3 [innerHTML]="lang('./en/index.js').generalInstructions2"></h3>
            </li>
            <li>
              <h3 [innerHTML]="lang('./en/index.js').generalInstructions3"></h3>
            </li>
          </ul>
      </div>
    
</common-page-framework>



