<form #formRef='ngForm' novalidate>
  <label [innerHTML]="lang('./en/index.js').MSPEnrollment"></label>

  <div class="form-check" *ngFor="let st of MSPEnrollementMember">
    <input class='form-check-input' type="radio" name="MSPEnrollementMember-{{id}}" id="st{{st}}-{{id}}"
           (click)="setStatus(st);"
           [checked]="st === person.enrollmentMember" tabindex="0">
    <label class='form-check-label' for="st{{st}}-{{id}}">
      {{langStatus('./en/index.js')[st]}}
    </label>
  </div>
  <div *ngIf="person.enrollmentMember == '2'">
    <h2>Specific Member Information</h2>
    <hr>
    <h4>Please provide additional information for the specific member</h4>
    
    <div class="row">
      <div class="card panel-default col-md-6">
        <div class="card-body">
          <msp-phn #addtionalMemberphn [phn]="person.specificMember_phn"
                   (phnChange)="person.specificMember_phn = $event"
                   (onChange)="onPHNChange();"
                   [required]="true"
                   [bcPhn]="true"
                   [showError]="showError"
                   [placeholder] ="lang('./en/index.js').phnPlaceHolder"
                   [phnLabel]="lang('./en/index.js').phnlabel"
                   [isACL]="true"
          >
          </msp-phn>

        </div>
      </div>
    </div>
  </div>


</form>