    
<div class="form-group col-sm-6 p-sm-0">
  <common-name name="first_name"
               label="First Name"
               [disabled]="disabled"
               [(ngModel)]="data.firstName"
               maxlen="30"
               commonValidateName></common-name>
</div>

<div class="form-group col-sm-6 p-sm-0">
  <common-name name="middle_name"
               label="Middle Name"
               [disabled]="disabled"
               [(ngModel)]="data.middleName"
               maxlen="30"
               commonValidateName></common-name>
</div>

<div class="form-group col-sm-6 p-sm-0">
  <common-name name="last_name"
               label="Last Name"
               required
               [disabled]="disabled"
               [(ngModel)]="data.lastName"
               maxlen="30"
               commonValidateName></common-name>
</div>