@import 'variables.scss';

.form-action-bar {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    background-color: hsla(210, 30%, 85%, 1);
    transition: background-color 0.3s;
    &.disabled { background-color: hsla(210, 10%, 85%, 1); }
    
    // If browser does not support positiion sticky (IE11), gracefully degrade
    // back to default positioning (static). We do not use position: fixed, as
    // that leads this bar to overlap the page footer.
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 10;
    // Positioning  values match .container-fluid in app.component.scss
   // left: $container-gutter-size;
   // right: $container-gutter-size;

    /*@include media-breakpoint-down(md){
     //   left: ($container-gutter-size / 2);
      //  right: ($container-gutter-size / 2);
    }

    @include media-breakpoint-down(sm){
        left: 0;
        right: 0;
    }*/
}

.submit {
    min-width: 240px;

   /* @include media-breakpoint-down(sm){
        min-width: 100%;
    }*/
}

.btn{
    white-space:normal !important;
    word-wrap: break-word;
    color: white;
    background: #036;
}