<div class='form-group'>
    <label for="sin_{{objectId}}">{{label}}</label>
    <input class="form-control"
           type="text"
           id="sin_{{objectId}}"
           name="sin_{{objectId}}"
           [placeholder]="placeholder"
           [ngModel]="data"
           (ngModelChange)="dataChange($event)"
           [textMask]="{mask: mask}"
           [disabled]="disabled" 
           [required]="required"
           #sinRef="ngModel" 
           pattern="[1-9]{1}\d{2}\s?\d{3}\s?\d{3}"/>
  

  <div *ngIf='sinRef.touched'>
      <div class="text-danger" *ngIf="sinRef.errors?.required"
           [innerHTML]="'Sin is Required'"></div>
      <div class="text-danger" *ngIf="sinRef.errors?.pattern"
           [innerHTML]="'There is an error with the SIN Pattern'"></div>
      <div class="text-danger" *ngIf="!sinRef.errors?.pattern && sinRef.errors?.sinCheck"
           [innerHTML]="'SIN pattern is wrong'"></div>
    </div>
  </div>
  
  <div class="text-danger" *ngIf="(!isSinValid() && isSinValid() != null)"
             [innerHTML]="'Invalid SIN'">
  </div>  
  
  <div *ngIf="!uniqueSins" role="alert" aria-live="assertive">
    <div class="text-danger">{{uniqueSinErrMsg}}</div>
  </div>