<common-page-framework layout="blank">
    <form #formRef="ngForm" novalidate> 
        <h1><strong>Medical Services Plan Account Holder</strong></h1>
        <p class="border-bottom">Please provide information about this account. If you are requesting an update or correction to personal information (including a name change as a result of marriage, separation or divorce), birthdate or gender, provide supporting documents.</p>

        <div class="form-group">
            <common-radio [value]="applicant.updatingPersonalInfo" 
                [label]="'As the Account Holder, are you requesting an update/correction to your personal information?'" 
                [radioLabels]='[{ "label": "No", "value": false}, {"label": "Yes", "value": true}]'
                (statusChange)="applicant.updatingPersonalInfo = $event">
            </common-radio>
        </div>

        <div class="form-group">
            <common-radio [value]="applicant.immigrationStatusChange"  
                [label]="'Are you requesting to update or renew your immigration status in Canada?'" 
                [radioLabels]='[{ "label": "No", "value": false}, {"label": "Yes", "value": true}]'
                (statusChange)="applicant.immigrationStatusChange = $event; ">
            </common-radio>
        </div>

        <msp-personal-information [person]="applicant">
            <div sectionTitleInfo>
                <h2>Account Holder Identification</h2>
                <p class="border-bottom"> 
                    Please provide the Account Holder’s personal information for verification purposes.
                </p>
            </div>     
        </msp-personal-information>

        <br>

        <msp-update-request title="What updates are you requesting for Account Holder?" 
            subtitle = "For each update or correction selected, provide the supporting documents." 
            [person]="person" 
            [accountApp]="accountApp">
        </msp-update-request>

    </form>
</common-page-framework>


<div class="position: inherit;">
    <common-form-action-bar 
    [defaultColor]="false"
    [submitLabel]="lang('./en/index.js').continueButton"
    [canContinue]="!hasAnyInvalidStatus()" (btnClick)="continue()">
    </common-form-action-bar>
</div>