<form #formRef='ngForm' novalidate>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label [innerHtml]="lang('./en/index.js').reasonLabel"></label><br>
        <input type="text" class="form-control"
               [(ngModel)]="outofBCRecord.reason"
               name="reason" #reasonRef="ngModel"
               required
               maxlength="20">
        <div *ngIf='reasonRef.touched || showError'>
          <div class="text-danger" *ngIf="reasonRef.errors?.required"
              [innerHtml]="lang('./en/index.js').ourOfBCReasonRequired"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label [innerHtml]="lang('./en/index.js').locationLabel"></label><br>
        <input type="text" class="form-control"
               [(ngModel)]="outofBCRecord.location"
               name="location" #locationRef="ngModel"
               required
               maxlength="20">
        <div *ngIf='locationRef.touched || showError'>
          <div class="text-danger" *ngIf="locationRef.errors?.required"
               [innerHtml]="lang('./en/index.js').locationRequired"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <msp-departure-date
          #mspDepartureDate
          [year]="outofBCRecord.departureYear"
          (yearChange)="outofBCRecord.departureYear = $event"
          [month]="outofBCRecord.departureMonth"
          (monthChange)="outofBCRecord.departureMonth = $event"
          [day]="outofBCRecord.departureDay"
          (dayChange)="outofBCRecord.departureDay = $event;"
          (onChange)="onUpdate.emit($event)"
          [showError]="showError"></msp-departure-date>
    </div>
    <div class="col-md-4">
      <msp-return-date
          #mspReturnDate
          [year]="outofBCRecord.returnYear"
          (yearChange)="outofBCRecord.returnYear = $event"
          [month]="outofBCRecord.returnMonth"
          (monthChange)="outofBCRecord.returnMonth = $event"
          [day]="outofBCRecord.returnDay"
          (dayChange)="outofBCRecord.returnDay = $event"
          (onChange)="onUpdate.emit($event)"
          [showError]="showError"></msp-return-date>
    </div>
  </div>
</form>