<form #formRef='ngForm' novalidate class="col-12 p-0">
  <div class="row" style="width: 100%;">
    <div class="col-6 p-0">
      <div [ngClass]="{'has-error': !formRef.controls['reason'+objectId]?.valid && (reasonRef.touched || showError)}">
        <label for="reason{{objectId}}" [innerHtml]="lang('./en/index.js').reasonLabel"></label><br>
        <input type="text" class="form-control" [(ngModel)]="outofBCRecord.reason" name="reason{{objectId}}"
          #reasonRef="ngModel" id="reason{{objectId}}" required maxlength="20">
        <div *ngIf='reasonRef.touched || showError' role="alert" aria-live="assertive">
          <div class="text-danger" *ngIf="reasonRef.errors?.required"
            [innerHtml]="lang('./en/index.js').ourOfBCReasonRequired"></div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div
        [ngClass]="{'has-error': !formRef.controls['location'+objectId]?.valid && (locationRef.touched || showError)}">
        <label for="location{{objectId}}" [innerHtml]="lang('./en/index.js').locationLabel"></label><br>
        <input type="text" class="form-control" [(ngModel)]="outofBCRecord.location" name="location{{objectId}}"
          #locationRef="ngModel" id="location{{objectId}}" required maxlength="20">
        <div *ngIf='locationRef.touched || showError' role="alert" aria-live="assertive">
          <div class="text-danger" *ngIf="locationRef.errors?.required"
            [innerHtml]="lang('./en/index.js').locationRequired"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="width: 100%;">
    <div class="col-6 p-0">
      <msp-departure-date #mspDepartureDate [maxMonthsRange]="maxMonthsRange"
        [maxMonthsRangeErrorMsg]="maxMonthsRangeErrorMsg" [year]="outofBCRecord.departureYear"
        (yearChange)="outofBCRecord.departureYear = $event" [month]="outofBCRecord.departureMonth"
        (monthChange)="outofBCRecord.departureMonth = $event" [day]="outofBCRecord.departureDay"
        (dayChange)="outofBCRecord.departureDay = $event;" (onChange)="onUpdate.emit($event)"
        [futureDate]="futureDepartureDate" [showError]="showError"></msp-departure-date>
    </div>
    <div class="col-6">
      <msp-return-date #mspReturnDate [minMonthsRange]="minMonthsRange"
        [minMonthsRangeErrorMsg]="minMonthsRangeErrorMsg" [year]="outofBCRecord.returnYear"
        (yearChange)="outofBCRecord.returnYear = $event" [month]="outofBCRecord.returnMonth"
        (monthChange)="outofBCRecord.returnMonth = $event" [day]="outofBCRecord.returnDay"
        (dayChange)="outofBCRecord.returnDay = $event" (onChange)="onUpdate.emit($event)"
        [futureDate]="futureReturnDate" [showError]="showError" [mustBeAfter]="outofBCRecord.departureDate">
      </msp-return-date>
    </div>
  </div>
</form>
