<div class="container">
    <nav>
        <div class="progressBar">
            <ul>
                <li *ngFor="let item of progressBarList; let itemNum = index">
                    <a routerLink="{{item.routerLink}}"
                       [class.beforeActive]="isBeforeActiveRoute(item.routerLink)"
                       [class.active]="isActiveRoute(item.routerLink)"
                       [class.afterActive]="isAfterActiveRoute(item.routerLink)">
                        <span>{{itemNum + 1}}</span>
                        <span [class.hidden-xs]="!isActiveRoute(item.routerLink)">{{item.displayName}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>