<div class="container">
    <nav>
        <div class="progressBar">
            <ul>
                <li *ngFor="let item of progressBarList">
                    <a routerLink="{{item.routerLink}}"
                       [class.beforeActive]="isBeforeActiveRoute(item.routerLink)"
                       [class.active]="isActiveRoute(item.routerLink)"
                       [class.afterActive]="isAfterActiveRoute(item.routerLink)">
                        {{item.displayName}}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>