.monthSelect {
  width: 125px !important;
  display: inline !important;
  color: #6c757d;
}
.dayInput {
  width: 50px !important;
  display: inline !important;
}
.yearInput {
  width: 75px !important;
  display: inline !important;
}

/* Remove spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}