<msp-consent-modal #mspConsentModal [application]="mspAccountApp" [processName]="lang('./en/index.js').consentProcessName"
                   (onClose)="addressChangeChkBx.focus()">
</msp-consent-modal>

<h1 [innerHtml]="lang('./en/index.js').pageTitle"></h1>
<h4 [innerHtml]="lang('./en/index.js').subTitle"></h4>
<h4 [innerHtml]="lang('./en/index.js').groupAccoungMsg"></h4>
<h3 [innerHtml]="lang('./en/index.js').faqMsg"></h3>
<h3 [innerHtml]="lang('./en/index.js').selectTitle"></h3>

<form #formRef='ngForm' novalidate role="form" >

    <div role="dialog" aria-labelledby="q1" class="checkbox checkbox-spaced">
        <input #addressChangeChkBx class="input-lg" id='addressChange' name="addressChange" type="checkbox" [(ngModel)]="accountChangeOptions.addressUpdate" (ngModelChange)="addressUpdateOnChange($event)" >
        <label id="q1" for='addressChange' [innerHtml]="lang('./en/index.js').addressChange"></label>
    </div>
    <div role="dialog" aria-labelledby="q2" class="checkbox checkbox-spaced">
        <input #personalInfoChangeChkBx class="input-lg" id='personalInfoChange' name="personalInfoChange" type="checkbox" [(ngModel)]="accountChangeOptions.personInfoUpdate" (ngModelChange)="personInfoUpdateOnChange($event)">
        <label id="q2" for='personalInfoChange' [innerHtml]="lang('./en/index.js').personalInfoChange"></label>
    </div>
    <div role="dialog" aria-labelledby="q3" class="checkbox checkbox-spaced">
        <input #dependentChangeChkBx class="input-lg" id='dependentChange' name="dependentChange" type="checkbox" [(ngModel)]="accountChangeOptions.dependentChange" (ngModelChange)="dependentChangeOnChange($event)">
        <label id="q3" for='dependentChange' [innerHtml]="lang('./en/index.js').dependentChange"></label>
    </div>
    <div role="dialog" aria-labelledby="q4" class="checkbox checkbox-spaced">
        <input #updateStatusInCanadaChkBx class="input-lg" id='statusChange' name="statusChange" type="checkbox" [(ngModel)]="accountChangeOptions.statusUpdate" (ngModelChange)="statusUpdateOnChange($event)" >
        <label id="q4" for='statusChange' [innerHtml]="lang('./en/index.js').statusChange"></label>
    </div>
    <p class="intro text-danger" *ngIf="hasOnlyAddressSelected" [innerHtml]="lang('./en/index.js').addressRedirecMsg" role="alert"
       aria-live="assertive"></p>
</form>

<div class="row" *ngIf="hasOnlyAddressSelected">
    <div class="col-md-12">
        <captcha [apiBaseUrl]="captchaApiBaseUrl" [nonce]="mspAccountApp.uuid"
                 (onValidToken)="mspAccountApp.authorizationToken = $event"></captcha>
    </div>
</div>
<hr>
<button [mspLogger]="'msp-account-management_prepare_continue'" class="btn btn-primary" [disabled]="!canContinue()" (click)="next()"
        type="button" tabindex="0" [innerHtml]="lang('./en/index.js').continueButton"></button>

<msp-cancel [accountButton]="true"></msp-cancel>


