<msp-consent-modal #mspConsentModal [application]="mspAccountApp" [processName]="lang('./en/index.js').consentProcessName"
                   (onClose)="addressChangeChkBx.focus()">
</msp-consent-modal>

<h1 [innerHtml]="lang('./en/index.js').pageTitle"></h1>
<h4 [innerHtml]="lang('./en/index.js').subTitle"></h4>
<h4 [innerHtml]="lang('./en/index.js').groupAccoungMsg"></h4>
<h3><a href='{{faqUrl}}' target='blank'>{{lang('./en/index.js').faqMsg}}</a></h3>
<h3 [innerHtml]="lang('./en/index.js').selectTitle"></h3>

<form #formRef='ngForm' novalidate role="form" >
    <div role="dialog" aria-labelledby="q1" class="checkbox checkbox-spaced" >
        <input #addressChangeChkBx class="input-lg" id='addressChange' name="addressChange" type="checkbox" [(ngModel)]="accountChangeOptions.addressUpdate" (ngModelChange)="addressUpdateOnChange($event)" >
        <label id="q1" for='addressChange' [innerHtml]="lang('./en/index.js').addressChange"></label>
    </div>
    <div role="dialog" aria-labelledby="q2" class="checkbox checkbox-spaced">
        <input #personalInfoChangeChkBx class="input-lg" id='personalInfoChange' name="personalInfoChange" type="checkbox" [(ngModel)]="accountChangeOptions.personInfoUpdate" (ngModelChange)="personInfoUpdateOnChange($event)">
        <label id="q2" for='personalInfoChange' [innerHtml]="lang('./en/index.js').personalInfoChange"></label>
    </div>
    <div role="dialog" aria-labelledby="q3" class="checkbox checkbox-spaced" style="margin-left: 20px;" *ngIf="accountChangeOptions.personInfoUpdate">
        <input #nameChangeDueToMarriageChkBx class="input-lg" id='nameChangeDueToMarriage' [disabled]="accountChangeOptions.dependentChange ||accountChangeOptions.statusUpdate " name="nameChangeDueToMarriage" type="checkbox" [(ngModel)]="accountChangeOptions.nameChangeDueToMarriage" (ngModelChange)="nameChangeDueToMarriageOnChange($event)">
        <label id="q3" for='nameChangeDueToMarriage' [innerHtml]="lang('./en/index.js').nameChangeDueToMarriage"></label>
    </div>


    <div role="dialog" aria-labelledby="q4" class="checkbox checkbox-spaced">
        <input #dependentChangeChkBx class="input-lg" id='dependentChange' name="dependentChange" type="checkbox" [(ngModel)]="accountChangeOptions.dependentChange" (ngModelChange)="dependentChangeOnChange($event)">
        <label id="q4" for='dependentChange' [innerHtml]="lang('./en/index.js').dependentChange"></label>
    </div>
    <div role="dialog" aria-labelledby="q5" class="checkbox checkbox-spaced">
        <input #updateStatusInCanadaChkBx class="input-lg" id='statusChange' name="statusChange" type="checkbox" [(ngModel)]="accountChangeOptions.statusUpdate" (ngModelChange)="statusUpdateOnChange($event)" >
        <label id="q5" for='statusChange' [innerHtml]="lang('./en/index.js').statusChange"></label>
    </div>
    <p class="intro text-danger" *ngIf="hasOnlyAddressSelected && !transmissionInProcess" [innerHtml]="lang('./en/index.js').addressRedirecMsg" role="alert"
       aria-live="assertive"></p>
</form>

<div class="row" *ngIf="hasOnlyAddressSelected">

    <div *ngIf="transmissionInProcess" class="center-block" role="alert" aria-live="assertive">
        <h1 [innerHtml]="lang('./en/index.js').pageTitleRedirect"></h1>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>

        <span class="sr-only">Redirecting your request ...</span>
    </div>

    <div class="col-md-12" *ngIf="!transmissionInProcess">
        <captcha [apiBaseUrl]="captchaApiBaseUrl" [nonce]="mspAccountApp.uuid"
                 (onValidToken)="mspAccountApp.authorizationToken = $event"></captcha>
    </div>
</div>
<hr>
<button [mspLogger]="'msp-account-management_prepare_continue'" class="btn btn-primary" [disabled]="!canContinue() || transmissionInProcess" (click)="next()"
        type="button" tabindex="0" [innerHtml]="lang('./en/index.js').continueButton"></button>

<msp-cancel [accountButton]="true"></msp-cancel>


