<common-consent-modal #mspConsentModal class="consentModal" [isUnderMaintenance]="true"
        [title]="'Information collection notice'"  [processName]="'ACL'"
        [agreeLabel]="'I have read and understand this information'" (accept)="onAccept($event)"
        (onClose)="manageAccount.focus()">
        <p><strong>Keep your personal information secure – especially when using a shared device like a computer at a library, 
          school or café.</strong> To delete any information that was entered, either complete the request and submit it or, 
          if you don't finish, close the web browser.</p><p><strong>Need to take a break and come back later?</strong> The data 
          you enter on this form is saved locally to the computer or device you are using until you close the web browser or 
          submit your request.</p><p>Personal information is collected under the authority of the <i> Medicare Protection Act
          </i> and section 26 (a), (c) and (e) of the <i>Freedom of Information and Protection of Privacy Act</i> for the purposes 
          of administration of the Medical Services Plan. If you have any questions about the collection and use of your personal 
          information, please contact <a href="http://www2.gov.bc.ca/gov/content/health/health-drug-coverage/msp/bc-residents-contact-us" target="_blank">
            Health Insurance BC <i class="fa fa-external-link" aria-hidden="true"></i></a>.</p> 
</common-consent-modal>

<common-page-framework layout="blank">

<div class="container containerHomePage">
  <h1><strong> Manage your Medical Services Plan Account </strong></h1>
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <p>
        If you are an Account Holder with an active Medical Services Plan account, use this service to update or correct your 
        account information.
      </p>
      <p>
        If you (and your spouse, if applicable) do not have an active Medical Services Plan Account, apply for a new account 
        at <a href="http://www2.gov.bc.ca/MSPS/applyforhealthcare" target="_blank">
        gov.bc.ca/MSP/applyforhealthcare <i class="fa fa-external-link" aria-hidden="true"></i></a>.
      </p>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="card mb-4 h-100" style="background-color : #f2f2f2;">
          <br>
          <aside>
              <div class="row" style="margin-bottom:15px">
                  &nbsp;&nbsp;&nbsp;  
                  <div class="col-2">
                      <i class="fa fa-exclamation-triangle" style="font-size: 35px;"></i>
                  </div>
                  <div class="col-8">
                      <p>
                          If you are covered on an MSP Group Plan, in which your MSP coverage is manage by your MSP coverage 
                          is managed by your employer, union, or pension plan, please contact your MSP Group Plan Administrator
                          to request account changes.
                      </p>
                  </div>
              </div>
          </aside> 
        </div>
      </div>
  </div>
<hr>

<div class="row">
  <div class="col-sm-12 col-md-6">
  <div class="card mb-4 h-100">
    <div class="card-header cardHeader" >
        Manage Your Account
    </div>
    <div class="card-body d-flex flex-column">
      <!-- <p class="card-text"> -->
      Update personal information for yourself, your spouse, or children, including:
          <ul>
              <li>
                  Legal name
              </li>
              <li>
                  Birthdate
              </li>
              <li>
                  Gender designation
              </li>
            </ul>
      Update or renew immigration status in Canada for yourself, your spouse, or children, including:
        <ul>
            <li>
                Canadian citizenship
            </li>
            <li>
                Permanent Resident status
            </li>
            <li>
                New or updated temporary immigration permits
            </li>
          </ul>
      <p>
          Add a new spouse or remove a spouse on your account
      </p>

      <p>
          Add children or remove children on your account
      </p>
      <!-- <div style="text-align: center;"> -->
        <button #manageAccount type="button" class="mt-auto btn btn-primary btn-md" routerLink="/deam/personal-info">
        <span>Manage Account</span>
        </button>
      <!-- </div> -->
    </div>
  </div> 
</div> <br>

<div class="col-sm-12 col-md-6" >
    <div class="card h-100" >
      <div class="card-header cardHeader">
          Address Change Only
      </div>
      <div class="card-body d-flex flex-column">
        <p>
          To report a move within B.C. click "Report an address change in B.C.” You will be redirected to Address Change B.C.
        </p>
        <p>
          If you (or a spouse/child on your account) are leaving B.C. permanently, click “Report a move outside B.C.” 
          You will be redirected to the "Permanent Move Outside British Columbia" form to cancel MSP coverage for the 
          individuals who have moved out of province.
        </p> 
        <div class="btn-group-vertical mt-auto" role="group">
            <button type="button" class="btn btn-primary btn-md btn-block" onclick="window.open('http://www.addresschange.gov.bc.ca/', '_blank')" >
              Report an address change in B.C. <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
            </button> <br>
            <button type="button" class="btn btn-primary btn-md btn-block" onclick="window.open('http://www.health.gov.bc.ca/exforms/msp/7063.html', '_blank')" class="mt-auto btn btn-primary">
              Report a move outside B.C. <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
            </button> 
        </div>

        <!-- <div style="text-align: center;"> -->
        <!-- <div class="mt-auto">
          <button class="btn btn-primary btn-md btn-block" onclick="window.open('http://www.addresschange.gov.bc.ca/', '_blank')" >
            Report an address change in B.C. <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
          </button> <br>
          <button class="btn btn-primary btn-md btn-block" onclick="window.open('http://www.health.gov.bc.ca/exforms/msp/7063.html', '_blank')" class="mt-auto btn btn-primary">
            Report a move outside B.C. <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
          </button> 
        </div> -->
      </div>
    </div>
  </div>
</div>
</div>
</common-page-framework>
