@import "mixins";

.cardHeader {
  background-color: #036;
  border-radius: 5px 5px 0px 0px;
  font-size: 22px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.home-container {
  font-family: Arial;
  max-width: 1150px;
  margin: 32px auto;
  @include remove-x-padding-at-tablet-size;

  &__grandchild-container {
    @include remove-x-padding-at-tablet-size;
  }

  &__option-container {
    // space between the cards for Manage Account / Address Change Only
      > .home-container__grandchild-container:first-child {
        margin-bottom: 24px;
      }
  }
}

.home-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 5%;
  width: 100%;
  @include remove-x-padding-at-tablet-size;

  > * {
    width: 100%;
  }

  &__icon {
    // top, horizontal, bottom
    padding: 6px 16px 16px;
    text-align: center;
  }

  &__text {
    font-size:12px;
    padding: 0 16px 16px;
  }

  &__aside-wrapper {
      align-self: center;
      justify-self: center;
      width: 100%;
  }
}

.consentModal {
  font-family: Arial;
}

.btn-space {
  margin-right: 5px;
}


