<common-page-framework layout="blank">
  <form #formRef="ngForm" novalidate>
  
    <h1> <b>  Add spouse information and upload documents </b></h1>
    
    <div >Do you have a spouse or common-law partner? If so, you are required to provide spouse information and upload a Notice of Assessment or Reassessment.</div>
    <hr>    
    <button style="width: 200px;" type="button" class="btn btn-primary" 
      (click)="addSpouse()"
      [disabled]="showSpouse">
      <span>Add Spouse Information</span>
    </button>
    
    <div *ngIf="showSpouse">
    
      
          <!-- <br/>
      <h2>Your spouse or common-law partner</h2>
      <h4>Enter your spouse’s legal name as it appears on their BC Service Card.
      </h4> -->

        <msp-personal-details-retro-suppben 
              [(person)]="benefitApplication.spouse"
              [benefitApp] = "benefitApplication"
              (onChange)="onChange($event)"
              [removeable]='true'
              (notifySpouseRemoval)="removeSpouse($event)">
          </msp-personal-details-retro-suppben>  
    </div>
  </form>
</common-page-framework>
 
<common-form-action-bar [defaultColor]="false" [submitLabel]="benefitApplication.hasSpouseOrCommonLaw? 'Continue':'No Spouse'"
    [canContinue]="canContinue" 
    (btnClick)="nextStep()">
</common-form-action-bar>