<form #formRef="ngForm" novalidate>
    <common-page-framework layout="blank">

  <h1>Tell us about your Spouse and upload official documents</h1>

  
    
  <div class="row">
    <div class="col-sm-8">
      <common-button *ngIf='!spouse' [label]="'Add Spouse'" 
        [buttonType]="buttonClass" [disabled] = "benefitApplication.hasSpouseOrCommonLaw" (btnClick)='addSpouse()'>
      </common-button>
    </div>
  </div>  
  
  <div *ngIf="benefitApplication.hasSpouseOrCommonLaw">
    <h2>Your spouse or common-law partner</h2>
    <h4>Enter spouse's legal name as it appears on their official Canadian identity documents, e.g., birth certificate, permanent resident card, passport.</h4>
    <hr>
    <msp-benefit-personal-detail *ngIf="benefitApplication.hasSpouseOrCommonLaw"
                                   [person]="benefitApplication.spouse"
                                   (onChange)="onChange($event)" 
                                   (notifySpouseRemoval)="removeSpouse($event)">
    </msp-benefit-personal-detail>
  </div>
  
</common-page-framework>
 
  <common-form-action-bar [defaultColor]="false" [submitLabel]="benefitApplication.hasSpouseOrCommonLaw? 'Continue':'No Spouse'"
      [canContinue]="canContinue" 
      (btnClick)="nextStep()">
  </common-form-action-bar>
 
  
</form>
