<div *ngIf="!docRequired">
  <h1 [innerHTML]="lang('./en/index.js').retroYearsTitleDocsNotRequired" tabindex="0"></h1>
  <div class="row">
    <div class="col-sm-12">
      <p [innerHTML]="getDocNotRequiredInstruction()" tabindex="0">
      </p>
    </div>
  </div>
</div>

<div *ngIf="docRequired">
  <h1 [innerHTML]="lang('./en/index.js').retroYearsTitle" tabindex="0"></h1>
  <div class="row">
    <div class="col-sm-12">
      <p [innerHTML]="docRequiredInstruction.applicant" tabindex="0">
      </p>
    </div>
  </div>
  <div class="row" *ngIf="hasSpouse">
    <div class="col-sm-12">
      <p [innerHTML]="docRequiredInstruction.spouse" tabindex="0">
      </p>
    </div>
  </div>
</div>

<form #formRef='ngForm' novalidate>

  <div class="row">
    <div class="col-lg-8" *ngIf="docRequired">
        <h2 [innerHTML]="lang('./en/index.js').docUploadInstructions" tabindex="0"></h2>
        <label [innerHTML]="lang('./en/index.js').docUploadInstruction" tabindex="0">
        </label>
      
        <msp-file-uploader #fileUploader
            [images]="application.assistYeaDocs" 
            [id]='application.id'
            (onAddDocument)="addDoc($event)"
            (onErrorDocument)="errorDoc($event)"
            (onDeleteDocument)="deleteDoc($event)">
        <span id="uploadInstruction" tabindex="0"
          #uploadInstruction
        >
          Please upload Notice of Assessment documents
        </span>
            
        </msp-file-uploader>
        <msp-image-error-modal #mspImageErrorModal></msp-image-error-modal>
    </div>
  </div>

</form>

<hr>

      <div class="col-md-6 pull-left" *ngIf="!canContinue && formRef.submitted">
        <p class="text-danger" [innerHTML]="lang('./en/index.js').completesAllHighlightedFields"
          tabindex="0">
        </p>
      </div>




    <div class="row" style="margin-top: 10px;">
      <div class="col-md-2 col-4">
        <button
                [disabled] = "!canContinue"
                class="btn btn-primary" type="submit" (click)="continue()"
                [innerHTML]="lang('./en/index.js').continueButton"></button>
      </div>
      <div class="col-md-8 col-12 pull-left" *ngIf="docRequired && application.assistYeaDocs.length < 1">
        <p class="text-danger" [innerHTML]="lang('./en/index.js').noaDocRequired" tabindex="0">
        </p>
      </div>
        <div class="col-md-2 col-12 pull-right">
        <msp-cancel></msp-cancel>
    </div>
    </div>

