<div *ngIf="!docRequired">
  <h1 [innerHTML]="lang('./en/index.js').retroYearsTitleDocsNotRequired"></h1>
  <div class="row">
    <div class="col-xs-12">
      <p [innerHTML]="getDocNotRequiredInstruction()">
      </p>
    </div>
  </div>
</div>

<div *ngIf="docRequired">
  <h1 [innerHTML]="lang('./en/index.js').retroYearsTitle"></h1>
  <div class="row">
    <div class="col-xs-12">
      <p [innerHTML]="docRequiredInstruction.applicant">
      </p>
    </div>
  </div>
  <div class="row" *ngIf="hasSpouse">
    <div class="col-xs-12">
      <p [innerHTML]="docRequiredInstruction.spouse">
      </p>
    </div>
  </div>
</div>

<form #formRef='ngForm' novalidate>

  <div class="row">
    <div class="col-md-8" *ngIf="docRequired">
        <h2 [innerHTML]="lang('./en/index.js').docUploadInstructions"></h2>
        <label [innerHTML]="lang('./en/index.js').docUploadInstruction">
        </label>
      
        <msp-file-uploader #fileUploader
            [images]="application.assistYeaDocs" 
            [id]='application.id'
            (onAddDocument)="addDoc($event)"
            (onErrorDocument)="errorDoc($event)"
            (onDeleteDocument)="deleteDoc($event)">
        <span id="uploadInstruction">Please upload Notice of Assessment documents</span>
            
        </msp-file-uploader>
        <msp-image-error-modal #mspImageErrorModal></msp-image-error-modal>
    </div>
  </div>

</form>

<hr>

      <div class="col-sm-6 pull-left" *ngIf="!canContinue && formRef.submitted">
        <p class="text-danger" [innerHTML]="lang('./en/index.js').completesAllHighlightedFields">
        </p>
      </div>




    <div class="row" style="margin-top: 10px;">
      <div class="col-sm-2">
        <button [mspLogger]="'msp-premium-assistance_apply_for_prevous_years'"  
                [disabled] = "docRequired && application.assistYeaDocs.length < 1"
                class="btn btn-primary" type="submit" (click)="continue()"
                [innerHTML]="lang('./en/index.js').continueButton"></button>
        
      </div>
      <div class="col-sm-6 pull-left" *ngIf="docRequired && application.assistYeaDocs.length < 1">
        <p class="text-danger" [innerHTML]="lang('./en/index.js').noaDocRequired">
        </p>
      </div>
    </div>
<msp-cancel></msp-cancel>
