<h1 [innerHTML]="lang('./en/index.js').pageTitle"></h1>
<p class="help-block" [innerHTML]="lang('./en/index.js').helpBlock"></p>

<h2 [innerHTML]="lang('./en/index.js').applicantInfo"></h2>
<form #formRef='ngForm' (ngSubmit)="onSubmit(formRef)" novalidate>
  <msp-benefit-personal-detail
          [(person)]="benefitApplication.applicant"
          (onChange)="onChange($event)">
  </msp-benefit-personal-detail>

  <h2 *ngIf="benefitApplication.hasSpouseOrCommonLaw" [innerHTML]="lang('./en/index.js').spouseInfo"></h2>
  <msp-benefit-personal-detail *ngIf="benefitApplication.hasSpouseOrCommonLaw"
                                   [person]="benefitApplication.spouse"
                                   (onChange)="onChange($event)">
  </msp-benefit-personal-detail>

  <h2 [innerHTML]="lang('./en/index.js').contactInfo"></h2>
  <a href="#contact-anchor" tabindex="-1"></a>
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-md-4">
          <msp-phone #phone
                     [phoneNumber]="benefitApplication.phoneNumber"
                     (phoneNumberChange)="benefitApplication.phoneNumber = $event"
                     (onChange)="onChange($event)"></msp-phone>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <msp-address #address
               [mailingAddress]="benefitApplication.mailingAddress"
               [mailingOnly]="true" (onChange)="onChange($event)"></msp-address>
  <hr>

  <button
          class="btn btn-primary" type="submit"
          [disabled]="!canContinue"
          [innerHTML]="lang('./en/index.js').continueButton"></button>
  <msp-cancel></msp-cancel>
</form>