<button type="button" class="btn btn-default btn-xs pull-right" (click)="cancelDependentRemoval()" [innerHTML]="lang('./en/index.js').clearButton[person.relationship]">
</button>

<h2 [innerHTML]="lang('./en/index.js').sectionTitle[person.relationship]"></h2>
<p [innerHTML]="lang('./en/index.js').sectionBody[person.relationship]"></p>
<label [innerHtml]="lang('./en/index.js').isExistingBeneficiaryQuestion[person.relationship]"></label>
<msp-toggle [(data)]="person.isExistingBeneficiary"></msp-toggle>

<msp-status-in-canada-radio 
  *ngIf="person.isExistingBeneficiary===false" 
  [person]='person'>
</msp-status-in-canada-radio>  


<!-- Show this form to existing beneficiary's immediately, and only show it to
new beneficiaries once they have set their status. -->
<ng-container *ngIf="person.isExistingBeneficiary || (person.status || person.status === 0)">
  
  <msp-account-personal-details [person]='person' [id]='person.id' (onChange)="change($event)" embedded=true></msp-account-personal-details>

  <!-- Spouse-only Section, marriage date etc. -->
  <ng-container *ngIf="person.relationship === Relationship.Spouse">
    <div class="row">
      <div class="col-md-4">
        <label for='addSpousePreviousLastName' [innerHTML]="lang('./en/index.js').previousName"></label>
        <input type="text" name="spousePrevLastname" class="form-control" id='addSpousePreviousLastName' [(ngModel)]="person.prevLastName">
      </div>
      <div class="col-md-4">
        <msp-date
          [label]="lang('./en/index.js').marriageDate"
          [showError]='showError'
          [(date)]="person.marriageDate"
        ></msp-date>
      </div>
    </div>
  </ng-container> 
  <!-- End Spouse-only Section -->

  <!-- Contains all questions if the user is a new beneficiary. -->
  <msp-add-new-dependent-beneficiary
    *ngIf="(person.status || person.status === 0)"
    [person]="person"
  ></msp-add-new-dependent-beneficiary>

</ng-container> <!-- end dependent form container -->

<hr class='strong-hr'>