<form #formRef='ngForm' novalidate>
  <common-radio [value]="person.enrollmentMember"  [label]="lang('./en/index.js').MSPEnrollment" [radioLabels]="lang('./en/index.js').radioLabel" (statusChange)="setStatus($event)"></common-radio>

  <!-- <div class="form-check" *ngFor="let st of MSPEnrollementMember">
    <input class='form-check-input' type="radio" name="MSPEnrollementMember-{{id}}" id="st{{st}}-{{id}}"
           (click)="setStatus(st);"
           [checked]="st === person.enrollmentMember" tabindex="0">
    <label class='form-check-label' for="st{{st}}-{{id}}">
      {{langStatus('./en/index.js')[st]}}
    </label>
  </div> -->
  <div *ngIf="person.enrollmentMember == lang('./en/index.js').radioLabel[2].value">
    <h2>Specific Member Information</h2>
    <hr>
    <h4>Please provide additional information for the specific member</h4>
    
    <div class="row">
      <div class="card panel-default col-md-6">
        <div class="card-body">
          <common-phn #addtionalMemberphn name="additional_member_phn"
                   [(ngModel)]="person.specificMember_phn"
                   (ngModelChange)="onPHNChange();"
                   required
                   [placeholder] ="lang('./en/index.js').phnPlaceHolder"
                   [label]="lang('./en/index.js').phnlabel"
                   commonValidatePhn>
          </common-phn>

        </div>
      </div>
    </div>
  </div>


</form>