<form #formRef='ngForm' novalidate>
    <div *ngIf="!mailingOnly">
    <div class="row">
        <div class="form-group col-sm-5"
             [ngClass]="{'has-error': !formRef.controls.residentialAddressLine1?.valid && (residentialAddressLine1Ref.touched || showError)}">
            <label for="residentialAddressLine1{{objectId}}" [innerHtml]="lang('./en/index.js').addressLine1Label"></label>
            <input [(ngModel)]="residentialAddress.addressLine1" type="text" class="form-control msp-addressline"
                   id="residentialAddressLine1{{objectId}}" name="residentialAddressLine1" #residentialAddressLine1Ref="ngModel"
                   required tabindex="0"
                   maxlength="25">
            <label class="visuallyhidden" for="residentialAddressLine2{{objectId}}">{{lang('./en/index.js').addressLine2Label}}</label>
            <div [hidden]="!useResidentialAddressLine2">
                <input [(ngModel)]="residentialAddress.addressLine2" type="text" class="form-control msp-addressline"
                       id="residentialAddressLine2{{objectId}}" name="residentialAddressLine2" #residentialAddressLine2Ref="ngModel"
                       maxlength="25" tabindex="0">
            </div>
            <label class="visuallyhidden" for="residentialAddressLine3{{objectId}}">{{lang('./en/index.js').addressLine3Label}}</label>
            <div [hidden]="!useResidentialAddressLine3">
                <input [(ngModel)]="residentialAddress.addressLine3" type="text" class="form-control msp-addressline"
                       id="residentialAddressLine3{{objectId}}" name="residentialAddressLine3" #residentialAddressLine3Ref="ngModel"
                       maxlength="25" tabindex="0">
            </div>
            <a [hidden]="useResidentialAddressLine2 && useResidentialAddressLine3" href="javascript:void(0)"
               (click)="useAnotherResidentialAddressLine()" role="button">Need another address line?</a>
            <div role="alert" aria-live="assertive">
                <div *ngIf='residentialAddressLine1Ref.touched || showError'>
                    <div class="text-danger" *ngIf="residentialAddressLine1Ref.errors?.required"
                         [innerHtml]="lang('./en/index.js').addressLine1ErrorIsRequired"></div>
                    <div class="text-danger" *ngIf="residentialAddressLine1Ref.errors?.maxlength"
                         [innerHtml]="lang('./en/index.js').addressLine1ErrorMaxLength.replace('{length}', residentialAddressLine1Ref.maxLength)"></div>
                </div>
                <div *ngIf='useResidentialAddressLine2 && residentialAddressLine2Ref.touched || showError'>
                    <div class="text-danger" *ngIf="residentialAddressLine2Ref.errors?.maxlength"
                         [innerHtml]="lang('./en/index.js').addressLine2ErrorMaxLength.replace('{length}', residentialAddressLine2Ref.maxLength)"></div>
                </div>
                <div *ngIf='useResidentialAddressLine3 && residentialAddressLine3Ref.touched || showError'>
                    <div class="text-danger" *ngIf="residentialAddressLine3Ref.errors?.maxlength"
                         [innerHtml]="lang('./en/index.js').addressLine3ErrorMaxLength.replace('{length}', residentialAddressLine3Ref.maxLength)"></div>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-4"
             [ngClass]="{'has-error': !formRef.controls.residentialAddressCity?.valid && (residentialAddressCityRef.touched || showError)}">
            <label for="residentialAddressCity{{objectId}}" [innerHtml]="lang('./en/index.js').cityLabel"></label>
            <input [(ngModel)]='residentialAddress.city' type="text" class="form-control"
                   id="residentialAddressCity{{objectId}}" name="residentialAddressCity" #residentialAddressCityRef="ngModel"
                   required tabindex="0"
                   maxlength="25">
            <div *ngIf='residentialAddressCityRef.touched || showError'
                 role="alert" aria-live="assertive">
                <div class="text-danger" *ngIf="residentialAddressCityRef.errors?.required"
                     [innerHtml]="lang('./en/index.js').cityErrorIsRequired"></div>
                <div class="text-danger" *ngIf="residentialAddressCityRef.errors?.maxlength"
                     [innerHtml]="lang('./en/index.js').cityErrorMaxLength.replace('{length}', residentialAddressCityRef.maxLength)"></div>
            </div>
        </div>

        <div class="form-group col-sm-3"
             [ngClass]="{'has-error': !formRef.controls.residentialAddressPostalCode?.valid &&
             (residentialAddressPostalCodeRef.touched  || showError)}">
            <label for="residentialAddressPostalCode{{objectId}}" [innerHtml]="lang('./en/index.js').postalCodeLabel"></label>
            <input [(ngModel)]='residentialAddress.postal' type="text" class="form-control to-upper"
                   id="residentialAddressPostalCode{{objectId}}" name="residentialAddressPostalCode" #residentialAddressPostalCodeRef="ngModel"
                   required tabindex="0"
                   [pattern]="Address.PostalCodeBCRegEx">
            <div *ngIf='residentialAddressPostalCodeRef.touched || showError'
                 role="alert" aria-live="assertive">
                <div class="text-danger" *ngIf="residentialAddressPostalCodeRef.errors?.required"
                     [innerHtml]="lang('./en/index.js').postalCodeErrorIsRequired"></div>
                <div class="text-danger" *ngIf="residentialAddressPostalCodeRef.errors?.pattern"
                     [innerHtml]="lang('./en/index.js').postalCodeErrorPattern"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-5">
            <label for="residentialAddressProvince{{objectId}}" [innerHtml]="lang('./en/index.js').provinceLabel"></label>
            <input [(ngModel)]='residentialAddress.province'
                   type="text" class="form-control"
                   id="residentialAddressProvince{{objectId}}" name="residentialAddressProvince"
                   value="British Columbia"
                   readonly>
        </div>
        <div class="form-group col-sm-4">
            <label for="residentialAddressCountry{{objectId}}" [innerHtml]="lang('./en/index.js').countryLabel"></label>
            <input type="text" [(ngModel)]="residentialAddress.country"
                   class="form-control"
                   id="residentialAddressCountry{{objectId}}" name="residentialAddressCountry"
                   #residentialAddressCountry="ngModel"
                   value="Canada"
                   readonly>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12">
            <div class="checkbox checkbox-success checkbox-inline" 
                (click) = "useSameMailingAddress()">
                <input type="checkbox" 
                name="mailAddressSameAsResidential-yes"
                id="mailAddressSameAsResidential-yes"
                [ngModel] = "mailingSameAsResidentialAddress">
                <label for="mailAddressSameAsResidential-yes" [innerHTML]="lang('./en/index.js').useResidentialAsMailing"></label>
            </div>                        
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12">
            <div class="checkbox checkbox-success checkbox-inline" 
                (click) = "useDifferentMailingAddress()">
                <input type="checkbox" 
                name="mailAddressSameAsResidential-no"
                id="mailAddressSameAsResidential-no"
                [ngModel] = "!mailingSameAsResidentialAddress"
                >
                <label for="mailAddressSameAsResidential-no" [innerHTML]="lang('./en/index.js').useOtherMailing"></label>
            </div>                        
        </div>
    </div>

    </div>

    <div *ngIf="!mailingSameAsResidentialAddress || mailingOnly">
        <h2 [innerHtml]="mailingAddressHeading"></h2>

        <div class="row">
            <div class="form-group col-sm-5"
                 [ngClass]="{'has-error': !formRef.controls.mailingAddressLine1?.valid &&
                    (mailingAddressLine1Ref.touched || showError)}">
                <label [innerHtml]="lang('./en/index.js').addressLine1Label"></label>
                <label class="visuallyhidden" for="mailingAddressLine1{{objectId}}">{{mailingAddressHeading}} {{lang('./en/index.js').addressLine1Label}}</label>
                <input [(ngModel)]="mailingAddress.addressLine1" type="text" class="form-control"
                       id="mailingAddressLine1{{objectId}}" name="mailingAddressLine1" #mailingAddressLine1Ref="ngModel"
                       required
                       maxlength="25">
                <div [hidden]="!useMailingAddressLine2">
                    <label class="visuallyhidden" for="mailingAddressLine2{{objectId}}">{{mailingAddressHeading}} {{lang('./en/index.js').addressLine2Label}}</label>
                    <input [(ngModel)]="mailingAddress.addressLine2" type="text" class="form-control"
                           id="mailingAddressLine2{{objectId}}" name="mailingAddressLine2" #mailingAddressLine2Ref="ngModel"
                           maxlength="25">
                </div>
                <div [hidden]="!useMailingAddressLine3">
                    <label class="visuallyhidden" for="mailingAddressLine3{{objectId}}">{{mailingAddressHeading}} {{lang('./en/index.js').addressLine3Label}}</label>
                    <input [(ngModel)]="mailingAddress.addressLine3" type="text" class="form-control"
                           id="mailingAddressLine3{{objectId}}" name="mailingAddressLine3" #mailingAddressLine3Ref="ngModel"
                           maxlength="25">
                </div>
                <a [hidden]="useMailingAddressLine2 && useMailingAddressLine3" href="javascript:void(0)"
                   (click)="useAnotherMailingAddressLine()" role="button">Need another address line?</a>
                <div role="alert" aria-live="assertive">
                    <div *ngIf='mailingAddressLine1Ref.touched || showError'>
                        <div class="text-danger" *ngIf="mailingAddressLine1Ref.errors?.required"
                             [innerHtml]="lang('./en/index.js').addressLine1ErrorIsRequired"></div>
                        <div class="text-danger" *ngIf="mailingAddressLine1Ref.errors?.maxlength"
                             [innerHtml]="lang('./en/index.js').addressLine1ErrorMaxLength.replace('{length}', mailingAddressLine1Ref.maxLength)"></div>
                    </div>
                    <div *ngIf='useMailingAddressLine2 && mailingAddressLine2Ref.touched || showError'>
                        <div class="text-danger" *ngIf="mailingAddressLine2Ref.errors?.maxlength"
                             [innerHtml]="lang('./en/index.js').addressLine2ErrorMaxLength.replace('{length}', mailingAddressLine2Ref.maxLength)"></div>
                    </div>
                    <div *ngIf='useMailingAddressLine3 && mailingAddressLine3Ref.touched || showError'>
                        <div class="text-danger" *ngIf="mailingAddressLine3Ref.errors?.maxlength"
                             [innerHtml]="lang('./en/index.js').addressLine3ErrorMaxLength.replace('{length}', mailingAddressLine3Ref.maxLength)"></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-4"
                 [ngClass]="{'has-error': !formRef.controls.mailingAddressCity?.valid &&
                    (mailingAddressCityRef.touched || showError)}">
                <label [innerHtml]="lang('./en/index.js').cityLabel"></label>
                <label for="mailingAddressCity{{objectId}}" class="visuallyhidden">{{mailingAddressHeading}} {{lang('./en/index.js').cityLabel}}</label>
                <input [(ngModel)]='mailingAddress.city' type="text" class="form-control"
                       id="mailingAddressCity{{objectId}}" name="mailingAddressCity" #mailingAddressCityRef="ngModel"
                       maxlength="25" required>
                <div *ngIf='mailingAddressCityRef.touched || showError'
                     role="alert" aria-live="assertive">
                    <div class="text-danger" *ngIf="mailingAddressCityRef.errors?.required"
                         [innerHtml]="lang('./en/index.js').cityErrorIsRequired"></div>
                    <div class="text-danger" *ngIf="mailingAddressCityRef.errors?.maxlength"
                         [innerHtml]="lang('./en/index.js').cityErrorMaxLength.replace('{length}', mailingAddressCityRef.maxLength)"></div>
                </div>
            </div>
            <div class="form-group col-sm-3"
                 [ngClass]="{'has-error': !formRef.controls.mailingAddressPostalCode?.valid &&
                    (mailingAddressPostalCodeRef.touched || showError)}">
                <label [innerHtml]="lang('./en/index.js').postalCodeLabel"></label>
                <label for="mailingAddressPostalCode{{objectId}}" class="visuallyhidden">{{mailingAddressHeading}} {{lang('./en/index.js').postalCodeLabel}}</label>
                <input [(ngModel)]='mailingAddress.postal' type="text" class="form-control to-upper"
                       id="mailingAddressPostalCode{{objectId}}" name="mailingAddressPostalCode" #mailingAddressPostalCodeRef="ngModel"
                       maxlength="25"
                       required>
                <div *ngIf='mailingAddressPostalCodeRef.touched || showError'
                     role="alert" aria-live="assertive">
                    <div class="text-danger" *ngIf="mailingAddressPostalCodeRef.errors?.required"
                         [innerHtml]="lang('./en/index.js').postalCodeErrorIsRequired"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-5">
                <msp-province #province
                        [provinceLabel]="lang('./en/index.js').provinceStateLabel"
                        [province]="mailingAddress.province"
                        (provinceChange)="mailingAddress.province = $event"
                        (onChange)="provinceUpdate($event)"
                        [showError]="showError">
                </msp-province>
            </div>
            <div class="form-group col-sm-4">
                <msp-country #country
                    [country]="mailingAddress.country"
                    (onChange)="countryUpdate($event)"
                    [showError]="showError">
                </msp-country>
            </div>
        </div>
    </div>
</form>