.msp-has-error {
  label {
    color: #a94442
  }
  // button {
  //   border: 1px solid #a94442;
  // }
}

.ng-select.custom {
  border:0px;
  min-height: 0px;
  border-radius: 0;
}
.ng-select.custom .ng-select-container  {            
  min-height: 0px;
  border-radius: 0;
}