<!--  -->
<msp-services-card-disclaimer-modal #mspServicesCardModal></msp-services-card-disclaimer-modal>
<common-page-framework layout="blank">
  <common-page-section layout="noTips">
    <form #formRef='ngForm' novalidate>
      <h2 [innerHTML]="lang('./en/index.js').sectionTitle[person.relationship]" class="row border-bottom"></h2>

      <msp-citizen-status class="row" id="primary" [label]="statusLabel()" [items]="langStatus"
        (change)="setStatus($event, person)" [selected]="person.status">
      </msp-citizen-status>
      <common-radio class="row" *ngIf="person.status != null" [radioLabels]='activitiesTable' [label]=""
        [value]="activity" (statusChange)="setActivity($event)" display="table-row-group">
      </common-radio>
      <ng-container *ngIf="person.status != null && person.currentActivity != null">

        <h2 class="row border-bottom">Documents</h2>
        <common-page-section layout="tips">

          <common-file-uploader class="row" [images]="person.documents.images" (imagesChange)="deleteDocument($event)"
            id="uploader" [required]="true" instructionText="Please upload required ID documents">
          </common-file-uploader>
          <aside class="mt-0">
            <div [innerHtml]="lang('./en/index.js').documentInstructionsNote" class="mt-0"></div>
          </aside>
        </common-page-section>
      </ng-container>


      <div *ngIf="hasValidCurrentActivity && person.documents.images.length > 0">
        <h2 class="row" [innerHtml]="lang('./en/index.js').applicationPersonalInfo[person.relationship]"></h2>
        <p class="row border-bottom" [innerHtml]="lang('./en/index.js').nameHelpBlock[this.person.relationship]"></p>
        <div *ngIf="person.documents.images.length > 0">
          <msp-full-name #name [data]="person" (dataChange)="onChange.emit($event)">
          </msp-full-name>

          <msp-birthdate #birthDate [person]="person" class="row" (onChange)="onChange.emit($event)"
            [showError]="showError">
          </msp-birthdate>


          <common-radio class="row" [radioLabels]='genderLabels' (statusChange)="setGender($event)"
            [(ngModel)]="person.gender" name="gender" label="Gender">
          </common-radio>
          <div *ngIf="person.status === StatusInCanada.CitizenAdult &&
            person.currentActivity === Activities.LivingInBCWithoutMSP">

            <common-toggle label="Have you moved to BC permanently?" [(ngModel)]="person.livedInBCSinceBirth">
            </common-toggle>
          </div>

          <div *ngIf="person.documents.images.length > 0">
            <div *ngIf="person.currentActivity == Activities.MovingFromCountry || person.status ==
            StatusInCanada.TemporaryResident">
            <common-country name='msp_country_1'
                            [label]="movedFromCountryLabel"
                            [ngModel]="person.movedFromProvinceOrCountry" 
                            (ngModelChange)="person.movedFromProvinceOrCountry = $event; onChange.emit($event)"></common-country>
            </div>
            <div *ngIf="person.currentActivity === Activities.MovingFromProvince">
              <common-province name="msp_province_1"
                               [label]="movedFromProvinceLabel[this.person.relationship]"
                               [ngModel]="person.movedFromProvinceOrCountry"
                               (ngModelChange)="provinceUpdate($event)"
                               [provinceList]=provList(true)></common-province>
            </div>

            <div role="dialog" [attr.aria-labelledby]="'movedPermLabel' + objectId" class="row">
              <div class="form-group"
                [ngClass]="{'has-error': showError && (person.madePermanentMoveToBC === undefined || person.madePermanentMoveToBC === null)}">
                <!-- <label [attr.id]="'movedPermLabel'"
                  [innerHtml]="lang('./en/index.js').haveYouMovedToBCPermanently[this.person.relationship]"
                  class="control-label"></label> -->

                <common-toggle [label]="lang('./en/index.js').haveYouMovedToBCPermanently[this.person.relationship]"
                  [data]="person.madePermanentMoveToBC" (dataChange)="setMovedToBCPermanently($event)">
                </common-toggle>
                <div
                  *ngIf='showError && (person.madePermanentMoveToBC === undefined || person.madePermanentMoveToBC === null)'>
                  <div class="text-danger" [innerHtml]="lang('./en/index.js').mustAnswerQuestionAboutPermMoveToBC">
                  </div>
                </div>

              </div>

            </div>

          </div>
          <h3 class="intro text-danger" *ngIf="!checkEligibility()" class="text-danger"
            [innerHtml]="lang('./en/index.js').notEligibleError" role="alert" aria-live="assertive"></h3>

          <div *ngIf="!(person.status === StatusInCanada.CitizenAdult &&
                person.currentActivity === Activities.LivingInBCWithoutMSP &&
                person.livedInBCSinceBirth === true)">
            <msp-arrival-date class="row" #arrivalDateBC arrivalLabel="Arrival date in BC"
              [year]="person.arrivalToBCYear" (yearChange)="person.arrivalToBCYear = $event"
              [month]="person.arrivalToBCMonth" (monthChange)="person.arrivalToBCMonth = $event"
              [day]="person.arrivalToBCDay" (dayChange)="person.arrivalToBCDay = $event"
              (onChange)="onChange.emit($event)" [showError]="showError" [required]="true">
            </msp-arrival-date>
            <div *ngIf='person.isArrivalToBcBeforeDob'>
              <div class="text-danger"
                [innerHtml]="lang('./en/index.js').moveDateBeforeBirthError[person.relationship]">
              </div>
            </div>
            <div class="row" *ngIf="person.status === StatusInCanada.CitizenAdult &&
                person.currentActivity === Activities.LivingInBCWithoutMSP &&
                !person.livedInBCSinceBirth">
                <common-province name="msp_province_2"
                                 label="Which province did you move from?"
                                 [ngModel]="person.movedFromProvinceOrCountry"
                                 (ngModelChange)="provinceUpdate($event)"
                                 [provinceList]=provList()></common-province>
            </div>
            <!--For canadian citizen, returning to BC after an absence or moving from another province, the arrival date in canada
                is not required.-->
            <msp-arrival-date #arrivalDateCanada class='row'
              [arrivalLabel]="lang('./en/index.js').arrivalDateToCanadaLabel"
              [required]="!(person.status === StatusInCanada.CitizenAdult
                                    && (person.currentActivity == Activities.LivingInBCWithoutMSP || person.currentActivity == Activities.MovingFromProvince))"
              [year]="person.arrivalToCanadaYear" (yearChange)="person.arrivalToCanadaYear = $event"
              [month]="person.arrivalToCanadaMonth" (monthChange)="person.arrivalToCanadaMonth = $event"
              [day]="person.arrivalToCanadaDay" (dayChange)="person.arrivalToCanadaDay = $event"
              (onChange)="onChange.emit($event)" [showError]="showError">
            </msp-arrival-date>
            <div *ngIf='person.isArrivalToCanadaBeforeDob'>
              <div class="text-danger"
                [innerHtml]="lang('./en/index.js').moveDateCanadaBeforeBirthError[person.relationship]"></div>
            </div>


          </div>
          <div class="row" *ngIf="person.currentActivity === Activities.MovingFromProvince">
            <msp-health-number #healthNumber [healthNumber]="person.healthNumberFromOtherProvince"
              (healthNumberChange)="handleHealthNumberChange($event)" [required]="false" [showError]="showError">
            </msp-health-number>
          </div>
          <div style="margin-bottom: 20px">
            <div class="row" style="width: 100%;">
              <div class="form-group"
                [ngClass]="{'has-error': showError && (person.declarationForOutsideOver30Days === undefined || person.declarationForOutsideOver30Days === null)}"
                role="dialog" [attr.aria-labelledby]="'outsideBCLabel' + objectId">

                <common-toggle [label]="lang('./en/index.js').beenOutsideBCForMoreThan30DaysInTotalInThePast12Months"
                  [data]="person.declarationForOutsideOver30Days" (dataChange)="setBeenOutsideForOver30Days($evt)">
                </common-toggle>
                <div
                  *ngIf='showError && (person.declarationForOutsideOver30Days === undefined || person.declarationForOutsideOver30Days === null)'
                  role="alert" aria-live="assertive">
                  <div class="text-danger" [innerHtml]="lang('./en/index.js').mustAnswerQuestionAboutBeenOutsideBC">
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="person.declarationForOutsideOver30Days === true" class="row" style="margin-bottom: 20px">
              <msp-outof-bc-record #outOfBCRecord [minMonthsRange]="12" class="col-12"
                [minMonthsRangeErrorMsg]="lang('./en/index.js').minMonths" [outofBCRecord]="person.outOfBCRecord"
                (onDelete)="handleDeleteOutofBCRecord($event)" (onUpdate)="handleOutofBCRecordChange($event)"
                [showError]="showError">
              </msp-outof-bc-record>


            </div>
          </div>
          <div class="row" style="margin-bottom: 20px">
            <div>
              <div
                [ngClass]="{'has-error': (person.hasPreviousBCPhn === undefined || person.hasPreviousBCPhn === null) && showError}"
                role="dialog" [attr.aria-labelledby]="'previousBCHealthNumber' + objectId">

                <common-toggle label="Do you have a previous BC Health Number?" [data]="person.hasPreviousBCPhn"
                  (dataChange)="setHasPreviousPhn($event)"></common-toggle>
              </div>
            </div>
          </div>
          <div class="row">
            <div *ngIf="person.hasPreviousBCPhn === true">
              <common-phn #phn [required]="false" [(ngModel)]="person.previous_phn"
                [label]="lang('./en/index.js').phnLabel[this.person.relationship]" placeholder="1111 111 111"
                (ngModelChange)="person.previous_phn = $event"
                commonValidatePhn></common-phn>
            </div>
          </div>

        </div>

        <div #armedForcedQuestion class="row"
          *ngIf="person.documents.images.length > 0 && person.status === StatusInCanada.CitizenAdult"
          style="margin-top: 10px; margin-bottom: 10px;" role="dialog"
          [attr.aria-labelledby]="'canadianForcesQuestionLabel' + objectId">
          <div [ngClass]="{'has-error': (person.institutionWorkHistory === undefined ||  person.institutionWorkHistory === null)
                && showError}">
            <!-- <label id="canadianForcesQuestionLabel{{objectId}}"
              [innerHtml]="lang('./en/index.js').canadianForcesQuestion[this.person.relationship]"
              class="control-label"></label> -->
            <!-- <div class="btn-group" role="group">
              <button *ngFor='let institution of institutionList'
                [class.msp-btn-radio]="person.institutionWorkHistory == institution"
                (click)="selectInstitution(institution)" type="button" class="btn btn-default">{{institution}}
              </button>
            </div> -->
            <common-toggle [label]="canadianForcesQuestion[this.person.relationship]"
              (dataChange)="selectInstitution($event)"></common-toggle>
            <div
              *ngIf='(person.institutionWorkHistory === undefined ||  person.institutionWorkHistory === null) && showError'
              role="alert" aria-live="assertive">
              <p class="text-danger" [innerHtml]="lang('./en/index.js').mustDeclareInstitutionWorkHistory"></p>
            </div>

            <div *ngIf="person.institutionWorkHistory === 'Yes'" style="margin-top: 10px">
              <msp-discharge-date #dischargeDate [year]="person.dischargeYear"
                (yearChange)="person.dischargeYear = $event" [month]="person.dischargeMonth"
                (monthChange)="person.dischargeMonth = $event" [day]="person.dischargeDay"
                (dayChange)="person.dischargeDay = $event" (onChange)="onChange.emit($event)" [showError]="showError">
              </msp-discharge-date>
            </div>
          </div>
        </div>

        <div #schoolQuestion class="row" *ngIf="person.documents.images.length > 0 &&
                            (person.relationship === Relationship.Applicant ||
                            person.relationship === Relationship.Child19To24)">
          <div *ngIf="person.relationship === Relationship.Applicant"
            [ngClass]="{'has-error': showError && (person.fullTimeStudent === undefined || person.fullTimeStudent === null)}"
            role="dialog" [attr.aria-labelledby]="'fullTimeStudentLabel' + objectId">
            <!-- <label id="fullTimeStudentLabel{{objectId}}" [innerHtml]="lang('./en/index.js').fullTimeStudentLabel"
              class="control-label"></label> -->
            <!-- <div class="btn-group" role="group">
              <button *ngFor='let answer of [{"value": true, "label": "Yes"}, {"value": false, "label": "No"}]'
                [class.msp-btn-radio]="person.fullTimeStudent === answer.value"
                (click)="setFullTimeStudent(answer.value)" type="button" class="btn btn-default">{{answer.label}}
              </button>

            </div> -->
            <common-toggle label="Are you a full-time student in B.C.?" [data]="person.fullTimeStudent"
              (dataChange)="setFullTimeStudent($event)">
            </common-toggle>
            <div *ngIf='showError && (person.fullTimeStudent === undefined || person.fullTimeStudent === null)'
              role="alert" aria-live="assertive">
              <div class="text-danger" [innerHtml]="lang('./en/index.js').mustDeclareStudentStatus"></div>
            </div>
          </div>

        </div>


        <div class="row" *ngIf="person.documents.images.length > 0 &&
                            person.relationship === Relationship.Child19To24">
          <div class="form-group"
            [ngClass]="{'has-error': !formRef.controls.schoolName?.valid && (schoolNameRef.touched || showError)}">
            <h2 [innerHtml]="lang('./en/index.js').nameOfSchool"></h2>
            <!-- <label [innerHtml]="lang('./en/index.js').fullAttendanceLabel"></label> -->
            <label class="visuallyhidden" for="schoolName{{objectId}}">{{lang('./en/index.js').nameOfSchool}}
              {{lang('./en/index.js').fullAttendanceLabel}}></label>
            <input [(ngModel)]='person.schoolName' type="text" class="form-control" id="schoolName{{objectId}}"
              name="schoolName" #schoolNameRef="ngModel" required maxlength="50">
            <div *ngIf='schoolNameRef.touched || showError' role="alert" aria-live="assertive">
              <div class="text-danger" *ngIf="schoolNameRef.errors?.required"
                [innerHtml]="lang('./en/index.js').schoolNameErrorIsRequired"></div>
            </div>
          </div>
        </div>
        <msp-address #schoolAddress *ngIf="person.documents.images.length > 0 &&
                  person.relationship === Relationship.Child19To24"
          [mailingAddressHeading]="lang('./en/index.js').schoolAddressLabel" [mailingAddress]="person.schoolAddress"
          [mailingOnly]="true" (onChange)="schoolAddressUpdate($event)" [showError]="showError"></msp-address>

        <div class="row" *ngIf="person.documents.images.length > 0 &&
                            person.relationship === Relationship.Child19To24">
          <div class="form-group col-lg-6">
            <msp-school-date #schoolDate [departureDate]="true" [year]="person.studiesDepartureYear"
              [required]="schoolInBC" (yearChange)="person.studiesDepartureYear = $event"
              [month]="person.studiesDepartureMonth" (monthChange)="person.studiesDepartureMonth = $event"
              [day]="person.studiesDepartureDay" (dayChange)="person.studiesDepartureDay = $event"
              (onChange)="updateSchoolDepartureDate($event)" [showError]="showError">
            </msp-school-date>
          </div>
          <div class="form-group col-lg-4">
            <msp-school-date [year]="person.studiesFinishedYear" (yearChange)="person.studiesFinishedYear = $event"
              [month]="person.studiesFinishedMonth" (monthChange)="person.studiesFinishedMonth = $event"
              [day]="person.studiesFinishedDay" (dayChange)="person.studiesFinishedDay = $event"
              (onChange)="updateSchoolExpectedCompletionDate($event)" [showError]="showError">
            </msp-school-date>
          </div>

        </div>
        <div class="row" *ngIf="person.documents.images.length > 0">
          <div #inBCAfterStudiesQuestion *ngIf="person.fullTimeStudent" role="dialog"
            [attr.aria-labelledby]="'inBCAfterStudiesLabel' + objectId">
            <div
              [ngClass]="{'has-error': (person.inBCafterStudies===undefined || person.inBCafterStudies===null) && showError}">
              <!-- <label id="inBCAfterStudiesLabel{{objectId}}" *ngIf="person.relationship === Relationship.Applicant"
                [innerHtml]="lang('./en/index.js').inBCAfterStudiesLabel" class="control-label"></label> -->
              <!-- <label id="inBCAfterStudiesLabel{{objectId}}" *ngIf="person.relationship === Relationship.Child19To24"
                class="control-label" [innerHtml]="lang('./en/index.js').childStayInBCAfterStudiesLabel"></label> -->
              <!-- <div class="btn-group" role="group">
                <button *ngFor='let answer of [{"value": true, "label": "Yes"}, {"value": false, "label": "No"}]'
                  [class.msp-btn-radio]="person.inBCafterStudies === answer.value"
                  (click)="setStayInBCAfterStudy(answer.value)" type="button" class="btn btn-default">{{answer.label}}
                </button>
              </div> -->
              <common-toggle label="Will you reside in B.C. upon completion of your studies?"
                [(ngModel)]="person.inBCAfterStudies" name="inBCAfterStudies">
              </common-toggle>

              <div *ngIf="(person.inBCafterStudies===undefined || person.inBCafterStudies===null) && showError"
                role="alert" aria-live="assertive">
                <p class="text-danger" [innerHtml]="lang('./en/index.js').mustAnswerQuestion"></p>
              </div>

            </div>
          </div>
        </div>

      </div>
    </form>
  </common-page-section>
</common-page-framework>
<hr class="strong-hr">

<!-- switch *ngIf value to true for debugging-->
<div class="row" *ngIf='false'>
  <div class="col-lg-12">
    <ul>
      <li *ngFor='let log of changeLog'>
        {{log | json}}
      </li>
    </ul>
  </div>

  <div class="col-lg-12">
    <p>Person Data Model</p>
    {{this.person| json}}
    <p>firstname</p>
    <!--{{ formRef.controls.firstname | json}}-->
  </div>
</div>
