<h2 [innerHtml]="lang('./en/index.js').relationshipLabel[person.relationship] +
    ' ' + lang('./en/index.js').cardSuffix"></h2>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row" *ngIf="person.hasFullName">
            <div class="col-xs-4">
                {{lang('./en/index.js').nameLabel}}
            </div>
            <div class="col-xs-8">
                <strong>{{person.fullName}}</strong>
            </div>
        </div>

        <div class="row" *ngIf="person.gender != null">
            <div class="col-xs-4">
                {{lang('./en/index.js').genderLabel}}
            </div>
            <div class="col-xs-8">
                <strong>{{lang('./en/index.js').genderValues[person.gender]}}</strong>
            </div>
        </div>

        <div class="row" *ngIf="person.hasDob">
            <div class="col-xs-4">
                {{lang('./en/index.js').dobLabel}}
            </div>
            <div class="col-xs-8">
                <strong>{{person.dob.format("MMMM Do, YYYY")}}</strong>
            </div>
        </div>

        <div class="row" *ngIf="person.status != null">
            <div class="col-xs-4">
                {{lang('./en/index.js').statusLabel}}
            </div>
            <div class="col-xs-8">
                <strong>
                    {{langStatus('./en/index.js')[person.status]}}
                    <span *ngIf="person.currentActivity != null">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        {{langActivities('./en/index.js')[person.currentActivity]}}
                    </span>
                </strong>
            </div>
        </div>

        <div class="row" *ngIf="person.livedInBCSinceBirth != null">
            <div class="col-xs-4">
                {{lang('./en/index.js').livedInBCSinceBirth}}
            </div>
            <div class="col-xs-8">
                <strong *ngIf="person.livedInBCSinceBirth">Yes</strong>
                <strong *ngIf="!person.livedInBCSinceBirth">No</strong>
            </div>
        </div>

        <div class="row" *ngIf="person.previous_phn != null">
            <div class="col-xs-4">
                {{lang('./en/index.js').previousHealthNumberLabel}}
            </div>
            <div class="col-xs-8">
                <strong>{{person.previous_phn}}</strong>
            </div>
        </div>

        <div class="row" *ngIf="person.hasArrivalToBC">
            <div class="col-xs-4">
                {{lang('./en/index.js').arrivedToBCLabel}}
            </div>
            <div class="col-xs-8">
                <strong>{{person.arrivalToBC.format("MMMM Do, YYYY")}}</strong>
            </div>
        </div>

        <div class="row" *ngIf="person.hasArrivalToCanada">
            <div class="col-xs-4">
                {{lang('./en/index.js').arrivedToCanadaLabel}}
            </div>
            <div class="col-xs-8">
                <strong>{{person.arrivalToCanada.format("MMMM Do, YYYY")}}</strong>
            </div>
        </div>
        
        <div class="row" *ngIf="person.movedFromProvinceOrCountry">
            <div class="col-xs-4">
                {{movedFromLabel}}
            </div>
            <div class="col-xs-8">
                <strong>{{person.movedFromProvinceOrCountry}}</strong>
            </div>
        </div>

        <div class="row" *ngIf="person.fullTimeStudent != null">
            <div class="col-xs-4">
                {{lang('./en/index.js').fullTimeStudentLabel}}
            </div>
            <div class="col-xs-8">
                <strong>{{person.fullTimeStudent ? "Yes": "No"}}</strong>
            </div>
        </div>

        <div class="row" *ngIf="person.inBCafterStudies  != null">
            <div class="col-xs-4">
                {{lang('./en/index.js').inBCafterStudiesLabel}}
            </div>
            <div class="col-xs-8">
                <strong>{{person.inBCafterStudiesLabel ? "Yes": "No"}}</strong>
            </div>
        </div>


        <div class="row" *ngIf="person.institutionWorkHistory != null">
            <div class="col-xs-4">
                {{lang('./en/index.js').institutionWorkHistoryLabel}}
            </div>
            <div class="col-xs-8">
                <strong>{{lang('./en/index.js').institutionWorkHistoryValues[person.institutionWorkHistory]}}</strong>
            </div>
        </div>

        <div class="row" *ngIf="person.hasDischarge">
            <div class="col-xs-4">
                {{lang('./en/index.js').dischargeDateLabel}}
            </div>
            <div class="col-xs-8">
                <strong>{{person.dischargeDate.format("MMMM Do, YYYY")}}</strong>
            </div>
        </div>

        <div class="row" *ngIf="person.schoolName != null">
            <div class="col-xs-4">
                {{lang('./en/index.js').schoolNameLabel}}
            </div>
            <div class="col-xs-8">
                <strong>{{person.schoolName}}</strong>
            </div>
        </div>

        <div class="row" *ngIf="person.hasStudiesFinished">
            <div class="col-xs-4">
                {{lang('./en/index.js').studiesFinishedLabel}}
            </div>
            <div class="col-xs-8">
                <strong>{{person.studiesFinishedDate.format("MMMM Do, YYYY")}}</strong>
            </div>
        </div>

        <div class="row" *ngIf="person.hasStudiesDeparture">
            <div class="col-xs-4">
                {{lang('./en/index.js').studiesDepartureLabel}}
            </div>
            <div class="col-xs-8">
                <strong>{{person.studiesDepartureDate.format("MMMM Do, YYYY")}}</strong>
            </div>
        </div>

        <msp-address-card-part [address]="person.schoolAddress"
            [label]="lang('./en/index.js').schoolAddressLabel"></msp-address-card-part>

        <div class="person-card-preview-zone">
            <div *ngFor="let mspImage of person.documents.images" class="preview-item">
                <msp-thumbnail [imageObject] ="mspImage" [reviewMode]="true">
                </msp-thumbnail>
            </div>
        </div>
        <button *ngIf="editRouterLink" class="btn btn-link text-uppercase" type="submit" [routerLink]="editRouterLink"
           [innerHTML]="lang('./en/index.js').editButton.replace('{label}', lang('./en/index.js').relationshipLabel[person.relationship])">
        </button>
    </div>
</div>
