<form #formRef="ngForm" novalidate >
        <common-page-framework layout="blank">
    <h1>Your Address</h1>
    <p class="help-block">
        Enter your residential address &ndash; that’s the address you live at in B.C.
    </p>
    
    <common-page-section layout='double'>
        <h2 class="border-bottom">Address</h2>
        <common-address #address
                        [address]="mspApplication?.residentialAddress"
                        (addressChange)="handleAddressUpdate($event)"
                        [defaultCountry]="defaultCountry"
                        [countryList]="countryList"
                        [defaultProvince]="defaultProvince"
                        [provinceList]="provinceList"
                        [isRequired]="true">
        </common-address>
        <div class="custom-control custom-checkbox">
            <input type="checkbox"
                class="custom-control-input"
                id="isMailingAddress"
                [checked]="mspApplication.mailingSameAsResidentialAddress"
                (click)="toggleCheckBox()" />
            <label class="custom-control-label" for="isMailingAddress">
            This is my mailing address.
            </label>
        </div>
        <aside>
            <h2 class="border-bottom">Mailing Address</h2>
            <div *ngIf="!mspApplication.mailingSameAsResidentialAddress; else NoMailingAddress">
            <common-address [address]="mspApplication?.mailingAddress"
                            (addressChange)="handleAddressUpdate($event)"
                            [defaultCountry]="defaultCountry"
                            [countryList]="countryList"
                            [defaultProvince]="defaultProvince"
                            [provinceList]="provinceList"
                            [isRequired]="true"></common-address>
            </div>
        </aside>
    </common-page-section>
    <div class="row">
        <div class="form-group col-md-5">
            <common-phone-number name="phone_number"
                                [label]="'Phone Number'"
                                [phoneNumber]="mspApplication.phoneNumber"
                                (ngModelChange)="this.mspApplication.phoneNumber = $event"></common-phone-number>
        </div>
    </div>
    <hr>

    <common-form-action-bar [canContinue]="canContinue()"
                            (btnClick)="continue()"></common-form-action-bar>
    </common-page-framework>
</form>

<ng-template #NoMailingAddress>
    <div class="mail-address-container">
        <button type="button" class="btn btn-lg btn-warning mx-auto d-block" (click)="toggleCheckBox()">My mailing address
        is different.</button>
    </div>
</ng-template>