<common-page-framework layout="blank">
    <form #formRef="ngForm" novalidate >
        <msp-core-contact-info [(address)]='mspApplication.residentialAddress'
                               [(mailingSameAsResidentialAddress)]='mspApplication.mailingSameAsResidentialAddress'
                               [(mailingAddress)]='mspApplication.mailingAddress'
                               [(phoneNumber)]='mspApplication.phoneNumber'>
        </msp-core-contact-info>
    </form>
</common-page-framework>
<common-form-action-bar widthOption='extra-width-mobile-only'
                        (btnClick)="continue()"></common-form-action-bar>