<common-page-framework layout="blank">
  <ng-container *ngIf="success">
    <!-- SUCCESS: {{ success$ | async | json }} -->
    <msp-confirmation
      [success]="true"
      [confirmationNum]="confirmationNum"
      message="Your application has been successfully submitted"
    >
      <a afterTitleSlot onclick="window.print();return false;" >
      <b class="float-right">Print <i class="fa fa-print fa-lg pointer"
        aria-hidden="true"></i>
      </b>
      </a>
    </msp-confirmation>
  </ng-container>

  <ng-container *ngIf="!success">
    <!-- FAILURE: {{ failure$ | async | json }} -->

    <msp-confirmation
      [success]="false"
      title="There was a technical issue with your submission."
      message="Your application has not been submitted"
    >
      <a afterTitleSlot onclick="window.print();return false;" >
      <b class="float-right">Print <i class="fa fa-print fa-lg pointer"
        aria-hidden="true"></i>
      </b>
    </a>
      </msp-confirmation>
  </ng-container>
</common-page-framework>
