
    <div class="form-group"> <!-- [ngClass]="{'has-error': !isUnique() || (phnRef.touched || showError)}" -->
        <label class="control-label" for="phn_{{objectId}}" [innerHTML]="phnLabel"></label>
        <input class="form-control"
               type="text"
               [ngModel]="phn"
               (ngModelChange)="setPhn($event)"
               [required]="required"
               id='phn_{{objectId}}' 
               name='phn_{{objectId}}' 
               #phnRef="ngModel"
               minlength="10"
               minlength="13"
               class="form-control" 
               placeholder="{{placeholder}}" 
               [textMask]="{mask: mask}"
               pattern="[A-Za-z][0-9][A-Za-z]\s?[0-9][A-Za-z][0-9]" >
        

       <!-- <div *ngIf="isForAccountChange"  style="font-size: smaller" [innerHTML]="lang('./en/index.js').phnLabelMsgForAccount"></div> 
       -->
          <div *ngIf='phnRef.touched || showError ' role="alert" aria-live="assertive">
            <div class="text-danger" *ngIf="phnRef.errors?.required"
                 [innerHTML]="'PHN is required'"></div>

          <!--<div class="text-danger" *ngIf="phnRef.errors?.minlength"
                 [innerHTML]="'PHN must be at least 10 characters long'"></div>  -->
          
             <div class="text-danger" *ngIf="isPhnValid()"
                 [innerHTML]="'Invalid PHN'"></div> 
            
              <div class="text-danger" *ngIf="!uniquePHN">{{phnErrorUnique}}</div> 

        </div> 
    </div>

