<h1 [innerHTML]="lang('./en/index.js').pageTitle"></h1>
<div class="alert alert-info" role="alert">
    <h2 class="to-upper">Confirmation #: {{mspApplication.referenceNumber}}</h2>
</div>


<h2 [innerHTML]="lang('./en/index.js').secondTitle"></h2>
<ul>
    <li>
        <h3 [innerHTML]="lang('./en/index.js').nextStep1"></h3>
    </li>
    <li>
        <h3 [innerHTML]="lang('./en/index.js').nextStep2"></h3>
    </li>
    <li>
        <h3 [innerHTML]="lang('./en/index.js').nextStep3"></h3>
    </li>
    <li>
        <h3 [innerHTML]="lang('./en/index.js').nextStep4"></h3>
    </li>
    <li>
        <h3 [innerHTML]="lang('./en/index.js').nextStep5"></h3>
    </li>
    <li>
        <h3 [innerHTML]="lang('./en/index.js').nextStep6"></h3>
    </li>
</ul>
