<msp-personal-information
  [person]="spouse">
</msp-personal-information>

<div class='row'>
  <div class='col-sm-12 col-md-4'>
    <label for="objectId" class="control-label">Reason for cancellation</label>
    <div class="form-group">
      <select class="custom-select"
        [id]="objectId"
        [(ngModel)]="spouse.cancellationReason"
        (ngModelChange)="spouse.cancellationReason = $event; this.dataService.saveMspAccountApp();">
        <ng-container>
          <option selected value="null" disabled="true">Please Select</option>
          <option *ngFor="let item of cancellationReasons"
            [ngValue]="item.value"
            [selected]="spouse.cancellationReason == item.value">
            {{item.label}}
          </option>
        </ng-container>
      </select>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12 col-md-4'>
    <div *ngIf="spouse.cancellationReason === 0">
      <common-date
        label="Date of separation/divorce"
        [restrictDate]="'past'"
        [(ngModel)]="spouse.cancellationDate"
        (ngModelChange)="this.dataService.saveMspAccountApp();"
        [errorMessage]='dateErrorMessage'>
      </common-date>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-12'>
    <div *ngIf="spouse.cancellationReason === 0">
      <div *ngIf="spouse.cancellationDate && checkCurrentMonthOfSeparation" class="add-document mb-4">
        <msp-support-documents
          [supportDocList]="spouseRemoveDocs"
          [(supportDoc)]="spouse.removedSpouseDueToDivorceDoc">
          <div sectionTitleInfo>
            <h2>
              <strong>Documents - Cancellation due to separation/divorce</strong>
            </h2>
            <p class="border-bottom">
              Provide <b>one</b> of the required documents to support your spouse cancellation.
            </p>
          </div>
        </msp-support-documents>
      </div><br>
    </div>
  </div>
</div>

<div *ngIf="spouse.cancellationReason === 0">
  <common-radio
    [value]="spouse.hasCurrentMailingAddress"
    label="Do you know your spouse's current mailing address?"
    [radioLabels]='[{"label": "No", "value": false}, {"label": "Yes", "value": true}]'
    (valueChange)="spouse.hasCurrentMailingAddress = $event; this.dataService.saveMspAccountApp();">
  </common-radio>

  <div *ngIf="spouse.hasCurrentMailingAddress">
    <common-page-section
      layout='double'>
      <h2><strong>Spouse's Mailing Address</strong></h2>
      <p class="horizontal-line">Please provide the spouse's current mailing address.</p>
      <common-address
        [address]="spouse.mailingAddress"
        (addressChange)="handleAddressUpdate($event)"
        [isRequired]="true">
      </common-address>
    </common-page-section>
  </div>
</div>

<div class='row' *ngIf="spouse.cancellationReason === 1">
  <div class='col-sm-12 col-md-4 form-group'>
    <common-date
      label="Date to remove from account but still married / common-law"
      [restrictDate]="'past'"
      [(ngModel)]="spouse.cancellationDate"
      (ngModelChange)="this.dataService.saveMspAccountApp();"
      [errorMessage]='dateErrorMessage'>
    </common-date>
  </div>
</div>

<div class='row' *ngIf="spouse.cancellationReason === 3">
  <div class='col-sm-12 col-md-4 form-group'>
    <common-date
      label="Date of deceased"
      [restrictDate]="'past'"
      [(ngModel)]="spouse.cancellationDate"
      (ngModelChange)="this.dataService.saveMspAccountApp();"
      [errorMessage]='dateErrorMessage'>
    </common-date>
  </div>
</div>

<div *ngIf="spouse.cancellationReason === 4" class="form-group notice">
  To remove a spouse from your MSP account because they have moved away from BC, use the
  <a href="https://www.health.gov.bc.ca/exforms/msp/7063.html" target="_blank">Permanent Move Outside British Columbia</a> form.
  If you have additional changes to make to your MSP account, this link is also provided at the end of this form.
</div>

<div class='row' *ngIf="spouse.cancellationReason === 5">
  <div class='col-sm-12 col-md-4 form-group'>
    <common-date
      label="Date spouse became Armed Forces"
      [restrictDate]="'past'"
      [(ngModel)]="spouse.cancellationDate"
      (ngModelChange)="this.dataService.saveMspAccountApp();"
      [errorMessage]='dateErrorMessage'>
    </common-date>
  </div>
</div>

<div class='row' *ngIf="spouse.cancellationReason === 6">
  <div class='col-sm-12 col-md-4 form-group'>
    <common-date
      label="Date incarcerated"
      [restrictDate]="'past'"
      [(ngModel)]="spouse.cancellationDate"
      (ngModelChange)="this.dataService.saveMspAccountApp();"
      [errorMessage]='dateErrorMessage'>
    </common-date>
  </div>
</div>

<!-- <div class="form-group">
  <common-radio
    [value]="spouse.hasCurrentMailingAddress"
    label="Do you know your spouse's current mailing address?"
    [radioLabels]='[{"label": "No", "value": false}, {"label": "Yes", "value": true}]'
    (valueChange)="spouse.hasCurrentMailingAddress = $event; this.dataService.saveMspAccountApp();">
  </common-radio>
</div>

<div *ngIf="spouse.hasCurrentMailingAddress">
  <common-page-section layout='double'>
  <h2><strong>Spouse's Mailing Address</strong></h2>
    <p>Please provide the spouse's current mailing address.</p>
    <hr>
    <common-address [address]="spouse?.mailingAddress"
      (addressChange)="handleAddressUpdate($event)"
      [isRequired]="true">
    </common-address>
  </common-page-section>
</div> -->



<!-- <div class="form-group" style="width: 350px">
  <label class="control-label">Please provide additional information</label>
  <textarea class="form-control" rows="3" [(ngModel)]="spouse.additionalReason"></textarea>
</div> -->


<!--
<msp-account-file-uploader
  [title]="'Documents to support new status in Canada'"
  [subtitle]="'Provide one of the required documents to support your immigration status in Canada.'"
  [items]="spouseCancellationdocs"
  [accountApp]="accountApp"
  [docStatus]="spouse.docType"
  [doc]="spouse.updateStatusInCanadaDoc"
  (documentStatus)=" this.spouse.docType = $event; this.dataService.saveMspAccountApp();"
  (onChange)=" this.spouse.updateStatusInCanadaDoc = $event; this.dataService.saveMspAccountApp();">
</msp-account-file-uploader>
-->
