<form #formRef="ngForm">
<div class="dropzone" #dropZone>
  <div class="instruction-zone">
        <input type="file" id="fileUploadBrowse-{{id}}" #browseFileRef
           style="display:none;" tabindex="0" multiple />
        <label for="fileUploadBrowse-{{id}}" class="file-upload-label"
          #selectFileLabel tabindex="0">
            {{lang('./en/index.js').browseLabel}}
        </label>
      <span class="mobileShow">{{lang('./en/index.js').orLabel}}</span>
        <input type="file" id="fileUploadUseCamera-{{id}}" #captureFileRef
          accept="image/*" capture="camera" tabindex="0" multiple />
        <span class="glyphicon glyphicon-camera mobileShow" aria-hidden="true"></span>
        <label for="fileUploadUseCamera-{{id}}" class="file-upload-label mobileShow"
          tabindex="0">
            {{lang('./en/index.js').takeAPhotoLabel}}
        </label>
        <br />
  </div>
  <div class="preview-zone">
    <div *ngFor="let mspImage of images" class="preview-item">
      <msp-thumbnail [imageObject] ="mspImage" (delete) = "deleteImage($event)">
      </msp-thumbnail>
    </div>
  </div>

  <!-- The sole purpose of this element is to maintain the drop zone to an 
      large size to display on screen.
   -->
  <div class="preview-zone">
      <div class="preview-item"
          [ngClass]="{'error-style': noIdImage}">
        <i class="fa fa-file-image-o fa-5x icon-upload" tabindex="0"
          #imagePlaceholderRef aria-hidden="true"></i>

        <p>
        <label class="text-upload" for="fileUploadBrowse-{{id}}" *ngIf="images.length > 0 && (!showError)">Upload another file</label>
        </p>

        <p class="text-upload" [ngClass]="{'error-style': showError}"
          *ngIf="images?.length < 1 || noIdImage">
          <ng-content></ng-content>  
        </p>

      </div>
  </div>

  <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
      tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">You must provide photos of required Id</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This is static modal, backdrop click will not close it.
          Click <b>&times;</b> to close modal.
        </div>
      </div>
    </div>
  </div>

</div>

  <canvas #canvas style="display:none;">

  </canvas>


</form>

