<div class="dropzone" #dropZone>
  <div [hidden] = "images.length >= MAX_NUM_IMAGES" class="instruction-zone">
        <input type="file" id="fileUploadBrowse-{{id}}" #browseFileRef
          accept="image/*" style="display:none;"
          />
      {{lang('./en/index.js').dropFileLabel}}
        <label for="fileUploadBrowse-{{id}}" class="file-upload-label">
            {{lang('./en/index.js').browseLabel}}
        </label>
      {{lang('./en/index.js').orLabel}}
        <input type="file" id="fileUploadUseCamera-{{id}}" #captureFileRef
          accept="image/*" capture="camera" style="display:none;"
          />  
        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> 
        <label for="fileUploadUseCamera-{{id}}" class="file-upload-label">
            {{lang('./en/index.js').takeAPhotoLabel}}
        </label>
  </div>
  <div class="preview-zone" #previewZone>
    <div *ngFor="let mspImage of images" class="preview-item">
      <msp-thumbnail [imageObject] ="mspImage" (delete) = "deleteImage($event)">
      </msp-thumbnail>
    </div>
  </div>

  <!-- The sole purpose of this element is to maintain the drop zone to an 
      large size to display on screen.
   -->
  <div *ngIf = "images.length === 0" class="preview-zone">
      <div class="preview-item"></div>
  </div>

</div>

