<form #formRef="ngForm" novalidate>
    <div class="form-group"
         [ngClass]="{'has-error': !formRef.controls.healthNumber?.valid && healthNumberRef.touched}">
        <label class="control-label optional" for="healthNumber"
               [innerHTML]="lang('./en/index.js').healthNumberLabel"></label>
        <input type="text"
               [ngModel]="healthNumber"
               (ngModelChange) = "updateHealthNumber($event)"
               minlength="10"
               maxlength="50"
               id='healthNumber' name='healthNumber' #healthNumberRef="ngModel"
               class="form-control">
        <div *ngIf='healthNumberRef.touched'>
            <div class="text-danger" *ngIf="healthNumberRef.errors?.required"
                 [innerHTML]="lang('./en/index.js').healthNumberErrorRequired"></div>
            <div class="text-danger" *ngIf="healthNumberRef.errors?.minlength"
                 [innerHTML]="lang('./en/index.js').healthNumberErrorMinLength"></div>
            <div class="text-danger" *ngIf="!healthNumberRef.errors?.required && !healthNumberRef.errors?.minlength && healthNumberRef.errors?.healthNumberCheck"
                 [innerHTML]="lang('./en/index.js').healthNumberErrorHealthNumberCheck"></div>
        </div>
    </div>
</form>
