<h1 [innerHTML]="lang('./en/index.js').pageTitle"></h1>
<div class="alert alert-info" role="alert">
    <h2 [mspLogger]="'msp-enrollment_confirmation'"
        class="to-upper">
        Reference # {{confirmationNum}}
    </h2>
</div>
<h2 [innerHTML]="lang('./en/index.js').secondTitle"></h2>
<ul>
    <li>
        <h3 [innerHTML]="lang('./en/index.js').printEmailInstructions" onclick="window.print();" class="pointer"></h3>
    </li>
    <li>
        <h3 [innerHTML]="lang('./en/index.js').generalInstructions1"></h3>
    </li>
    <li>
        <h3 [innerHTML]="lang('./en/index.js').generalInstructions2"></h3>
    </li>
    <li>
        <h3 [innerHTML]="lang('./en/index.js').generalInstructions3"></h3>
    </li>
</ul>