<h1 [innerHTML]="lang('./en/index.js').pageTitle"></h1>
<div class="alert alert-info" role="alert">
    <h2 [mspLogger]="'msp-enrollment_confirmation'"
        [confirmationNumber] = "finAssistApp.referenceNumber"    
        class="to-upper">Confirmation #: {{finAssistApp.referenceNumber}}</h2>
</div>
<h2 [innerHTML]="lang('./en/index.js').secondTitle"></h2>
<ul>
    <li>
        <h3 [innerHTML]="lang('./en/index.js').printEmailInstructions"></h3>
    </li>
    <li>
        <h3 [innerHTML]="lang('./en/index.js').generalInstructions1"></h3>
    </li>
    <li>
        <h3 [innerHTML]="lang('./en/index.js').generalInstructions2"></h3>
    </li>
    <li>
        <h3 [innerHTML]="lang('./en/index.js').generalInstructions3"></h3>
    </li>
</ul>