<div class="well">
    <ul class="list-unstyled">
        <li>
            <a ui-sref="main"><strong>MyGov</strong></a>
        </li>
        <li>
            <a ui-sref="notifications">Messages Centre <strong>(4)</strong></a>
        </li>
        <li>
            <a href="#">Bill and Payments</a>
        </li>
        <li>
            <a ui-sref="transactions">Transaction History</a>
        </li>
        <li>
            <a href="#">Contact Us</a>
        </li>
    </ul>
</div>
<a class="btn btn-block btn-default btn-sm" ui-sref="dev-styles">Developer Tools - Styles</a>
