<common-page-framework layout="blank">
    <form #formRef="ngForm" novalidate>
        <h1> <strong> Contact Info </strong></h1>
        <p>Provide your contact information.</p>
        <common-page-section layout='double'>
            <h2>Mailing Address</h2>
            <p class="border-bottom">Enter your <b>current</b> mailing address</p>
            <common-address [address]="mspApplication?.mailingAddress"
                            (addressChange)="handleAddressUpdate($event)"
                            [isRequired]="true"
                            [allowExtralines]='true'
                            [disableGeocoder]='true'>
            </common-address>
            </common-page-section>
        <h2 class="border-bottom">Phone</h2>
        <div class="row">
            <div class="form-group col-3">
                <common-phone-number name="phone_number"
                    [displayMask]="true"
                    
                    [label]="'Phone number (optional)'" 
                    [(ngModel)]="mspApplication.phoneNumber" 
                    (valueChange)="handlePhoneNumberChange($event)">
                </common-phone-number>
            </div>
            <div class="col-9">           
                <common-page-section layout="tips">
                    <aside>
                        <b>Tip</b>
                        <p>
                            Please provide a phone number so you may be contacted in case of any issues with your application.
                        </p>
                    </aside>
                </common-page-section>
            </div>
        </div>
    </form>
</common-page-framework>
<common-form-action-bar [defaultColor]="false" [canContinue]="canContinue()" (btnClick)="continue()"></common-form-action-bar>
<ng-template #NoMailingAddress>
    <div class="mail-address-container">
        <button type="button" class="btn btn-lg btn-warning mx-auto d-block" (click)="toggleCheckBox()">My mailing address is different.</button>
    </div>
</ng-template>