<common-page-framework layout="blank">
  <div *ngIf="benefitApp.isEligible != false">  
        
    <a onclick="window.print();return false;" >   
    <b class="float-right">Print <i class="fa fa-print fa-lg pointer" 
        aria-hidden="true"></i>
    </b>
    </a>
    <h2>Confirmation Message</h2>
    <hr>
    <div style="border-style: solid; color:#83D31D" >
        <div class="container">
            <h1>
                <i class="fa fa-check-circle" aria-hidden="true"></i> Your application has been submitted
            </h1>
            <p class="font-weight-normal h4">{{dateStamp}} - Reference # {{confirmationNum? confirmationNum : 'N/A'}}</p>
            <p class="font-weight-normal h3" style="text-align: start" > <li [innerHtml]="noticeOfAssessment"></li> </p>
            
          </div>
    </div>
    
    <h2>Next Steps</h2>
    <hr>
    
        <ul>
            <li>
              <h3 [innerHTML]="lang('./en/index.js').printEmailInstructions" onclick="window.print();" class="pointer"></h3>
            </li>
            <li>
              <h3 [innerHTML]="lang('./en/index.js').generalInstructions1"></h3>
            </li>
            <li>
              <h3 [innerHTML]="lang('./en/index.js').generalInstructions2"></h3>
            </li>
            <li>
              <h3 [innerHTML]="lang('./en/index.js').generalInstructions3"></h3>
            </li>
            <li>
              <h3 [innerHTML]="lang('./en/index.js').generalInstructions4"></h3>
            </li>
            <li>
              <h3 [innerHTML]="lang('./en/index.js').generalInstructions5"></h3>
            </li>
          </ul>
      </div>
      
      <!-- Not Eligible Section -->
      <div *ngIf="benefitApp.isEligible == false"> 
          <h1>Eligibility Message</h1>
          <hr>
          <div style="border-style: solid; color:rgba(0, 0, 191, 1);" >
            <div class="container">
                <h2> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> You are not eligible to apply at this time 
                </h2>
                <h3>
                  Please make a new application when you meet the residency requirements. For assistance please contact <a href="">Health Insurance BC.</a> 
                </h3>
                <h3>
                  For more information on eligibility requirements visit a <a href="">Landing Page.</a>
                </h3>
            </div>
          </div>
      </div>
    
</common-page-framework>



