<common-page-framework layout="blank">
<form #formRef="ngForm" novalidate>

    <h1>Review your request</h1>

<!--   <button tabindex="0" class="btn btn-default" onclick="window.print();return false;">
        <i class="fa fa-print fa-lg pointer"
           aria-hidden="true"></i>
        Print
    </button>
    <h3 [innerHtml]="lang('./en/index.js').printForRecord"></h3>
--> 

    <div class="row">
        <div class="col-lg-6">
            <msp-person-card [accountCard]=true 
                            [person]="mspAccountApp.applicant" 
                            [customTitle]="lang('./en/index.js').applicantTitle" 
                            [customLinkTitle]="lang('./en/index.js').applicantLinkTitle"
                            [editRouterLink]="accountPIUrl"></msp-person-card>
        </div>
        <!-- <div class="col-lg-6" *ngIf="let spouse of mspAccountApp.getallSpouses(); let i = index;"> </div>-->
            <div class="col-lg-6" *ngIf="mspAccountApp.hasSpouseAdded">
            <msp-person-card  [accountCard]=true 
                            [customTitle]="lang('./en/index.js').addSpouseTitle" 
                            [person]="mspAccountApp.addedSpouse"
                            [editRouterLink]="accountSpouseUrl"></msp-person-card>
            </div>

            <div class="col-lg-6" *ngIf="mspAccountApp.hasSpouseRemoved">
            <msp-person-card  [accountCard]=true 
                            [customTitle]="lang('./en/index.js').removeSpouseTitle" 
                            [person]="mspAccountApp.removedSpouse"
                            [editRouterLink]="accountSpouseUrl"></msp-person-card>
            </div>

            <div class="col-lg-6" *ngIf="mspAccountApp.hasSpouseUpdated">
                <msp-person-card  [accountCard]=true 
                                    [customTitle]="lang('./en/index.js').updateSpouseTitle" 
                                    [person]="mspAccountApp.updatedSpouse"
                                    [editRouterLink]="accountSpouseUrl"></msp-person-card>
            </div>
    </div>

    <!-- <div class="row" *ngIf="mspAccountApp.getAllChildren() != null && mspAccountApp.getAllChildren().length > 0">
        <ng-container *ngFor="let child of mspAccountApp.getAllChildren(); let i = index;">
            <div class="clearfix" *ngIf="i % 2 == 0"></div>
            <div class="col-lg-6">
                <msp-person-card [person]="child" [accountCard]=true
                                 [editRouterLink]="child.operationActionType == 2 ? accountPIUrl :accountDependentUrl"></msp-person-card>
            </div>
        </ng-container>
    </div> -->

    <div class="row" *ngIf="mspAccountApp.addedChildren.length > 0">
            <ng-container *ngFor="let child of mspAccountApp.addedChildren; let i = index;">
                <div class="clearfix" *ngIf="i % 2 == 0"></div>
                <div class="col-lg-6">
                    <msp-person-card [person]="child" [accountCard]=true
                                    [customTitle]="lang('./en/index.js').addChildTitle"
                                     [editRouterLink]="accountChildInfoUrl"></msp-person-card>
                </div>
            </ng-container>
    </div>

    <div class="row" *ngIf="mspAccountApp.removedChildren.length > 0">
            <ng-container *ngFor="let child of mspAccountApp.removedChildren; let i = index;">
                    <div class="clearfix" *ngIf="i % 2 == 0"></div>
                    <div class="col-lg-6">
                        <msp-person-card [person]="child" [accountCard]=true
                                        [customTitle]="lang('./en/index.js').removeChildTitle"
                                         [editRouterLink]="accountChildInfoUrl"></msp-person-card>
                    </div>
            </ng-container>
    </div>

    <div class="row" *ngIf="mspAccountApp.updatedChildren.length > 0">
            <ng-container *ngFor="let child of mspAccountApp.updatedChildren; let i = index;">
                    <div class="clearfix" *ngIf="i % 2 == 0"></div>
                    <div class="col-lg-6">
                        <msp-person-card [person]="child" [accountCard]=true
                                        [customTitle]="lang('./en/index.js').updateChildTitle"
                                         [editRouterLink]="accountChildInfoUrl"></msp-person-card>
                    </div>
            </ng-container>
    </div>

    <div class="row">
            <div class="col-lg-6">
              <msp-contact-review-card [residentialAddress]="mspAccountApp.residentialAddress"
                                       [mailingAddress]="mspAccountApp.mailingAddress"
                                       [phoneNumber]="mspAccountApp.phoneNumber"
                                       [editRouterLink]="accountContactInfoUrl"></msp-contact-review-card>
            </div>
    </div>

    <div class="row" *ngIf="mspAccountApp.documents && mspAccountApp.documents.length >0">
        <div class="col-lg-12">
            <h2 [innerHtml]="lang('./en/index.js').docTitle"></h2>
            <h3 [innerHtml]="lang('./en/index.js').docConfirmTitle"></h3>
        </div>

    </div>

    <div class="row" *ngIf="mspAccountApp.documents && mspAccountApp.documents.length >0">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="person-card-preview-zone">
                        <div *ngFor="let mspImage of mspAccountApp.documents" class="preview-item">
                            <common-thumbnail [imageObject]="mspImage" [reviewMode]="true">
                            </common-thumbnail>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</common-page-framework>

<div class="position: inherit;">
    <common-form-action-bar [defaultColor]="false" 
        [canContinue]="canContinue()"
        (btnClick)="continue()"
        submitLabel="Continue">
    </common-form-action-bar>   
    
   
</div>
