
    <ng-container *ngIf="!stateSvc.submitted">
        <common-page-section layout="noTips">
          <h1>{{ title }}</h1>
          <p>
            {{ declarationOne }}<em>{{ declarationOneEm }}</em
            >{{ declarationOneB }}
          </p>
  
          <p>{{ declarationTwo }}</p>
        </common-page-section>
        <form #form="ngForm">
         <div>
            <div class='strong'>{{ questionApplicant }}</div>
            <div class=" mb-3">
              <common-checkbox class="form-check-inline" label="{{agreeLabel}}"
                               [(data)]="application.authorizedByApplicant"
                               [required]='true'></common-checkbox>
              <common-error-container [displayError]="(touched$ | async) && !application.authorizedByApplicant">
                Field is required
              </common-error-container>
            </div>
          </div>
          <div>
            <div>{{ questionForAttorney }}</div>
            <div class="form-check form-check-inline mb-3">
              <common-checkbox label="{{poaAgreeLabel}}"
                               [(data)]="application.authorizedByAttorney"></common-checkbox>
  
            </div>
          </div>
  
          <div style="margin-top: 20px;" *ngIf="application.authorizedByAttorney">
            <h2>Documents</h2>
            <label for="">Upload your Power of Attorney or other legal representation agreement.</label>
            <common-file-uploader
              #fileUploader
              [images]="application.powerOfAttorneyDocs"
              [id]="application.id"
              (onAddDocument)="addDocument($event)"
              (onErrorDocument)="errorDocument($event)"
              (onDeleteDocument)="deleteDocument($event)"
              (imagesChange)="updateFiles($event)"
              instructionText="Click add, or drag and drop file into this box"
            >
              <span id="uploadInstruction" #uploadInstruction>
                Click add, or drag and drop file into this box
              </span>
            </common-file-uploader>
            <common-image-error-modal #mspImageErrorModal></common-image-error-modal>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <common-captcha
                name='captcha'
                required
                ngModel
                [nonce]="application.uuid"
                [apiBaseUrl]="captchaApiBaseUrl"
                (onValidToken)="setToken($event)"
              ></common-captcha>
            </div>
          </div>
        </form>
      </ng-container>
      <msp-confirmation *ngIf="stateSvc.submitted"></msp-confirmation>