@import '../../../../styles/variables.scss';

.message-container {
  display: flex;
  padding: 1rem;
  min-height: 50px;
  border-style: solid;
  border-width: 3px !important;
  font-size: $h3-font-size;

  @include media-breakpoint-down(sm){
    height: auto;
    margin: initial;
  }
}

.confirm-icon--success::after,
.confirm-icon--error::after,
.confirm-icon--warning::after {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
