.thumbnail-container {
  /*border: 2px solid purple;*/
  /*margin: 2px;*/
  &:hover {
    border: 1px solid gray;
    /*opacity: 0.5;*/
  }
  .image-thumbnail {
    /*border: 1px solid green;*/
    /*margin-bottom: 15px;*/
    /*height: 200px;*/
    /*margin: 20px;*/
    padding: 2px 2px 0 2px;
    height: 100px;
    &:hover {
      /*background: green;*/
      /*opacity: 0.7;*/
      cursor: -webkit-zoom-in;
      cursor: zoom-in;  
    }
  }
  .image-thumbnail-width-priority {
    /*border: 1px solid green;*/
    /*margin-bottom: 15px;*/
    /*height: 200px;*/
    /*margin: 20px;*/
    padding: 2px 2px 0 2px;
    width: 270px;
    &:hover {
      /*background: green;*/
      /*opacity: 0.7;*/
      cursor: -webkit-zoom-in;
      cursor: zoom-in;  
    }
  }

  .action-strip {
    height: 20px;
    text-align: center;
    font-size: small;
    margin: 0 2px 0 2px;
    
    &:hover {
      background: lightgrey;
    }
    a {
      text-decoration: none;
    }
  }
}

