<form #formRef="ngForm">
  <div class="form-group"
    [ngClass]="{'has-error': showError && (person.gender === undefined || person.gender === null)}">
    <label for="genderMale{{uuid}}" [innerHtml]="lang('./en/index.js').genderLabel"></label>
    <label class="visuallyhidden" for="genderFemale{{uuid}}" [innerHtml]="lang('./en/index.js').genderLabel"></label>
    <span *ngIf='showError && (person.gender === undefined || person.gender === null)'
      class="text-danger" role="alert" aria-live="assertive">(Please specify gender)</span>

    <div class="form-check">
      <input class='form-check-input' type="radio" name="gender" id="genderMale{{uuid}}"
        (click)="person.gender = Gender.Male" [checked]="Gender.Male === person.gender"
        (change)="genderChange(Gender.Male)">
        <label class='form-check-label' for="genderMale{{uuid}}">
          {{lang('./en/index.js').maleLabel}}
      </label>
    </div>
    <div class="form-check">
      <input class='form-check-input' type="radio" name="gender" id="genderFemale{{uuid}}" (click)="person.gender = Gender.Female" [checked]="Gender.Female === person.gender"
        (change)="genderChange(Gender.Female)">
        <label class='form-check-label' for="genderFemale{{uuid}}">
          {{lang('./en/index.js').femaleLabel}}
      </label>
    </div>
  </div>
</form>
