<form #formRef="ngForm" novalidate>

      <!-- Remove Spouse and Child Button, (Red cross) -->
    <div *ngIf="removeable">
        <div *ngIf="person.relationship !== 0">
            <div *ngIf="person.relationship === 1">
            <common-xicon-button label='Remove Spouse' (click)="removeSpouse()"></common-xicon-button>
            </div>
        </div>
    </div>
      
    
    <!-- Full Name  -->
    <div class="form-group">
       &nbsp;
    </div>
                    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                    <msp-full-name [useRows]='false' [data]="person" (dataChange)="onChange.emit($event);"></msp-full-name>
            </div>
        </div>
    </div>

    <!-- BirthDate  -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <msp-birthdate #birthdate
                        [person]="person"
                        (onChange)="onChange.emit($event)">
            </msp-birthdate>
        </div>
      </div>
    </div>

    <!-- PHN  -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
              <common-phn
                      #phnRef="ngModel"
                      name="phn"
                      [(ngModel)]="person.previous_phn"
                      required
                      commonValidatePhn></common-phn>
              <div class="text-danger" *ngIf="!isPhnUnique()"
                [innerHTML]="lang('./en/index.js').phnUniqueError">
              </div>
            </div>
        </div>
    </div>

    <!-- SIN -->
    <div class="row">
        <div class="col-md-6">
            <common-sin
                [(ngModel)]="person.sin"
                name="sin"
                id="sin"
                required>
            </common-sin>
            <div class="text-danger" *ngIf="!isSinUnique()"
                [innerHTML]="lang('./en/index.js').sinUniqueError">
            </div>
        </div>
    </div>

    <!-- Doc Uploader   -->
    <h2>Documents</h2>
    <p class="help-block"> Upload your Notice of Assessment or Reassessment from Canada Revenue Agency for <b>{{benefitApp.taxYear}}</b></p>
        <common-page-section layout="tips">
            <div >
                <common-file-uploader 
                    [images]="person.assistYearDocs"
                    (imagesChange)="addDocument($event)"
                    [id]='benefitApp.id'
                    (errorDocument)="errorDoc($event)" 
                    instructionText="Please upload Notice of Assessment documents for {{benefitApp.taxYear}} ">
                </common-file-uploader>
            </div>   
             
            <!-- TIP -->
            <aside >
            <div class="row">
                <div class="col-2">
                    <i class="fa fa-exclamation-triangle" style="font-size: 35px;"></i>
                </div>
                <div class="col-8">
                <p>
                        If you are uploading a copy of a Notice of Assessment or Reassessment from the Canada Revenue Agency website, make sure the image contains
                </p>
                <ul>
                    <li>
                            Your name
                    </li>
                    <li>
                            the tax year
                    </li>
                    <li>
                            your net income (line 236)
                    </li>
                    <li>
                            If you have a Registered Disability Savings Plan (line 125)
                    </li>
                </ul>
            </div>
            </div>
                    
                </aside>
        </common-page-section>
    <!-- <div class="row">
        <div class="col-md-6" >

            <common-file-uploader 
                               [images]="person.assistYearDocs"
                               (imagesChange)="addDocument($event)"
                               [id]='benefitApp.id'
                               (errorDocument)="errorDoc($event)" instructionText="Please upload Notice of Assessment documents for {{benefitApp.taxYear}}">
             </common-file-uploader>
            </div>
        </div> -->
        
        <msp-image-error-modal #mspImageErrorModal></msp-image-error-modal>
  </form>