<form #formRef="ngForm" novalidate>

      <!-- Remove Spouse and Child Button, (Red cross) -->
    <div *ngIf="removeable">
        <div *ngIf="person.relationship !== 0">
            <div *ngIf="person.relationship === 1">
            <common-xicon-button label='Remove Spouse' (click)="removeSpouse()"></common-xicon-button>
            </div>
        </div>
    </div>
      
    
    <!-- Full Name  -->
    <!-- <div class="row">
        <div class="col-md-6">
            <msp-full-name [data]="person" (dataChange)="onChange.emit($event);"></msp-full-name>
            
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-6">
            <msp-full-name [useRows]='false' [data]="person" (dataChange)="onChange.emit($event);"></msp-full-name>
        
        </div>
    </div>

    <!-- BirthDate  -->
    <div class="row">
      <div class="col-md-6">
        <msp-birthdate #birthdate
                      [person]="person"
                      (onChange)="onChange.emit($event)">
        </msp-birthdate>
      </div>
    </div>

    <!-- PHN  -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
              <common-phn
                      #phnRef="ngModel"
                      name="phn"
                      [(ngModel)]="person.previous_phn"
                      required
                      commonValidatePhn></common-phn>
              <div class="text-danger" *ngIf="!isPhnUnique()"
                [innerHTML]="lang('./en/index.js').phnUniqueError">
              </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <common-sin
                [(ngModel)]="person.sin"
                name="sin"
                id="sin"
                required>
            </common-sin>
            <div class="text-danger" *ngIf="!isSinUnique()"
                [innerHTML]="lang('./en/index.js').sinUniqueError">
            </div>
        </div>
    </div>

    <!-- SIN  
    <div class="row">
      <div class="col-md-6">
          <div class="form-group"
              [ngClass]="{'has-error': !formRef.controls.sin?.valid && sinRef.touched}">
            <label class="control-label" for="sin">Social Insurance Number (SIN)</label>
            <input type="text"
                  [(ngModel)]="person.sin"
                  required
                  pattern="[0-9]{1}\d{2}\s?\d{3}\s?\d{3}"
                  id='sin' name='sin'
                  maxlength="9"
                  #sinRef="ngModel"
                  class="form-control"
                  placeholder="046 454 286">
            <div *ngIf='sinRef.touched'>
              <div class="text-danger" *ngIf="sinRef.errors?.required"
                  [innerHTML]="lang('./en/index.js').sinErrorRequired"></div>
              <div class="text-danger" *ngIf="sinRef.errors?.pattern"
                  [innerHTML]="lang('./en/index.js').sinErrorPattern"></div>
              <div class="text-danger" *ngIf="!sinRef.errors?.pattern && sinRef.errors?.sinCheck"
                  [innerHTML]="lang('./en/index.js').sinCheckErrorPattern"></div>
            </div>
            <div class="text-danger" *ngIf="!isSinUnique()"
                [innerHTML]="lang('./en/index.js').sinUniqueError">
            </div>
          </div>
      </div>
    </div> -->

    <!-- Doc Uploader   -->
    <h2>Documents</h2>
    <p class="help-block"> Upload your Notice of Assessment or Reassessment from Canada Revenue Agency for {{benefitApp.taxYear}}</p>
    <div class="row">
        <div class="col-md-6" >

            <common-file-uploader 
                               [images]="person.assistYearDocs"
                               (imagesChange)="addDocument($event)"
                               [id]='benefitApp.id'
                               (errorDocument)="errorDoc($event)" instructionText="Please upload Notice of Assessment documents for {{benefitApp.taxYear}}">
             </common-file-uploader>
            </div>
        </div>
        
        <msp-image-error-modal #mspImageErrorModal></msp-image-error-modal>
  </form>