@import 'variables.scss';

$next-step--color: #00F;

.icon--message {
  font-size: $h2-font-size;
}

.next-step--container {
  display: flex;
  padding: 1rem;
  min-height: 50px;
  border-style: solid;
  border-width: 3px !important;
  border-color: $next-step--color !important;
  font-size: $h3-font-size;

  @include media-breakpoint-down(sm){
    height: auto;
    margin: initial;
  }
}

.next-set--item {
  flex-direction: column;
}

.next-step--icon {
  color: $next-step--color;
}

.info--container {
  font-size: $h3-font-size;
}