<form #formRef='ngForm' novalidate>
    <div class="row">
        <div [ngClass]="person.relationship === 0 ? 'col-sm-12' :'col-sm-9'"  *ngIf="!embedded">
            <h2 [innerHTML]="lang('./en/index.js').sectionTitle[person.relationship]"></h2>
            <ng-container  *ngIf="person.relationship === 0 || person.relationship === 1">
                <h4 [innerHTML]="mspAccountApp.accountChangeOptions.personInfoUpdate ? lang('./en/index.js').sectionSubTitleforPI[person.relationship] : lang('./en/index.js').sectionSubTitleNoPI[person.relationship]"></h4>
            </ng-container>
        </div>
        <div class="col-sm-3" *ngIf="!embedded">
            <div *ngIf="person.relationship !== 0" style="margin-top: 18px">
                <div *ngIf="person.relationship === 1">
                <common-button [label]="lang('./en/index.js').removeSpouseButton" [buttonType]="buttonClass" (btnClick)='removeSpouse()'></common-button>
                   
                    <!--<button type="button" class="btn btn-default btn-xs pull-right"
                            (click)="removeSpouse()"
                            [innerHTML]="lang('./en/index.js').removeSpouseButton">
                    </button> -->
                </div>
                <div *ngIf="person.relationship === 4">
                    <common-button [label]="lang('./en/index.js').removeChildButton" [buttonType]="buttonClass" (btnClick)='removeChild()'></common-button>
                
                   <!-- <button type="button" class="btn btn-default btn-xs pull-right"
                            (click)="removeChild()"
                            [innerHTML]="lang('./en/index.js').removeChildButton">
                    </button> -->
                </div>
            </div>
        </div>
    </div>

    <msp-full-name [data]="person" (dataChange="setName($event)" ></msp-full-name>
  <!-- 
    <msp-name #name [person]="person" (onChange)="onChange.emit($event)" [showError]="showError"></msp-name>
    -->
    <div class="row">
        <div class="col-md-4">

                <common-radio [value]="person.gender" 
                    label='Gender' 
                    [radioLabels]='[{"label": "Male", "value": "M"},{ "label": "Female", "value": "F"}]' 
                    (statusChange)="setGender($event)"
                    [showError]="showError">
                </common-radio> 
            <!-- <msp-gender
                #gender
                [person]="person"
                (onChange) = "onChange.emit($event)" 
                [showError] = "showError">
            </msp-gender>
           <common-gender
                    #gender
                    [person]="person"
                    (onChange)="onChange.emit($event)"
                    [showError]="showError"
            ></common-gender> -->
        </div>
        <div class="col-md-4">
            <msp-birthdate
                    #birthDate
                    [person]="person" [isForAccountChange]="true"
                    (onChange)="onChange.emit($event)"
                    [showError]="showError">
            </msp-birthdate>
        </div>
        <div class="col-md-4">
           <!-- <common-phn #phn [label]="label" 
                     [(value)]="person.previous_phn" 
            ></common-phn> -->
        </div>

    </div>
    <div class="row" *ngIf="person.relationship === 0">
        <div class="col-md-4">

            <common-phone-number [label]="'Mobile/SMS'" [phoneNumber] = "person.phoneNumber" 
                (onChange)= "handlePhoneNumberChange($event)">
            </common-phone-number>
            <!--<msp-phone #phone
                       [phoneNumber]="person.phoneNumber"
                       (phoneNumberChange)="handlePhoneNumberChange($event)"></msp-phone> -->

        </div>
    </div>
   <div class="row" *ngIf="person.relationship === 0">

        <div class="col-md-12">

            <h2 [innerHTML]="lang('./en/index.js').residentialAddressTitle"></h2>
            <h4 [innerHTML]="mspAccountApp.accountChangeOptions.personInfoUpdate ? lang('./en/index.js').residentialAddressSubTitleForPI:lang('./en/index.js').residentialAddressSubTitleNoPI"></h4>

           <!-- <common-address *ngIf="person.relationship === 0"
                         [(address)]="person.residentialAddress"
                         (addressChange)="handleAddressUpdate($event)"
                         [defaultProvince]="defaultProvince"
                         [defaultCountry]="defaultCountry"
                         [isRequired]="true">

            </common-address> 

            <common-address *ngIf="person.relationship === 0"
                  [address]="person?.residentialAddress"
                  (addressChange)="handleAddressUpdate($event)"
                  [defaultCountry]="defaultCountry"
                  [defaultProvince]="defaultProvince"
                  [isRequired]="true">
            </common-address> -->


          <msp-address #address *ngIf="person.relationship === 0" [showError]="showError && showErrorAddress"
                         [residentialAddress]="person.residentialAddress"
                         [mailingAddress]="person.mailingAddress"
                         [mailingSameAsResidentialAddress]="person.mailingSameAsResidentialAddress"
                         (mailingSameAsResidentialAddressChange)="toggleMailingSameAsResidentialAddress($event)"
                         (onChange)="handleAddressUpdate($event)">

            </msp-address> 
        </div>
    </div>

    <msp-status-in-canada-radio (onChange)="onChange.emit($event)" [showError]="showError"
        *ngIf="mspAccountApp.accountChangeOptions.statusUpdate&&!embedded"
            [person]='person'>
    </msp-status-in-canada-radio>




</form>
<hr class="strong-hr" *ngIf="!embedded">

<!-- switch *ngIf value to true for debugging-->
<div class="row" *ngIf='false'>
    <div class="col-lg-12">
        <ul>
            <li *ngFor='let log of changeLog'>
                {{log | json}}
            </li>
        </ul>
    </div>

    <div class="col-lg-12">
        <p>Person Data Model</p>
        {{this.person| json}}
        <p>firstname</p>
        <!--{{ formRef.controls.firstname | json}}-->
    </div>
</div>
