<common-page-framework layout="blank">
  <form #formRef="ngForm" novalidate>
  <h1 [innerHTML]="lang('./en/index.js').pageTitle"></h1>
    <msp-personal-details [person] = 'applicant' [id] = 'applicant.id'
      (onChange) = "onChange($event)"
      [showError] = "formRef.submitted">
      </msp-personal-details>
      
      <div class="row" style="margin-top: 10px;">
        <p class="intro text-danger" *ngIf="!isStayinginBCAfterstudies()"
            [innerHtml]="lang('./en/index.js').badAnswerStudies" role="alert" aria-live="assertive">
        </p>
    
      <div class="col-md-6 pull-left" *ngIf="formRef.submitted">
          <p class="text-danger" [innerHTML]="lang('./en/index.js').completesAllHighlightedFields">
          </p>
      </div>
    </div>
  </form>
</common-page-framework>
<common-form-action-bar [submitLabel]="lang('./en/index.js').continueButton"
    [canContinue]="!(!isStayinginBCAfterstudies() ||checkAnyDependentsIneligible() || !isAllValid())"
    (btnClick)="continue()">
</common-form-action-bar>

