<common-page-framework layout="blank">
  <form #formRef="ngForm" novalidate>
    <h1>Main Applicant's Personal Information</h1>
    <p class="border-bottom">
      Please provide the main applicant's (Account Holder) personal information and status in Canada. You will be required to provide supporting documents with your application.
    </p>

    <msp-canadian-status [person]="applicant"
                         (personChange)="applicantUpdate($event)">
      <div sectionTitleInfo>
        <h2>Status in Canada</h2>
        <p class="border-bottom">
            Please provide your immigration status information. You will be required to upload documents to support your status in Canada.
        </p>
      </div>
    </msp-canadian-status>

    <msp-support-documents *ngIf="hasStatus"
                            [canadianStatus]="applicant.status"
                            [statusReason]="applicant.currentActivity"
                            [supportDoc]="statusDocuments"
                            (supportDocChange)="statusDocUpdate($event)">
      <div sectionTitleInfo>
        <h2>Documents</h2>
        <p class="border-bottom"> 
          Provide one of the required documents to support your status in Canada. 
          If your name has changed since your ID was issued you are also required to upload document to support the name change.
        </p>
      </div>

      <div requestAdditionInfo>
        <common-radio class="p-sm-2"
                      [value]="hasNameChange"  
                      label="Has your name changed since your ID was issued due to marriage or a legal name change?" 
                      [radioLabels]="yesNoRadioLabels"
                      (statusChange)="hasNameChange=$event">
        </common-radio>
      </div>

      <div sampleDocument>
          TODO: Need to add links with images to display        
      </div>

    </msp-support-documents>


    

    <msp-personal-details [person] = 'applicant' [id] = 'applicant.id'
      (personChange) = "applicantUpdate($event)"
      [(statusDocuments)]="applicant.documents.images"
      [(nameDocuments)]="applicant.nameChangeDocs.images">
    </msp-personal-details>
      <!--[showError] = "formRef.submitted"-->
    

    <div class="row" style="margin-top: 10px;">
      <p class="intro text-danger" *ngIf="!isStayinginBCAfterstudies()"
          [innerHtml]="lang('./en/index.js').badAnswerStudies" role="alert" aria-live="assertive">
      </p>
    
      <div class="col-md-6 pull-left" *ngIf="formRef.submitted">
          <p class="text-danger" [innerHTML]="lang('./en/index.js').completesAllHighlightedFields">
          </p>
      </div>
    </div>
  </form>
</common-page-framework>
<common-form-action-bar defaultColor='false'
    [canContinue]="canContinue()"
    (btnClick)="continue()">
</common-form-action-bar>

