<label class="intro" id="taxYear" [innerHtml]="lang('./en/index.js').enterTaxYearLabel"></label>
<div  style="display:inline-block;" *ngFor="let st of assistanceYears;  let i = index">
    <common-radio [value]="currentTaxYear"
        [radioLabels]='[{"label": st.year, "value": st.year}]'
        (valueChange)="setTaxYear(st.year)">
    </common-radio>

</div>

<div *ngIf="cutOffYear && cutOffYear === currentTaxYear" class="text-danger">
        <i class="fa fa-exclamation-circle " style="font-size: 15px;"></i>
        Selecting this Notice of Assessment will allow you to apply for supplementary benefits for the <strong>current</strong> calendar year only. To apply for the <strong>next</strong> calendar year, you must provide a more recent Notice of Assessment.
</div>
