<form #formRef='ngForm' novalidate>
    <div class="form-group {{colSize}}"
         [ngClass]="{'has-error': !formRef.controls.country?.valid && countryRef.touched}">
        <label for="country" [innerHtml]="label"></label>
        <ng2-completer [(ngModel)]="country"
                       (ngModelChange)="updateModel($event)"
                       [dataService]="dataService" [minSearchLength]="0"
                       [autoMatch]="true"
                       [overrideSuggested]="true"
                       [maxChars]="30"
                       required
                       id="country" name="country" #countryRef="ngModel"></ng2-completer>
        <div *ngIf='countryRef.touched'>
            <div class="text-danger" *ngIf="countryRef.errors?.required"
                 [innerHtml]="lang('./en/index.js').countryErrorIsRequired"></div>
            <div class="text-danger" *ngIf="countryRef.errors?.pattern"
                 [innerHtml]="lang('./en/index.js').countryErrorPattern"></div>
        </div>
    </div>
</form>