<form #formRef='ngForm' novalidate>
    <div class="form-group"
         [ngClass]="{'has-error': !formRef.controls.country?.valid && (countryRef.touched || showError)}">
        <label for="country{{objectId}}" [innerHtml]="label" class="control-label"></label>
        <ng2-completer [ngModel]="country"
                       (ngModelChange)="updateModel($event)"
                       [dataService]="dataService" [minSearchLength]="0"
                       [autoMatch]="true"
                       [overrideSuggested]="true"
                       [maxChars]="25"
                       required
                       [inputId]="'country' + objectId" name="country" #countryRef="ngModel"></ng2-completer>
        <div *ngIf='countryRef.touched || showError' role="alert" aria-live="assertive">
            <div class="text-danger" *ngIf="countryRef.errors?.required"
                 [innerHtml]="lang('./en/index.js').countryErrorIsRequired"></div>
            <div class="text-danger" *ngIf="countryRef.errors?.pattern"
                 [innerHtml]="lang('./en/index.js').countryErrorPattern"></div>
        </div>
    </div>
</form>