<div id="app">
  <div id="wrap" class="site-wrapper">
    <common-header [serviceName]="headerName" urlBaseName="msp"></common-header>
    <router-outlet></router-outlet>
    <div id="pad"></div>
  </div>

  <footer>
    <div class="navbar navbar-expand-md bg-primary">
      <a class="nav-link" href="http://www2.gov.bc.ca/gov/content/home/disclaimer"
          target="_blank">Disclaimer</a>
      <a class="nav-link" href="http://www2.gov.bc.ca/gov/content/home/privacy"
          target="_blank">Privacy</a>
      <a class="nav-link" href="http://www2.gov.bc.ca/gov/content/home/accessibility"
          target="_blank">Accessibility</a>
      <a class="nav-link" href="http://www2.gov.bc.ca/gov/content/home/copyright"
          target="_blank">Copyright</a>
      <a class="nav-link" href="http://www2.gov.bc.ca/gov/content/health/health-drug-coverage/msp/bc-residents-contact-us"
          target="_blank">Contact Us</a>
    </div>
  </footer>
</div>
