@import 'variables';
@import "overrides";
@import "additions";

.container-fluid {
  @include media-breakpoint-up(md) {
    padding-left: 0;
    padding-right: 0;
  }
}

:host() {
  height: 100%;
}

.site-wrapper {
  min-height: 100vh !important;
  height: 100vh;
}
