// Declare primary font
@font-face {
    font-family: 'Myriad-Pro';
    src: url('fonts/MyriadWebPro.ttf');
}

//------------------------------------------------------------------------------
// Customizing which bootstrap files get imported, copied from bootstrap.scss
// Overriding the "variables.scss" file with our custom theme
//------------------------------------------------------------------------------

// Core variables and mixins
@import "styles/variables.scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";
//---------------------------------------------------------------------------------

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@import "~font-awesome/scss/variables";
@import "~font-awesome/scss/mixins";
$fa-font-path: '~font-awesome/fonts';
@font-face {
    font-family: 'FontAwesome';
    src: url('${fa-font-path}/fontawesome-webfont.ttf?v=${fa-version}') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import "~font-awesome/scss/core";
@import "~font-awesome/scss/larger";
@import "~font-awesome/scss/fixed-width";
@import "~font-awesome/scss/list";
@import "~font-awesome/scss/bordered-pulled";
@import "~font-awesome/scss/animated";
@import "~font-awesome/scss/rotated-flipped";
@import "~font-awesome/scss/stacked";
@import "~font-awesome/scss/icons";
@import "~font-awesome/scss/screen-reader";
$icon-font-path: '~bootstrap/fonts/';
@import 'styles/overrides.scss';
@import 'styles/additions.scss';

// Set a base font-size in px to ensure that we don't just use the browser's
// default text size. We use rems for font-sizes everywhere else.
html {
  font-size: 16px;

  // Optional - This may be removed!
  // Left in because it really demonstrates the value of rem based designs. We
  // can scale the entire layout, from element sizing to padding, just by
  // changing font-size here.
  @include media-breakpoint-up(sm){
    font-size: 14px;
  }
}