// Declare primary font
@font-face {
  font-family: 'Myriad-Pro';
  src: url('fonts/MyriadWebPro.ttf');
}

//---------------------------------------------------------------------------------
// Customizing which bootstrap files get imported, copied from bootstrap.scss
// Overriding the "variables.scss" file with our custom theme
//---------------------------------------------------------------------------------

// Core variables and mixins
@import "styles/variables.scss";
@import "/scss/bootstrap/scss/functions";
@import "/scss/bootstrap/scss/mixins";
@import "/scss/bootstrap/scss/root";
@import "/scss/bootstrap/scss/reboot";
@import "/scss/bootstrap/scss/type";
@import "/scss/bootstrap/scss/images";
@import "/scss/bootstrap/scss/code";
@import "/scss/bootstrap/scss/grid";
@import "/scss/bootstrap/scss/tables";
@import "/scss/bootstrap/scss/forms";
@import "/scss/bootstrap/scss/buttons";
@import "/scss/bootstrap/scss/transitions";
@import "/scss/bootstrap/scss/dropdown";
@import "/scss/bootstrap/scss/button-group";
@import "/scss/bootstrap/scss/input-group";
@import "/scss/bootstrap/scss/custom-forms";
@import "/scss/bootstrap/scss/nav";
@import "/scss/bootstrap/scss/navbar";
@import "/scss/bootstrap/scss/card";
@import "/scss/bootstrap/scss/breadcrumb";
@import "/scss/bootstrap/scss/pagination";
@import "/scss/bootstrap/scss/badge";
@import "/scss/bootstrap/scss/jumbotron";
@import "/scss/bootstrap/scss/alert";
@import "/scss/bootstrap/scss/progress";
@import "/scss/bootstrap/scss/media";
@import "/scss/bootstrap/scss/list-group";
@import "/scss/bootstrap/scss/close";
@import "/scss/bootstrap/scss/modal";
@import "/scss/bootstrap/scss/tooltip";
@import "/scss/bootstrap/scss/popover";
@import "/scss/bootstrap/scss/carousel";
@import "/scss/bootstrap/scss/utilities";
@import "/scss/bootstrap/scss/print";

//---------------------------------------------------------------------------------

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */



@import "~font-awesome/scss/variables";
@import "~font-awesome/scss/mixins";

$fa-font-path: '~font-awesome/fonts';
@font-face {
  font-family: 'FontAwesome';
  src: url('${fa-font-path}/fontawesome-webfont.ttf?v=${fa-version}') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import "~font-awesome/scss/core";
@import "~font-awesome/scss/larger";
@import "~font-awesome/scss/fixed-width";
@import "~font-awesome/scss/list";
@import "~font-awesome/scss/bordered-pulled";
@import "~font-awesome/scss/animated";
@import "~font-awesome/scss/rotated-flipped";
@import "~font-awesome/scss/stacked";
@import "~font-awesome/scss/icons";
@import "~font-awesome/scss/screen-reader";


$icon-font-path: '~bootstrap/fonts/';


@import 'styles/overrides.scss';
@import 'styles/additions.scss';

