<msp-personal-information
  [person]="child">
  <p class="border-bottom"></p>
</msp-personal-information>

<div *ngIf="child.isRemovedAtTheEndOfCurrentMonth != null">
  <label for="objectId" class="control-label">Reason for cancellation</label>
  <div class="form-group">
    <select style="width:350px;" class="custom-select" [id]="objectId"
      name="objectId"
      [(ngModel)]="child.cancellationReason"
      (ngModelChange)="child.cancellationReason = $event; this.dataService.saveMspAccountApp();">
      <ng-container>
        <option selected value="null" disabled="true">Please Select</option>
        <option *ngFor="let item of cancellationReasons"
          [ngValue]="item.value"
          [selected]="child.cancellationReason == item.value">
          {{item.label}}
        </option>
      </ng-container>
    </select>
  </div>
</div>
