<div>
  <form #formRef="ngForm" novalidate >
    <div class="deduction-calc-spacer-sm hidden-xs hidden-sm"></div>
    <div class="deduction-calc">
      <h2 [innerHTML]="eligibilityCalculatorTitle" tabindex="0"></h2>
      <table>
        <tbody>
        <tr>
          <td class="deduction-table-cell-margin">
            <span  [innerHTML]="totalHouseholdIncomeLabel" tabindex="0"></span>
          </td>
          <td class="deduction-table-cell-padding deduction-table-cell-margin">
              <span *ngIf="applicantIncomeInfoProvided" tabindex="0">
                {{totalHouseholdIncome | currency: 'CAD': 'symbol-narrow'}}
              </span>
            <span *ngIf="!applicantIncomeInfoProvided">
                - -
              </span>
          </td>
        </tr>
  
        </tbody>
      </table>
  
      <hr style="border: 1px solid black;">
      <table>
        <tr>
          <th>
            <h4 tabindex="0"><strong>Deductions</strong></h4>
          </th>
        </tr>
        <tr *ngIf="application.ageOver65">
          <td class="deduction-table-cell-margin" tabindex="0">
            Age over 65
          </td>
          <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
            {{ageOver65Amt | currency: 'CAD': 'symbol-narrow'}}
          </td>
        </tr>
        <tr *ngIf="application.hasSpouseOrCommonLaw">
          <td class="deduction-table-cell-margin" tabindex="0">
            Spouse
          </td>
          <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
            {{spouseAmt| currency: 'CAD': 'symbol-narrow'}}
          </td>
        </tr>
        <tr *ngIf="application.hasSpouseOrCommonLaw && application.spouseAgeOver65">
          <td class="deduction-table-cell-margin" tabindex="0">
            Spouse age over 65
          </td>
          <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
            {{spouseAgeOver65Amt | currency: 'CAD': 'symbol-narrow'}}
          </td>
        </tr>
        <tr *ngIf="application.childrenCount && application.childrenCount > 0">
          <td class="deduction-table-cell-margin" tabindex="0">
            Children
          </td>
          <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
            {{childrenAmt | currency: 'CAD': 'symbol-narrow'}}
          </td>
        </tr>
        <tr *ngIf="application.claimedChildCareExpense_line214 && childrenAmt">
          <td class="deduction-table-cell-margin" tabindex="0">
            -50% Child care expense claimed on income tax
          </td>
          <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
            {{childCareExpense | currency: 'CAD': 'symbol-narrow'}}
          </td>
        </tr>
        <tr *ngIf="application.reportedUCCBenefit_line117">
          <td class="deduction-table-cell-margin" tabindex="0">
            Universal child card benefit income
          </td>
          <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
            {{uCCBenefitAmt| currency: 'CAD' : 'symbol-narrow'}}
          </td>
        </tr>
  
        <tr *ngIf="application.selfDisabilityCredit">
          <td class="deduction-table-cell-margin" tabindex="0">
            Applicant Disability credit
          </td>
          <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
            {{disabilityCreditAmt | currency: 'CAD' : 'symbol-narrow'}}
          </td>
        </tr>
        <tr *ngIf="application.spouseEligibleForDisabilityCredit">
          <td class="deduction-table-cell-margin" tabindex="0">
            Spouse disability credit
          </td>
          <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
            {{spouseDisabilityCreditAmt| currency: 'CAD' : 'symbol-narrow'}}
          </td>
        </tr>
        <tr *ngIf="application.childWithDisabilityCount">
          <td class="deduction-table-cell-margin" tabindex="0">
            Child disability credit
          </td>
          <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
            {{childrenDisabilityCreditAmt| currency: 'CAD' : 'symbol-narrow'}}
          </td>
        </tr>
        <tr *ngIf="application.spouseDSPAmount_line125">
          <td class="deduction-table-cell-margin" tabindex="0">
            Disability savings plan
          </td>
          <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
            {{application.spouseDSPAmount_line125 | currency: 'CAD' : 'symbol-narrow'}}
          </td>
        </tr>
  
        <tr *ngIf="application.applicantClaimForAttendantCareExpense">
          <td class="deduction-table-cell-margin" tabindex="0">
            Applicant attendant care expense
          </td>
          <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
            {{applicantClaimForAttendantCareExpenseAmt | currency: 'CAD' : 'symbol-narrow'}}
          </td>
        </tr>
        <tr *ngIf="application.spouseClaimForAttendantCareExpense">
          <td class="deduction-table-cell-margin" tabindex="0">
            Spouse attendant care expense
          </td>
          <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
            {{spouseClaimForAttendantCareExpenseAmt| currency: 'CAD' : 'symbol-narrow'}}
          </td>
        </tr>
        <tr *ngIf="application.childClaimForAttendantCareExpense">
          <td class="deduction-table-cell-margin" tabindex="0">
            Child attendant care expense
          </td>
          <td class="deduction-table-cell-padding deduction-table-cell-margin" tabindex="0">
            {{childClaimForAttendantCareExpenseAmt| currency: 'CAD' : 'symbol-narrow'}}
          </td>
        </tr>
  
        <tr>
          <td class="deduction-table-cell-margin">
            <h4 tabindex="0">Total deductions</h4>
          </td>
          <td class="deduction-table-cell-padding deduction-table-cell-margin">
            <span *ngIf="applicantIncomeInfoProvided" tabindex="0">
              {{totalDeductions | currency: 'CAD' : 'symbol-narrow'}}
            </span>
            <span *ngIf="!applicantIncomeInfoProvided">- -
            </span>
          </td>
        </tr>
      </table>
      <hr style="border: 1px solid black;">
  
      <table>
        <tbody>
        <tr>
          <td style="column-width: 100px;" class="deduction-table-cell-margin">
            <span tabindex="0"><strong>Adjusted income:</strong></span>
          </td>
          <td class="deduction-table-cell-padding deduction-table-cell-margin">
              <span *ngIf="applicantIncomeInfoProvided" tabindex="0">
                {{adjustedIncome | currency: 'CAD' : 'symbol-narrow'}}
              </span>
            <span *ngIf="!applicantIncomeInfoProvided">
                - -
              </span>
          </td>
        </tr>
        </tbody>
  
      </table>
      <p class="qualify-message" *ngIf="applicantIncomeInfoProvided && incomeUnderThreshhold" tabindex="0">
        It is likely that you will qualify for Supplementary Benefits.
      </p>
      <div *ngIf="applicantIncomeInfoProvided && !incomeUnderThreshhold" style="margin-right: 5px;">
        <p class="disqualify-message" tabindex="0"
           [innerHTML]="NotQualifyText.replace('{currentCalendarYear}', currentCalendarYear)">
        </p>
      </div>
  
    </div>
  
    <div class="row" *ngIf="false">
      <div class="col-lg-2" tabindex="0">
        {{incomeUnderThreshhold}}
      </div>
      <div class="col-lg-2" tabindex="0">
        {{canContinue}}
      </div>
    </div>
    <div *ngIf="!disableContinue">
      <div class="row" *ngIf="canContinue"
          style="margin-top: 10px;">
        <div class="col-sm-12">
          <button type="submit"
                  class="btn btn-primary btn-block break-word" [innerHtml]="continueButtonLabel" (click)="navigateToPersonalInfo()">
          </button>
        </div>
      </div>
      <div class="row" *ngIf="(!canContinue && !isPristine)||(formRef.submitted)"
          style="margin-top: 10px;">
        <div class="col-sm-12">
          <div class="before-continue-warning" tabindex="0">
            Please answer all highlighted questions on the form before continuing.
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
          <msp-cancel [btnBlock]="true"></msp-cancel>
        </div>
      </div>
  </div>
  
    <div *ngIf="false">
      {{eligibility | json}}
    </div>
  
  </form>
</div>