<form #formRef="ngForm" novalidate>
    <h1 class='page-title' [innerHTML]="lang('./en/index.js').pageTitle"></h1>
    
    <!--  Account holder info, user always fills -->
    <msp-account-personal-details 
        [person]='person' 
        [id]='person.id' 
        (onChange)="onChange()" 
        [showError]="formRef.submitted">
    </msp-account-personal-details>

    <!-- Dependents. Appears only if user clicks button from panel below. -->
    <msp-add-dependent *ngFor="let dependent of addedPersons"
        [person]="dependent"
        (onCancel)="clearDependent(dependent)"
        (onChange)="onChange()">
    </msp-add-dependent> 

    <!-- For consistency's sake, removed persons will always be below added persons. -->
    <msp-remove-dependent *ngFor="let dependent of removedPersons"
        [person]="dependent"
        (onCancel)="clearDependent(dependent)"
        (onChange)="onChange()">
    </msp-remove-dependent> 

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class='panel-title' [innerHTML]="lang('./en/index.js').pageTitle"></h4>
        </div>
        <div class="panel-body">
            <button class="btn btn-default" 
                [disabled]="spouse"
                (click)="addSpouse()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span [innerHTML]="lang('./en/index.js').addSpouseButton"></span>
            </button>
            <button class="btn btn-default"
                (click)="addChild(Relationship.ChildUnder19)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span [innerHTML]="lang('./en/index.js').addChildUnder19ButtonSimple"></span>
            </button>
            <button class="btn btn-default"
                (click)="addChild(Relationship.Child19To24)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span [innerHTML]="lang('./en/index.js').addChild19To24Button"></span>
            </button>
            <hr> <!-- new row -->
            <button class="btn btn-default"
                (click)="removeSpouse()">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                <span [innerHTML]="lang('./en/index.js').removeSpouseButton"></span>
            </button>
            <button class="btn btn-default"
                (click)="removeChild()">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                <span [innerHTML]="lang('./en/index.js').removeDependentButton"></span>
            </button>
        </div>
    </div>

    <hr>
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-2">

            <button 
            (click)="continue()"
            [disabled] = "hasAnyInvalidStatus()&& !canContinue()" [mspLogger]="'msp-accountmanagement_personal-info_continue'"
                    class="btn btn-primary" type="submit"
                    [innerHTML]="lang('./en/index.js').continueButton"></button>

        </div>
        <!-- <div class="col-sm-6 pull-left" *ngIf="formRef.submitted">
            <p class="text-danger" [innerHTML]="lang('./en/index.js').completesAllHighlightedFields">
            </p>
        </div> -->
        <msp-cancel></msp-cancel>
    </div>


</form>