<div class="row" role="alert" aria-live="assertive" *ngIf="doneProcessing">
    <div class="col-sm-12 col-lg-12">
        <h2><b> {{lang('./en/index.js').pageTitle }} </b></h2>
        <h2 [innerHtml]="lang('./en/index.js').instructionForUserOnErrorLine1"></h2>
        <div>

            <div *ngIf="!rapidError" class="alert alert-info col-lg-14" role="alert">
                <h4 [innerHtml]="lang('./en/index.js').systemErrorText"></h4>
                <ul>
                    <li>
                        <a href="javascript:void(0)" (click)="retrySubmission()"
                           [innerHtml]="lang('./en/index.js').tryToSubmitAgain" role="button"></a>
                    </li>
                </ul>
                <h4 [innerHtml]="lang('./en/index.js').contactHealthInsuranceBC"></h4>
            </div>

            <div *ngIf="rapidError" class="alert alert-info col-sm-10" role="alert">
                <h4 [innerHtml]="rapidError|replacewithlinks"></h4>
            </div>

        </div>

        <h3 [innerHtml]="lang('./en/index.js').instructionForUserOnErrorLine2"></h3>
    </div>
</div>
