<div class="container wrapper">
  <div ncy-breadcrumb></div>
  <div class="row">
    <div class="col-sm-3">
      <menubox/>
    </div>
    <div class="col-sm-9 col-md-5 col-lg-6">
      <h1 class="page-header">Manage my Government Services</h1>
      <div class="alert alert-info fade in" ng-if="unreadMsgCount>0">
        <button class="close" data-dismiss="alert" type="button">×</button>
        <i class="fa fa-info-circle" aria-hidden="true"></i> <strong>Message:</strong>
        <a  ui-sref="notifications">You have {{unreadMsgCount}} new {{pluralize('notification',unreadMsgCount)}}.</a>
      </div>
      <p>MyGov government serivce as of <strong>{{ today | date: 'longDate'}}</strong></p>

      <h2>My Government Services</h2>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Service Ministry/Organization</th>
          <th>Manage</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in service">
          <td><a ui-sref="{{item.routeName}}">{{item.name}}</a></td>
          <td><a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
        </tr>
        <tr>
          <td><a href="#"><strong> Add More BC Government Services</strong></a></td>
          <td><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></td>
        </tr>
        </tbody>
      </table>
      <h2>Suggest Government Services</h2>
      <p>Here are some common and relevant government services based on your MyGov profile.</p>

      <div class="row">
        <div class="col-sm-3">
          <div class="center-block">
            <a href="#">
              <img class="img-responsive" src="../../images/driving.png">
              <br/>
              <h4>Driver's License</h4>
            </a>
            <span class="text-muted">View your status, book a test and more.</span>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="center-block">
            <a href="#">
              <img class="img-responsive" src="../../images/education.png">
              <br>
              <h4>K-12 Education</h4>
            </a>
            <span class="text-muted">View your report cards, access transcripts, and more.</span>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="center-block">
            <a href="#">
              <img class="img-responsive" src="../../images/employment.png">
              <br>
              <h4>Workplace Safety</h4>
            </a>
            <span class="text-muted">Learn, certify and more.</span>
          </div>
        </div>

      </div>

    </div>
    <div class="col-sm-9 col-md-4 col-lg-3 col-sm-offset-3 col-md-offset-0">
      <div class="panel panel-primary">
        <div class="panel-heading">Your Government Identification</div>
        <div class="panel-body">
          <img class="img-responsive center-block"
               src="../../images/sam-profile.png">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-4 control-label">Name</label>
              <div class="col-sm-8">
                <p class="form-control-static">{{$ctrl.profile.name}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Date of Birth</label>
              <div class="col-sm-8">
                <p class="form-control-static">14 / 01 / 1997</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Address</label>
              <div class="col-sm-8">
                <p class="form-control-static">1518 Mortimer St., Campbell River, V8P 3A4</p>
                <p><a href="#">Edit/change your address</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">Learn More</div>
        <div class="panel-body"><p>Learn how to manage your BC My Account in our <a href="#">tutorial</a> or
          watch a video below.</p>
          <div class="embed-responsive embed-responsive-4by3">
            <iframe src="https://www.youtube.com/embed/r0AxuT28-ic?wmode=transparent" frameborder="0"
                    allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
