<common-page-framework layout="blank">
<div class="deam-container">
  <form #formRef="ngForm" novalidate>
    <div class="col-lg-8">
      <h1 class="horizontal-line"><strong>Authorize and submit your request</strong></h1>
      <p>
        I have received information about Medical Services Plan and agree to abide by its terms and conditions.
        I understand the information I have given is collected under the authority of the
        <i>Medicare Protection Act</i> and may be used to assess eligibility for other Ministry of Health programs,
        and that practitioners who provide service(s) under Medical Services Plan are required under the
        <i>Medicare Protection Act</i> to release information relative to those services to Medical Services Plan
        to support claims for benefits.
      </p>
      <p>
        I declare that all information provided is true and I understand that the Ministry of Health
        and/or Health Insurance BC may verify this information with immigration authorities, law enforcement
        authorities and other public authorities, agencies and persons, as appropriate.
      </p>
      <p>
        I agree to keep my address up to date with Health Insurance BC, notifying them of any changes within
        10 days of moving. I declare that all persons listed are residents of British Columbia. Resident means
        a person who is a citizen of Canada or is lawfully admitted to Canada for permanent residence, who makes
        his or her home in British Columbia, and is physically present in British Columbia for at least six months
        in a calendar year, or a shorter prescribed period, and includes a person who is deemed under the regulations
        to be a resident, but does not include a tourist or visitor to British Columbia.
      </p>
      <div class="strong"
        [innerHTML]="questionApplicant">
      </div>
      <div class="form-check form-check-inline mb-5">
        <common-checkbox
          [label]="lang('./en/index.js').agreeLabel"
          (dataChange)="applicantAuthorizeOnChange($event)"
          [data]="mspAccountApp.authorizedByApplicant">
        </common-checkbox>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <common-captcha
            name="captcha"
            [apiBaseUrl]="captchaApiBaseUrl" [nonce]="mspAccountApp.uuid"
            (onValidToken)="mspAccountApp.authorizationToken = $event"
            ngModel
            required>
          </common-captcha>
        </div>
      </div>
      <div class="row" *ngIf="form.submitted && !mspAccountApp.hasValidAuthToken">
        <div class="col-lg-6">
          <div class="text-danger"
            [innerHtml]="lang('./en/index.js').tryAgainWithCaptcha">
          </div>
        </div>
      </div>
      <hr>
    </div>
  </form>
</div>
</common-page-framework>
<div class="position: inherit;">
  <common-form-action-bar
    [submitLabel]="lang('./en/index.js').submitButton"
    (btnClick)="continue()"
    [canContinue]="mspAccountApp.authorizedByApplicant
                   || ((mspAccountApp.updatedSpouse
                   || mspAccountApp.addedSpouse)
                   && !mspAccountApp.authorizedBySpouse)"
    (btnClick)="handleFormSubmission($event)">
  </common-form-action-bar>
</div>
