<div class="container-fluid">
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Who can apply for MSP?</div>
        <div class="panel-body">
          BC MSP plan is for ....
        </div>
      </div>
    </div>  
    <div class="col-md-6">
      <div class="panel panel-primary">
        <!--<div class="panel-heading">General info about MSP</div>-->
        <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item msp-app">
                <a routerLink="/msp/application/prepare" routerLinkActive="active">
                  Start a new application
                </a>
                

              </li>
              <li class="list-group-item">Edit your application</li>
              <li class="list-group-item">Apply for MSP financial assistance</li>
            </ul>        
        </div>
      </div>
    </div>
  </div>
</div>
