<div class="container" style="margin-top: 30px">

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <button class="btn btn-primary btn-lg btn-block" (click) = "clearSavedMspApp()">
        {{lang('./en/index').newEnrollApp}}
      </button>
      <button class="btn btn-continue btn-lg btn-block" routerLink="/msp/application/prepare">
        {{lang('./en/index').continueEnrollApp}}
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <hr>
      <button class="btn btn-primary btn-lg btn-block" (click) = "clearSavedFinAssisApp()">
        {{lang('./en/index').newPaApp}}
      </button>
      <button class="btn btn-continue btn-lg btn-block" routerLink="/msp/assistance/prepare">
        {{lang('./en/index').continuePaApp}}
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <hr>
      <button class="btn btn-primary btn-lg btn-block" (click) = "clearSavedAccountApp()">
        {{lang('./en/index').newAccountApp}}
      </button>
      <button class="btn btn-continue btn-lg btn-block" routerLink="/msp/account/prepare">
        {{lang('./en/index').continueAccountApp}}
      </button>
    </div>
  </div>


</div>