<h1 [innerHtml]="lang('./en/index.js').pageTitle"></h1>



<div class="row" style="margin-top: 0px; margin-bottom: 15px">
    <div class="col-md-8" style="border: 1px solid transparent">
        <div>
          <p [innerHTML]="lang('./en/index.js').preamble1">
          </p>
        </div>
    </div>
</div>
<form #formRef='ngForm' novalidate role="form" >
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <div role="dialog" aria-labelledby="q1">
                    <p id="q1" class="intro" [innerHtml]="lang('./en/index.js').citizenshipQuestion"></p>
                    <div class="btn-group" role="group">
                        <button #citizenshipQBtn [class.msp-btn-radio]="application.citizenshipQ === true"
                                 type="button" class="btn btn-default" tabindex="0">Yes</button>
                        <button #notCitizenshipQBtn [class.msp-btn-radio]="application.citizenshipQ === false"
                                 type="button" class="btn btn-default" tabindex="0">No&nbsp;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="application.citizenshipQ === false">
        <div class="text-danger"
             [innerHTML]="lang('./en/index.js').notEligible" tabindex="0"></div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <div role="dialog" aria-labelledby="q1">
                    <p id="q1" class="intro" [innerHtml]="lang('./en/index.js').incomeTaxQuestion"></p>
                    <div class="btn-group" role="group">
                        <button #incomeTaxQBtn [class.msp-btn-radio]="application.incomeTaxQ === true"
                                type="button" class="btn btn-default" tabindex="0">Yes</button>
                        <button #notIncomeTaxQBtn [class.msp-btn-radio]="application.incomeTaxQ === false"
                                type="button" class="btn btn-default" tabindex="0">No&nbsp;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="application.incomeTaxQ === false">
        <div class="text-danger"
             [innerHTML]="lang('./en/index.js').notEligible" tabindex="0"></div>
    </div>
</form>







<msp-consent-modal #mspConsentModal [application]="dataService.finAssistApp"
                   [processName]="lang('./en/index.js').consentProcessName"
                   (onClose)="continueBtn.focus()"></msp-consent-modal>

<hr>
<button [mspLogger]="'msp-premium-assistance_initial_eligibility_check'"
        [disabled] = "!canContinue()"
        #continueBtn class="btn btn-primary" type="submit" (click)="continue()"
        [innerHTML]="lang('./en/index.js').continueButton"></button>

<msp-cancel></msp-cancel>


