<common-page-framework layout="blank">
  <a onclick="window.print();return false;" >   
    <b class="float-right">Print <i class="fa fa-print fa-lg pointer" 
      aria-hidden="true"></i>
    </b> 
  </a>
<h1><strong>Review your application</strong></h1>
<div class="row">
  <div class="col-lg-6">
    <msp-person-card [person]="application.applicant"
                     [editRouterLink]="'/benefit/personal-info'"></msp-person-card>
    <msp-person-card [person]="application.spouse" *ngIf="application.hasSpouseOrCommonLaw"
                     [editRouterLink]="'/benefit/spouse-info'"></msp-person-card> 

    <msp-contact-review-card [mailingAddress]="application.mailingAddress"
                             [phoneNumber]="application.phoneNumber"
                             [editRouterLink]="'/benefit/contact-info'">
    </msp-contact-review-card>

  </div>
  <div class="col-lg-6">

    <msp-benefit-eligibility-card  [application]="application"
      [editRouterLink]="'/benefit/financial-info'">
    </msp-benefit-eligibility-card> 
  </div>

</div>
</common-page-framework>

<common-form-action-bar [defaultColor]="false" [submitLabel]="lang('./en/index.js').continueButton"
          (btnClick)="continue()"
          widthOption='extra-width-mobile-only'>
</common-form-action-bar>
