<h1 [innerHTML]="lang('./en/index.js').pageTitle" tabindex="0"></h1>
<button class="btn btn-default" onclick="window.print();return false;">
  <i class="fa fa-print fa-lg pointer"
     aria-hidden="true"></i>
  Print
</button>
<div class="row">
  <div class="col-lg-6">
    <msp-person-card [person]="application.applicant"
                     [editRouterLink]="'/msp/benefit/personal-info'"></msp-person-card>
    <msp-person-card [person]="application.spouse" *ngIf="application.hasSpouseOrCommonLaw"
                     [editRouterLink]="'/msp/benefit/personal-info'"></msp-person-card>


    <msp-contact-card
            [residentialAddress]="application.residentialAddress"
            [mailingAddress]="application.mailingAddress"
            [phone]="application.phoneNumber"
            [editRouterLink]="'/msp/benefit/personal-info'"></msp-contact-card>

  </div>
  <div class="col-lg-6">
    <div class="person-card-preview-zone">
      <div *ngFor="let mspImage of application.assistYeaDocs" class="preview-item">
        <common-thumbnail [imageObject] ="mspImage" [reviewMode]="true">
        </common-thumbnail>
      </div>
    </div>
    <msp-benefit-eligibility-card  [application]="application"
                                 [editRouterLink]="'/msp/benefit/prepare'">
    </msp-benefit-eligibility-card>
  </div>
</div>


<hr>
<button
        class="btn btn-primary" type="submit" (click)="continue()"
        [innerHTML]="lang('./en/index.js').continueButton"></button>

<msp-cancel></msp-cancel>