.msp-app {
  .button-group{
    margin: 10px 5px 10px;

    button {
      margin: 5px 5px 10px;
    }
  }
} 

.dob-container {
  display: flex;
  width: 400px;
  justify-content: space-around;

  .dob-item {
    width: 120px;
  }
}

