<form #formRef="ngForm" novalidate (submit)="continue()">
    <h1 [innerHTML]="lang('./en/index.js').pageTitle"></h1>
    <msp-personal-details [person] = 'applicant' [id] = 'applicant.id'
      (onChange) = "onChange($event)"
      [showError] = "formRef.submitted">
      </msp-personal-details>
    <div *ngIf = 'spouse'>
      <msp-personal-details [person] = 'spouse' [id] = 'spouse.id'
        (notifySpouseRemoval)="removeSpouse($event)"
        (onChange) = "onChange($event)"
        [showError] = "formRef.submitted">
      </msp-personal-details>
    </div>
    <div *ngIf = 'children.length > 0'>
      <msp-personal-details *ngFor = "let child of children; let idx = index"
        [person] = 'child'
        [id] = 'child.id'
        (notifyChildRemoval)="removeChild($event,idx)"
        (onChange) = "onChange($event)"
        [showError] = "formRef.submitted">
      </msp-personal-details>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="msp-app">
          <div class="button-group">
            <button type="button" class="btn btn-default" (click)= 'addSpouse()'
              *ngIf = '!spouse'  [disabled] = "!canContinue()">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span [innerHTML]="lang('./en/index.js').addSpouseButton"></span>
            </button>
            <button type="button" class="btn btn-default" (click) = 'addChild(Relationship.ChildUnder19)'  [disabled] = "!canContinue()">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span [innerHTML]="lang('./en/index.js').addChildUnder19Button"></span>
            </button>
              <button type="button" class="btn btn-default" (click) = 'addChild(Relationship.Child19To24)'  [disabled] = "!canContinue()">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  <span [innerHTML]="lang('./en/index.js').addChild19To24Button"></span>
              </button>
          </div>
        </div>
      </div>
    </div>


  <hr>
    <div class="row" style="margin-top: 10px;">
      <div class="col-sm-2">
        <button [mspLogger]="'msp-enrollment_personal-info_continue'" 
            class="btn btn-primary" type="submit" [disabled] = "!documentsReady()"
            [innerHTML]="lang('./en/index.js').continueButton"></button>
        
      </div>
      <div class="col-sm-6 pull-left" *ngIf="!formValidStatus && formRef.submitted">
        <p class="text-danger" [innerHTML]="lang('./en/index.js').completesAllHighlightedFields">
        </p>
      </div>
      <msp-cancel></msp-cancel>
    </div>
    <input type="hidden" id="test" name="test" [(ngModel)]="test">

</form>