.msp-app {
  .button-group{
    margin: 10px 5px 10px;

    button {
      margin: 5px 5px 10px;
    }
  }
} 

.dob-container {
  display: flex;
  width: 320px;
  justify-content: space-around;
  flex-wrap:wrap;

  .dob-item {
    width: 90px;
  }
}

