<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Yourself</div>
      <div class="panel-body">
        <div class="col-md-5">
            <form>
              <div class="form-group">
                <label for="firstname">First name</label>
                <input type="text" class="form-control" id="firstname" placeholder="First name">
              </div>
              <div class="form-group">
                <label for="lastname">Last name</label>
                <input type="text" class="form-control" id="lastname" placeholder="Last name">
              </div>
              <div class="form-group">
                <label for="DOB">Date of birth</label>
                <div class="dob-container">
                  <input type="text" class="form-control dob-item" id="dob_month" placeholder="month">
                  <input type="text" class="form-control dob-item" id="dob_day" placeholder="day">
                  <input type="text" class="form-control dob-item" id="dob_year" placeholder="year">
                </div>
              </div>
            </form>        
        </div>

        <div class="col-md-7">
          <div class="page-header">
            <h2>Identification documents</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Your spouse</div>
      <div class="panel-body">
        <div class="col-md-5">
            <form>
              <div class="form-group">
                <label for="firstname">First name</label>
                <input type="text" class="form-control" id="firstname" placeholder="First name">
              </div>
              <div class="form-group">
                <label for="lastname">Last name</label>
                <input type="text" class="form-control" id="lastname" placeholder="Last name">
              </div>
              <div class="form-group">
                <label for="DOB">Date of birth</label>
                <div class="dob-container">
                  <input type="text" class="form-control dob-item" id="dob_month" placeholder="month">
                  <input type="text" class="form-control dob-item" id="dob_day" placeholder="day">
                  <input type="text" class="form-control dob-item" id="dob_year" placeholder="year">
                </div>
              </div>
            </form>        
        </div>

        <div class="col-md-7">
          <div class="page-header">
            <h2>Identification documents</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Your child</div>
      <div class="panel-body">
        <div class="col-md-5">
            <form>
              <div class="form-group">
                <label for="firstname">First name</label>
                <input type="text" class="form-control" id="firstname" placeholder="First name">
              </div>
              <div class="form-group">
                <label for="lastname">Last name</label>
                <input type="text" class="form-control" id="lastname" placeholder="Last name">
              </div>
              <div class="form-group">
                <label for="DOB">Date of birth</label>
                <div class="dob-container">
                  <input type="text" class="form-control dob-item" id="dob_month" placeholder="month">
                  <input type="text" class="form-control dob-item" id="dob_day" placeholder="day">
                  <input type="text" class="form-control dob-item" id="dob_year" placeholder="year">
                </div>
              </div>
            </form>        
        </div>

        <div class="col-md-7">
          <div class="page-header">
            <h2>Identification documents</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="msp-app">
      <div class="button-group">
        <button type="button" class="btn btn-default">
          <!--<span class="glyphicons glyphicons-plus"></span> Add child-->
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add child
        </button>
        <button type="button" class="btn btn-default">
          <!--<span class="glyphicons glyphicons-plus"></span> Add child-->
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add spouse
        </button>
      </div>
    </div>
  </div>
</div>

