<form>
	<div class="row">
		<div class="col-md-5">
			<h1>Yourself</h1>
			<div class="form-group">
				<label for="firstname">First name</label>
				<input type="text" class="form-control" id="firstname" placeholder="First name">
			</div>
			<div class="form-group">
				<label for="lastname">Last name</label>
				<input type="text" class="form-control" id="lastname" placeholder="Last name">
			</div>
			<div class="form-group">
				<label for="DOB">Date of birth</label>
				<div class="dob-container">
					<input type="text" class="form-control dob-item" id="dob_month" placeholder="month">
					<input type="text" class="form-control dob-item" id="dob_day" placeholder="day">
					<input type="text" class="form-control dob-item" id="dob_year" placeholder="year">
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<h3>Identification documents for you</h3>
		</div>
	</div>

	<h3>Residence, citizenship, Immigration status</h3>

	<div class="row">
		<!--<h3>Residence, citizenship, Immigration status</h3>-->
		<div class="col-md-4">
			<label>Your status in Canada</label>
			<ul class="list-group">
				<li class="list-group-item">Canadian Citizen</li>
				<li class="list-group-item">Permanent Resident</li>
				<li class="list-group-item">Temporary Resident</li>
				<li class="list-group-item">Government-supported Refugee</li>
			</ul>			
		</div>
		<div class="col-md-4">
			<label>What are you doing? </label>
			<ul class="list-group">
				<li class="list-group-item">Returning to BC from abroad</li>
				<li class="list-group-item">Moving to BC from another Canadian province</li>
			</ul>			
		</div>
		<div class="col-md-4">
			<h3 style="margin-top: 0">Please have the following ID ready</h3>
			<h4>(either as digital images/scans you can upload or originals you can photograph with your mobile device)</h4>
			<p>One of the following documents</p>
			<ul>
				<li>Birth Certificate</li>
				<li>Passport</li>
				<li>Canadian Citizenship Card</li>
			</ul>
		</div>
	</div>
</form>
<hr>

<div class="row">
	<div class="col-md-5">
  	<h1>Your spouse</h1>
		<form>
			<div class="form-group">
				<label for="firstname">First name</label>
				<input type="text" class="form-control" id="firstname" placeholder="First name">
			</div>
			<div class="form-group">
				<label for="lastname">Last name</label>
				<input type="text" class="form-control" id="lastname" placeholder="Last name">
			</div>
			<div class="form-group">
				<label for="DOB">Date of birth</label>
				<div class="dob-container">
					<input type="text" class="form-control" id="dob_month" placeholder="month">
					<input type="text" class="form-control" id="dob_day" placeholder="day">
					<input type="text" class="form-control" id="dob_year" placeholder="year">
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-7">
    <h2>Identification documents for your spouse</h2>
		<div class="page-header">
		</div>
	</div>
</div>


<hr>
<div class="row">
  <div class="col-md-6">
    <div class="msp-app">
      <div class="button-group">
        <button type="button" class="btn btn-default">
          <!--<span class="glyphicons glyphicons-plus"></span> Add child-->
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add child
        </button>
        <button type="button" class="btn btn-default">
          <!--<span class="glyphicons glyphicons-plus"></span> Add child-->
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add spouse
        </button>
      </div>
    </div>
  </div>
</div>

