<div *ngIf="transmissionInProcess" class="center-block" role="alert" aria-live="assertive">
    <h3><b> {{ lang('./en/index.js').pageTitle }} </b></h3>
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Submitting your application...</span>
    <p class="intro" [innerHtml]="lang('./en/index.js').transmissionInProgressMessage">
    </p>
</div>

<div class="h1" *ngIf="!transmissionInProcess && !hasError"
     [innerHtml]="lang('./en/index.js').transmissionSuccess"></div>

<div class="row" *ngIf="!transmissionInProcess && hasError" role="alert" aria-live="assertive">
    <msp-acl-error-view [response]="aclApiResponse" ></msp-acl-error-view>
</div>

