<ng-content select="[sectionTitleInfo]"></ng-content>
<common-page-section layout="tips">
  <div *ngIf="isCanadianNotBC">
    <div class="form-group p-sm-2">
      <common-radio name="livedInBCSinceBirth_{{objectId}}"
                    [(ngModel)]="person.livedInBCSinceBirth"  
                    label="Have {{relationship}} lived in B.C. since birth?" 
                    required>
      </common-radio>
    </div>
  </div>

  <div *ngIf="requestPermMoveInfo">
    <div class="form-group p-sm-2">
      <common-radio name="madePermanentMoveToBC_{{objectId}}"
                    [(ngModel)]="person.madePermanentMoveToBC"  
                    label="Have {{relationship}} moved to B.C. permanently?" 
                    required>
      </common-radio>
      <common-error-container [displayError]="person.madePermanentMoveToBC == false">
        You have indcated that a recent move to B.C. is not permanent.  As a result, this person
        is not eligible for enrolment in the Medical Services Plan.  Please contact
        <a href="{{links.MSP_RESIDENT_CONTACT}}" target="_blank">Health Insurance BC</a> for further 
        information.
      </common-error-container>
    </div>

    <div *ngIf="isCanadianFromProv || isCanadianNotBC || isResidentFromProv; else SelectCountry"
         class="form-group col-sm-6 p-sm-2">
      <common-province name="movedFromProvince_{{objectId}}"
                       [provinceList]="provinceList"
                       [(ngModel)]="person.movedFromProvinceOrCountry"
                       label="Which province are {{relationship}} moving from?"
                       required>
      </common-province>
    </div>

    <div *ngIf="isCanadianFromProv || isCanadianFromCountry; else NewToBC"
         class="form-group col-sm-6 p-sm-2">
        <common-date label="Arrival date in B.C."
                     [restrictDate]="'past'" 
                     [(date)]="person.arrivalToBCSimple">
        </common-date>
    </div>

    <div class="form-group col-sm-6 p-sm-2">
      <common-date label="Arrival date in Canada{{!isCanadianFromCountry ? ' (optional)' : ''}}"
                    [restrictDate]="'past'" 
                    [(date)]="person.arrivalToCanadaDate"
                    [required]="arrivalDateRequired">
      </common-date>
    </div>

    <div *ngIf="isCanadianFromProv" class="form-group col-sm-6 p-sm-2">
        <label for="healthNumber_{{objectId}}" class="control-label">
            Health Number from that province (optional)
        </label>
      <input name="healthNumber_{{objectId}}"
             type="text"
             class="form-control"
             [(ngModel)]="person.healthNumberFromOtherProvince"
             maxlength="15">
    </div>
  </div>

  <div *ngIf="requestAdditionalMoveInfo">
    <div class="form-group p-sm-2">
      <common-radio name="outsideOver30Days_{{objectId}}"
                    [(ngModel)]="person.declarationForOutsideOver30Days"  
                    label="Have {{relationship}} been outside B.C. for more than 30 days in total in the past 12 months?" 
                    required>
      </common-radio>
    </div>
    <div *ngIf="person.declarationForOutsideOver30Days" class="border-left">
       <div class="form-group col-sm-6">
          <label for="departureReason_{{objectId}}" class="control-label">
            Reason for departure
          </label>
          <input #reasonRef="ngModel"
                 name="departureReason_{{objectId}}"
                 type="text" 
                 class="form-control"
                 [(ngModel)]=person.departureReason
                 maxlength="20"
                 required>
        <common-error-container [displayError]="reasonRef.error?.required">
            Reason for departure is required.
        </common-error-container>
       </div>

       <div class="form-group col-sm-6">
          <label for="departureDestination_{{objectId}}" class="control-label">
            Location
          </label>
          <input #destinationRef="ngModel"
                 name="departureDestination_{{objectId}}"
                 type="text" 
                 class="form-control"
                 [(ngModel)]=person.departureDestination
                 maxlength="20"
                 required>
        <common-error-container [displayError]="destinationRef.error?.required">
          Location is required.
        </common-error-container>
       </div>

       <div class="form-group col-sm-6 p-sm-2">
        <common-date label="Departure date"
                     [restrictDate]="'past'" 
                     [(date)]="person.departureDate">
        </common-date>
      </div>

      <div class="form-group col-sm-6 p-sm-2">
          <common-date label="Return date"
                       [restrictDate]="'past'" 
                       [(date)]="person.returnDate">
          </common-date>

<!--TODO: Need to do checks to ensure return date is greater than departure date
and check departure was within last 12 months - need to find error messages for this-->
        </div>
    </div>

    <div class="form-group p-sm-2">
      <common-radio name="hasPreviousBCPhn_{{objectId}}"
                    [(ngModel)]="person.hasPreviousBCPhn"  
                    label="Do {{relationship}} have a previous B.C. Personal Health Number?" 
                    required>
      </common-radio>
    </div>

    <div *ngIf="person.hasPreviousBCPhn" class="form-group col-sm-6 border-left">
      <common-phn name="previousPhn_{{objectId}}"
                  label="{{isApplicant? 'Your' : 'Their'}} previous B.C. Personal Health Number (optional)"
                  [(ngModel)]="person.previous_phn"
                  commonValidatePhn>
      </common-phn>
    </div>

    <div *ngIf="!((isSpouse || isChild) && (isResidentFromProv || isResidentFromCountry || isCanadianNotBC))" 
         class="form-group p-sm-2">
      <common-radio name="armedForces_{{objectId}}"
                    [(ngModel)]="person.hasBeenReleasedFromArmedForces"  
                    label="Have {{relationship}} been released from the Canadian Armed Forces or an Institution?" 
                    required>
      </common-radio>
    </div>

    <div *ngIf="person.hasBeenReleasedFromArmedForces" class="form-group p-sm-2 border-left">
      <div class="form-group col-sm-6 p-sm-2">
        <common-date label="Discharge date"
                      [restrictDate]="'past'" 
                      [(date)]="person.dischargeDateSimple"
                      required>
        </common-date>
      </div>
    </div>
  </div>

  <div *ngIf="isApplicant && requestSchoolInfo">
    <div class="form-group p-sm-2">
      <common-radio name="fullTimeStudent_{{objectId}}"
                    [(ngModel)]="person.fullTimeStudent"  
                    label="Are you full-time student in B.C.?" 
                    required>
      </common-radio>
    </div>
  
    <div *ngIf="person.fullTimeStudent" class="form-group border-left">
        <div class="form-group p-sm-2">
          <common-radio name="inBCafterStudies_{{objectId}}"
                        [(ngModel)]="person.inBCafterStudies"  
                        label="Will {{relationship}} reside in B.C. upon completion of {{isApplicant? 'your' : 'their'}} studies?" 
                        required>
          </common-radio>
          <common-error-container [displayError]="person.inBCafterStudies == false">
              To qualify for provincial health care benefits a person must be a resident of 
              B.C.  As you intend to leave B.C. when your studies are completed, you are not 
              eligible for Medical Services Plan coverage.  Please contact the health care plan 
              in your home province for information about medical coverage while studying in B.C.
            </common-error-container>
        </div>
    </div>
  </div>
</common-page-section>

<div *ngIf="isOveragedChild">
  <h2>School Information</h2>
  <p class="border-bottom">
    Enter information of the school that this child is attending (must be in full-time attendance)
  </p>
  <common-page-section layout="tips">
    <div class="form-group col-sm-6">
      <label for="schoolName_{{objectId}}" class="control-label">
        Name of school
      </label>
      <input #schoolNameRef="ngModel"
              name="schoolName_{{objectId}}"
              type="text" 
              class="form-control"
              [(ngModel)]=person.schoolName
              maxlength="50"
              required>
      <common-error-container [displayError]="schoolNameRef.error?.required">
        Name of school is required.
      </common-error-container>
    </div>

    <div class="form-group col-sm-8">
      <div class="label">School Address</div> 
      <common-address [(address)]="person.schoolAddress"
                      [isRequired]="true"
                      [allowExtralines]='true'
                      [disableGeocoder]='true'>
      </common-address>
    </div>

    <div class="form-group col-sm-6 p-sm-2">
      <common-date label="Original departure date from B.C. (if school is outside B.C.)"
                    [(date)]="person.studiesDepartureSimple">
      </common-date>
    </div>    

    <div class="form-group col-sm-6 p-sm-2">
      <common-date label="Expected school completion date"
                    [(date)]="person.studiesFinishedSimple">
      </common-date>
    </div>  

    <div class="form-group p-sm-2">
      <common-radio name="inBCafterStudiesOA_{{objectId}}"
                    [(ngModel)]="person.inBCafterStudies"  
                    label="Will this child reside in B.C. after completing study in this school?" 
                    required>
      </common-radio>
      <common-error-container [displayError]="person.inBCafterStudies == false && !isTemporaryResident">
          To qualify for provincial health care benefits a person must be a resident of 
          B.C.  As you intend to leave B.C. when your studies are completed, you are not 
          eligible for Medical Services Plan coverage.  Please contact the health care plan 
          in your home province for information about medical coverage while studying in B.C.
        </common-error-container>
    </div>
  </common-page-section>
</div>

<ng-template #SelectCountry>
  <div *ngIf="isCanadianFromCountry || isResidentFromCountry" 
       class="form-group col-sm-6 p-sm-2">
    <common-country name="movedFromCountry_{{objectId}}"
                    label="Which country are {{relationship}} moving from?"
                    [countryList]="countryList"
                    [(ngModel)]="person.movedFromProvinceOrCountry"
                    required>
    </common-country>
  </div>
</ng-template>

<ng-template #NewToBC>
  <div class="form-group col-sm-6 p-sm-2">
    <common-date label="Most recent move to B.C."
                 [restrictDate]="'past'" 
                 [(date)]="person.arrivalToBCSimple">
    </common-date>
  </div>
</ng-template>
