<ng-content select="[sectionTitleInfo]"></ng-content>
<common-page-section layout="tips">
  <div *ngIf="requestLivedInBC" class="form-group p-sm-2">
    <common-radio name="livedInBCSinceBirth_{{objectId}}"
                  [(ngModel)]="person.livedInBCSinceBirth"  
                  label="Have {{relationship}} lived in B.C. since birth?" 
                  required>
    </common-radio>
  </div>
  <div *ngIf="isTemporaryResident" class="form-group col-sm-6 pl-0" >
    <common-country name="movedFromCountry_{{objectId}}"
                    label="Which country are {{relationship}} moving from?"
                    [countryList]="countryList"
                    [(ngModel)]="person.movedFromProvinceOrCountry"
                    required>
    </common-country>
  </div> 

  <div *ngIf="requestPermMoveInfo" class="form-group">
    <!--Temporary residents can continue whether or not they make the permanent move to BC-->
    <common-radio name="madePermanentMoveToBC_{{objectId}}"
                  [(ngModel)]="person.madePermanentMoveToBC"  
                  label="Have {{relationship}} moved to B.C. permanently?" 
                  required>
    </common-radio>
    <common-error-container 
      [displayError]="!canContinueProcess">
      You have indicated that a recent move to B.C. is not permanent.  As a result, this person
      is not eligible for enrolment in the Medical Services Plan.  Please contact
      <a href="{{links.HIBC}}" target="_blank">Health Insurance BC</a> for further 
      information.
    </common-error-container>
  </div>


  <!--Cannot continue if individual has not move to BC permanently, unless he/she is temporary resident-->
  <div *ngIf="canContinueProcess">
    <div *ngIf="requestProvinceMoveInfo; else SelectCountry"
        class="form-group col-sm-6 pl-0">
      <common-province name="movedFromProvince_{{objectId}}"
                      [provinceList]="provinceList"
                      [(ngModel)]="person.movedFromProvinceOrCountry"
                      label="Which province {{isLivingWithoutMSP ? 'did' : 'are'}} {{relationship}} moving from?"
                      required>
      </common-province>
    </div>

    <div *ngIf="requestArrivalInBCInfo; else NewToBC"
        class="form-group col-sm-6 pl-0">
        <common-date name="arrivalDateToBC__{{objectId}}"
                     label="Arrival date in B.C."
                     [restrictDate]="'past'" 
                     [(ngModel)]="person.arrivalToBCDate"
                     required>
        </common-date>
    </div>

    <div *ngIf="requestArrivalToCanada" class="form-group col-sm-6 pl-0">
      <common-date name="arrivalDateToCanada__{{objectId}}"
                   label="Arrival date in Canada{{!arrivalDateRequired ? ' (optional)' : ''}}"
                   [restrictDate]="'past'" 
                   [(ngModel)]="person.arrivalToCanadaDate"
                   [required]="arrivalDateRequired">
      </common-date>
    </div>

    <div *ngIf="requestProvHealthNumber" class="form-group col-sm-6 pl-0">
      <label for="healthNumber_{{objectId}}" class="control-label">
        Health Number from that province (optional)
      </label>
      <input name="healthNumber_{{objectId}}"
            type="text"
            class="form-control"
            [(ngModel)]="person.healthNumberFromOtherProvince"
            maxlength="50">
    </div>
    
    <div class="form-group">
      <common-radio name="outsideOver30Days_{{objectId}}"
                    [(ngModel)]="person.outsideBCFor30Days"  
                    label="Have {{relationship}} been outside B.C. for more than 30 days in total in the past 12 months?" 
                    required>
      </common-radio>
    </div>

    <div *ngIf="person.outsideBCFor30Days" class="ml-4 border-left">
       <div class="form-group col-sm-6">
          <label for="departureReason_{{objectId}}" class="control-label">
            Reason for departure
          </label>
          <input #reasonRef="ngModel"
                 name="departureReason_{{objectId}}"
                 type="text" 
                 class="form-control"
                 [(ngModel)]=person.departureReason
                 maxlength="20"
                 required>
        <common-error-container 
           [displayError]="(reasonRef.touched || reasonRef.dirty) && reasonRef.errors?.required">
            Reason for departure is required.
        </common-error-container>
       </div>

       <div class="form-group col-sm-6">
          <label for="departureDestination_{{objectId}}" class="control-label">
            Location
          </label>
          <input #destinationRef="ngModel"
                 name="departureDestination_{{objectId}}"
                 type="text" 
                 class="form-control"
                 [(ngModel)]=person.departureDestination
                 maxlength="20"
                 required>
        <common-error-container 
          [displayError]="(destinationRef.touched || destinationRef.dirty ) && destinationRef.errors?.required">
          Location is required.
        </common-error-container>
       </div>

       <div class="form-group col-sm-6">
        <common-date name="departureDate__{{objectId}}"
                     label="{{departureDateLabel}}"
                     [restrictDate]="'past'" 
                     [(ngModel)]="person.oopDepartureDate"
                     [errorMessages]="oopDepartureErrorMsg"
                     [dateRangeStart]="oopDepartureStartRange"
                     [dateRangeEnd]="today"
                     required>
        </common-date>
      </div>

      <div class="form-group col-sm-6">
          <common-date name="returnDate_{{objectId}}"
                       label="{{returnDateLabel}}"
                       [restrictDate]="'past'" 
                       [(ngModel)]="person.oopReturnDate"
                       [errorMessages]="oopReturnErrorMsg"
                       [dateRangeStart]="oopReturnStartRange"
                       [dateRangeEnd]="today"
                       required>
          </common-date>
        </div>
    </div>

    <div class="form-group">
      <common-radio name="hasPreviousBCPhn_{{objectId}}"
                    [(ngModel)]="person.hasPreviousBCPhn"  
                    label="Do {{relationship}} have a previous B.C. Personal Health Number?" 
                    required>
      </common-radio>
    </div>

    <div *ngIf="person.hasPreviousBCPhn" class="form-group col-sm-6 ml-4 border-left">
      <common-phn name="previousPhn_{{objectId}}"
                  label="{{isApplicant? 'Your' : 'Their'}} previous B.C. Personal Health Number (optional)"
                  [(ngModel)]="person.previousBCPhn"
                  commonValidatePhn
                  [allowEmptyValue]="true">
      </common-phn>
    </div>
    
    <div *ngIf="requestArmForceInfo" class="form-group">
      <common-radio name="armedForces_{{objectId}}"
                    [(ngModel)]="person.hasBeenReleasedFromArmedForces"  
                    label="Have {{relationship}} been released from the Canadian Armed Forces or an Institution?" 
                    required>
      </common-radio>
    </div>

    <div *ngIf="person.hasBeenReleasedFromArmedForces" class="form-group p-sm-2 ml-4 border-left">
      <div class="form-group col-sm-6">
        <common-date name="dischargeDate__{{objectId}}"
                     label="Discharge date"
                     [restrictDate]="'past'" 
                     [(ngModel)]="person.dischargeDate"
                     required>
        </common-date>
      </div>
    </div>
  </div>
  <ng-content select="[additionalQuestions]"></ng-content>
</common-page-section>

<ng-template #SelectCountry>
  <div *ngIf="requestCountryMoveInfo" 
       class="form-group col-sm-6 pl-0">
    <common-country name="movedFromCountry_{{objectId}}"
                    label="Which country are {{relationship}} moving from?"
                    [countryList]="countryList"
                    [(ngModel)]="person.movedFromProvinceOrCountry"
                    required>
    </common-country>
  </div>
</ng-template>

<ng-template #NewToBC>
  <div *ngIf="requestRecentMoveToBC" class="form-group col-sm-6 pl-0">
    <common-date name="recentMoveToBC__{{objectId}}"
                 label="Most recent move to B.C."
                 [restrictDate]="'past'" 
                 [(ngModel)]="person.arrivalToBCDate"
                 required>
    </common-date>
  </div>
</ng-template>
