<ng-content select="[sectionTitleInfo]"></ng-content>
<common-page-section layout="tips">
  <div *ngIf="isCanadianNotBC">
    <div class="form-group">
      <common-radio name="livedInBCSinceBirth_{{objectId}}"
                    [(ngModel)]="person.livedInBCSinceBirth"  
                    label="Have {{relationship}} lived in B.C. since birth?" 
                    required>
      </common-radio>
    </div>
  </div>

  <div *ngIf="requestPermMoveInfo">
    <div class="form-group">
      <common-radio name="madePermanentMoveToBC_{{objectId}}"
                    [(ngModel)]="person.madePermanentMoveToBC"  
                    label="Have {{relationship}} moved to B.C. permanently?" 
                    required>
      </common-radio>
      <common-error-container [displayError]="person.madePermanentMoveToBC == false">
        You have indicated that a recent move to B.C. is not permanent.  As a result, this person
        is not eligible for enrolment in the Medical Services Plan.  Please contact
        <a href="{{links.MSP_RESIDENT_CONTACT}}" target="_blank">Health Insurance BC</a> for further 
        information.
      </common-error-container>
    </div>

    <div *ngIf="isCanadianFromProv || isCanadianNotBC || isResidentFromProv; else SelectCountry"
         class="form-group col-sm-6 pl-0">
      <common-province name="movedFromProvince_{{objectId}}"
                       [provinceList]="provinceList"
                       [(ngModel)]="person.movedFromProvinceOrCountry"
                       label="Which province are {{relationship}} moving from?"
                       required>
      </common-province>
    </div>

    <div *ngIf="isCanadianFromProv || isCanadianFromCountry; else NewToBC"
         class="form-group col-sm-6 pl-0">
        <common-date label="Arrival date in B.C."
                     [restrictDate]="'past'" 
                     [(date)]="person.arrivalToBCSimple">
        </common-date>
    </div>

    <div class="form-group col-sm-6 pl-0">
      <common-date label="Arrival date in Canada{{!arrivalDateRequired ? ' (optional)' : ''}}"
                   [restrictDate]="'past'" 
                   [(date)]="person.arrivalToCanadaDate"
                   [required]="arrivalDateRequired">
      </common-date>
    </div>

    <div *ngIf="isCanadianFromProv" class="form-group col-sm-6 pl-0">
        <label for="healthNumber_{{objectId}}" class="control-label">
            Health Number from that province (optional)
        </label>
      <input name="healthNumber_{{objectId}}"
             type="text"
             class="form-control"
             [(ngModel)]="person.healthNumberFromOtherProvince"
             maxlength="15">
    </div>
  </div>

  <div *ngIf="requestAdditionalMoveInfo">
    <div class="form-group">
      <common-radio name="outsideOver30Days_{{objectId}}"
                    [(ngModel)]="person.declarationForOutsideOver30Days"  
                    label="Have {{relationship}} been outside B.C. for more than 30 days in total in the past 12 months?" 
                    required>
      </common-radio>
    </div>
    <div *ngIf="person.declarationForOutsideOver30Days" class="ml-4 border-left">
       <div class="form-group col-sm-6">
          <label for="departureReason_{{objectId}}" class="control-label">
            Reason for departure
          </label>
          <input #reasonRef="ngModel"
                 name="departureReason_{{objectId}}"
                 type="text" 
                 class="form-control"
                 [(ngModel)]=person.departureReason
                 maxlength="20"
                 required>
        <common-error-container [displayError]="reasonRef.error?.required">
            Reason for departure is required.
        </common-error-container>
       </div>

       <div class="form-group col-sm-6">
          <label for="departureDestination_{{objectId}}" class="control-label">
            Location
          </label>
          <input #destinationRef="ngModel"
                 name="departureDestination_{{objectId}}"
                 type="text" 
                 class="form-control"
                 [(ngModel)]=person.departureDestination
                 maxlength="20"
                 required>
        <common-error-container [displayError]="destinationRef.error?.required">
          Location is required.
        </common-error-container>
       </div>

       <div class="form-group col-sm-6">
        <common-date label="Departure date"
                     [restrictDate]="'past'" 
                     [(date)]="person.departureDate">
        </common-date>
      </div>

      <div class="form-group col-sm-6">
          <common-date label="Return date"
                       [restrictDate]="'past'" 
                       [(date)]="person.returnDate">
          </common-date>

<!--TODO: Need to do checks to ensure return date is greater than departure date
and check departure was within last 12 months - need to find error messages for this-->
        </div>
    </div>

    <div class="form-group">
      <common-radio name="hasPreviousBCPhn_{{objectId}}"
                    [(ngModel)]="person.hasPreviousBCPhn"  
                    label="Do {{relationship}} have a previous B.C. Personal Health Number?" 
                    required>
      </common-radio>
    </div>

    <div *ngIf="person.hasPreviousBCPhn" class="form-group col-sm-6 ml-4 border-left">
      <common-phn name="previousPhn_{{objectId}}"
                  label="{{isApplicant? 'Your' : 'Their'}} previous B.C. Personal Health Number (optional)"
                  [(ngModel)]="person.previous_phn"
                  commonValidatePhn
                  [allowEmptyValue]="true">
      </common-phn>
    </div>

    <div *ngIf="!((isSpouse || isChild) && (isResidentFromProv || isResidentFromCountry || isCanadianNotBC))" 
         class="form-group">
      <common-radio name="armedForces_{{objectId}}"
                    [(ngModel)]="person.hasBeenReleasedFromArmedForces"  
                    label="Have {{relationship}} been released from the Canadian Armed Forces or an Institution?" 
                    required>
      </common-radio>
    </div>

    <div *ngIf="person.hasBeenReleasedFromArmedForces" class="form-group p-sm-2 ml-4 border-left">
      <div class="form-group col-sm-6">
        <common-date label="Discharge date"
                      [restrictDate]="'past'" 
                      [(date)]="person.dischargeDateSimple"
                      required>
        </common-date>
      </div>
    </div>
  </div>
  <ng-content select="[additionalQuestions]"></ng-content>
</common-page-section>

<ng-template #SelectCountry>
  <div *ngIf="isCanadianFromCountry || isResidentFromCountry" 
       class="form-group col-sm-6 pl-0">
    <common-country name="movedFromCountry_{{objectId}}"
                    label="Which country are {{relationship}} moving from?"
                    [countryList]="countryList"
                    [(ngModel)]="person.movedFromProvinceOrCountry"
                    required>
    </common-country>
  </div>
</ng-template>

<ng-template #NewToBC>
  <div class="form-group col-sm-6 pl-0">
    <common-date label="Most recent move to B.C."
                 [restrictDate]="'past'" 
                 [(date)]="person.arrivalToBCSimple">
    </common-date>
  </div>
</ng-template>
