<form #formRef='ngForm' novalidate>
    <div class="form-group"
         [ngClass]="{'has-error': !formRef.controls.phn?.valid && phnRef.touched}">
        <label [class.optional]="!required" class="control-label" for="phn"
               [innerHTML]="phnLabel"></label>
        <input type="text"
               [(ngModel)]="phn"
               [(required)]="required"
               maxlength="13"
               minlength="10"
               id='phn' name='phn' #phnRef="ngModel"
               class="form-control">
        <div *ngIf='phnRef.touched'>
            <div class="text-danger" *ngIf="phnRef.errors?.required"
                 [innerHTML]="lang('./en/index.js').phnErrorRequired"></div>
            <div class="text-danger" *ngIf="phnRef.errors?.minlength"
                 [innerHTML]="lang('./en/index.js').phnErrorMinLength"></div>
        </div>
    </div>
</form>