<form #formRef="ngForm" novalidate>
    <div class="form-group"
         [ngClass]="{'has-error': !formRef.controls.phn?.valid && phnRef.touched}">
        <label class="control-label optional" for="phn"
               [innerHTML]="phnLabel"></label>
        <input type="text"
               [ngModel]="phn"
               (ngModelChange)="phn=$event;phnChange.emit($event)"
               minlength="10"
               maxlength="13"
               [(mod11Check)]="bcPhn"
               id='phn' name='phn' #phnRef="ngModel"
               class="form-control">
        <div *ngIf='phnRef.touched'>
            <div class="text-danger" *ngIf="phnRef.errors?.required"
                 [innerHTML]="lang('./en/index.js').phnErrorRequired"></div>
            <div class="text-danger" *ngIf="phnRef.errors?.minlength"
                 [innerHTML]="lang('./en/index.js').phnErrorMinLength"></div>
            <div class="text-danger" *ngIf="!phnRef.errors?.required && !phnRef.errors?.minlength && phnRef.errors?.mod11Check"
                 [innerHTML]="lang('./en/index.js').phnErrorMod11Check"></div>
        </div>
    </div>
</form>
