<form #formRef="ngForm" novalidate>
    <div class="row">
        <div class="col-md-8">
            <msp-name [person]="person"></msp-name>
        </div>
        <div class="col-md-4">
            <msp-birthdate [person]="person"></msp-birthdate>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <msp-phn [bcPhn]="true"></msp-phn>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group"
                         [ngClass]="{'has-error': !formRef.controls.sin?.valid && sinRef.touched}">
                        <label class="control-label" for="sin"
                               [innerHTML]="lang('./en/index.js').sinLabel"></label>
                        <input type="text"
                               [(ngModel)]="person.sin"
                               required
                               pattern="\d{3}\s?\d{3}\s?\d{3}"
                               id='sin' name='sin' #sinRef="ngModel"
                               class="form-control"
                               placeholder="046 454 286">
                        <div *ngIf='sinRef.touched'>
                            <div class="text-danger" *ngIf="sinRef.errors?.required"
                                 [innerHTML]="lang('./en/index.js').sinErrorRequired"></div>
                            <div class="text-danger" *ngIf="sinRef.errors?.pattern"
                                 [innerHTML]="lang('./en/index.js').sinErrorPattern"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>