<ng-content select="[sectionTitleInfo]"></ng-content>


    <!--<div class="row">
        <div [ngClass]="person.relationship === 0 ? 'col-sm-12' :'col-sm-9'"  *ngIf="!embedded">
            <h2 [innerHTML]="lang('./en/index.js').sectionTitle[person.relationship]"></h2>
            <ng-container  *ngIf="person.relationship === 0 || person.relationship === 1">
                <h4 [innerHTML]="mspAccountApp.accountChangeOptions.personInfoUpdate ? lang('./en/index.js').sectionSubTitleforPI[person.relationship] : lang('./en/index.js').sectionSubTitleNoPI[person.relationship]"></h4>
            </ng-container>
        </div>
        <div class="col-sm-3" *ngIf="!embedded">
            <div *ngIf="person.relationship !== 0" style="margin-top: 18px">
                <div *ngIf="person.relationship === 1">
                <common-button [label]="Remove" [buttonType]="buttonClass" (btnClick)='removeSpouse()'></common-button>

                </div>
                <div *ngIf="person.relationship === 4">
                    <common-button [label]="Remove" [buttonType]="buttonClass" (btnClick)='removeChild()'></common-button>
                </div>
            </div>
        </div>
    </div> -->

  <!-- Full Name  -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <msp-full-name [useRows]='false' 
                    [data]="person" 
                    (dataChange)="onChange.emit($event);">
                </msp-full-name>
            </div>
        </div>
    </div>

    <!-- PHN  -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <common-phn
                        #phnRef="ngModel"
                        name="phn"
                        [(ngModel)]="person.previous_phn"
                        required></common-phn>
               <!-- <div class="text-danger" *ngIf="!isPhnUnique()"
                      [innerHTML]="lang('./en/index.js').phnUniqueError">
                </div> -->
            </div>
        </div>
    </div>
      

    <!-- BirthDate  -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <common-date
                    name="birthdate"
                    id="birthdate"
                    label="Date of Birth"
                    [(ngModel)]="person.dateOfBirth"
                    [restrictDate]="'past'"
                    required>
                </common-date>
            </div>
        </div>
    </div>
      
      

    <div class="row">
        <div class="col-md-4">

                <common-radio [value]="person.gender" 
                    label='Gender' 
                    [radioLabels]='[{"label": "Male", "value": "M"},{ "label": "Female", "value": "F"}]' 
                    (valueChange)="setGender($event)">
                </common-radio> 
        </div>
    </div>
<!--    <div class="row" *ngIf="person.relationship === 0">
        <div class="col-md-4">

            <common-phone-number [label]="'Mobile/SMS'" [phoneNumber] = "person.phoneNumber" 
                (onChange)= "handlePhoneNumberChange($event)">
            </common-phone-number>

        </div>
    </div>
   <div class="row" *ngIf="person.relationship === 0">

        <div class="col-md-12">

            <h2 [innerHTML]="lang('./en/index.js').residentialAddressTitle"></h2>
            <h4 [innerHTML]="mspAccountApp.accountChangeOptions.personInfoUpdate ? lang('./en/index.js').residentialAddressSubTitleForPI:lang('./en/index.js').residentialAddressSubTitleNoPI"></h4>

           <!-- <common-address *ngIf="person.relationship === 0"
                         [(address)]="person.residentialAddress"
                         (addressChange)="handleAddressUpdate($event)"
                         [defaultProvince]="defaultProvince"
                         [defaultCountry]="defaultCountry"
                         [isRequired]="true">

            </common-address> 

            <common-address *ngIf="person.relationship === 0"
                  [address]="person?.residentialAddress"
                  (addressChange)="handleAddressUpdate($event)"
                  [defaultCountry]="defaultCountry"
                  [defaultProvince]="defaultProvince"
                  [isRequired]="true">
            </common-address> -->


      <!--    <msp-address #address *ngIf="person.relationship === 0" [showError]="showError && showErrorAddress"
                         [residentialAddress]="person.residentialAddress"
                         [mailingAddress]="person.mailingAddress"
                         [mailingSameAsResidentialAddress]="person.mailingSameAsResidentialAddress"
                         (mailingSameAsResidentialAddressChange)="toggleMailingSameAsResidentialAddress($event)"
                         (onChange)="handleAddressUpdate($event)">

            </msp-address> 
        </div>
    </div> -->

<!--    <msp-status-in-canada-radio (onChange)="onChange.emit($event)" 
        [showError]="showError"
        *ngIf="mspAccountApp.accountChangeOptions.statusUpdate&&!embedded"
        [person]='person'>
    </msp-status-in-canada-radio> -->


<!--
<hr class="strong-hr" *ngIf="!embedded">
-->
<!-- switch *ngIf value to true for debugging-->
<div class="row" *ngIf='false'>
    <div class="col-lg-12">
        <ul>
            <li *ngFor='let log of changeLog'>
                {{log | json}}
            </li>
        </ul>
    </div>

    <div class="col-lg-12">
        <p>Person Data Model</p>
        {{this.person| json}}
        <p>firstname</p>
        <!--{{ formRef.controls.firstname | json}}-->
    </div>
</div>
