
<label for="text_{{objectId}}">{{label}}</label>

	<div class="col-md-4 input-group">
		<div class="input-group-prepend">
			<span class="input-group-text">$</span>
		</div> 
		<input type="text" class="form-control" name="income{{objectId}}"
			[(ngModel)]="data"
			#incomeRef="ngModel" 
			pattern="{{pattern}}"
			required="required" 
			maxlength="{{maxLen}}"
      id="income{{objectId}}"
      (ngModelChange)="setIncomeVal($event)">
  </div>
  <div *ngIf="(incomeRef?.touched || incomeRef?.dirty || (!!incomeRef?.value && incomeRef?.value.trim().length>0))">

      <div class="text-danger" *ngIf="incomeRef.errors?.required"
                    tabindex="0">{{errMsg.required}}</div>
      <div class="text-danger" *ngIf="incomeRef.errors?.pattern"
                    tabindex="0">{{errMsg.invalid}}</div>
      <div class="text-danger" *ngIf="incomeRef.errors?.maxlength"
                    tabindex="0">{{errMsg.minLength}}</div>
      
  </div>

	