<form #formRef='ngForm' novalidate>
    <div class="form-group"
         [ngClass]="{'has-error': !formRef.controls.phone?.valid && phoneRef.touched}">
        <label class="control-label optional" for="phone"
               [innerHTML]="getLabel()"></label>
        <input type="text" class="form-control"
               [ngModel]="phoneNumber"
               (ngModelChange)="phoneNumber=$event;phoneNumberChange.emit($event)"
               id='phone' name='phone' #phoneRef="ngModel"
               maxlength="12"
               pattern="\d{3}[\-]?\d{3}[\-]?\d{4}">
        <div *ngIf='phoneRef.touched'>
            <div class="text-danger" *ngIf="phoneRef.errors?.pattern"
                 [innerHtml]="lang('./en/index.js').phoneErrorPattern"></div>
        </div>
    </div>
</form>