<form #formRef="ngForm" novalidate>
  <div class="row">
     <!-- Remove Spouse and Child Button -->
        
    <div class="col-lg-12" *ngIf="!embedded">
                    
        <div *ngIf="person.relationship !== 0" style="margin-top: 18px">
            <div *ngIf="person.relationship === 1">
            <i class="fa fa-times mr-3 mb-3 pointer float-right text-danger" aria-hidden="true" (click)="removeSpouse()"></i>
            </div>
        </div>
    </div>

    <div class="col-md-6"  style="margin-left: 15px">
        <msp-full-name [data]="person" (dataChange)="onChange.emit($event)"></msp-full-name>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-4">
        
      <!-- <common-date [label]="dateLabel" [restrictDate]="'past'"
        [(date)]="person.dateOfBirth" (dateChange)= "onChange.emit($event)"></common-date> -->
      <msp-birthdate #birthdate
                    [person]="person"
                    (onChange)="onChange.emit($event)">
      </msp-birthdate>

      <!-- KPS Removed ngif to expose birthdate for spouse
      <msp-birthdate #birthdate
                    [person]="person"
      *ngIf="!person.relationship"
      (onChange)="onChange.emit($event)">
      </msp-birthdate>-->
    </div>
  </div>
  <div class="row">
      <div class="col-md-4">
          <div class="form-group">
            <common-phn #phn
                    name="phn"
                    [ngModel]="person.previous_phn"
                    (ngModelChange)="person.previous_phn = $event; onChange.emit($event)"
                    required></common-phn>
          </div>
        </div>
  </div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group"
            [ngClass]="{'has-error': !formRef.controls.sin?.valid && sinRef.touched}">
          <label class="control-label" for="sin"
                [innerHTML]="lang('./en/index.js').sinLabel"></label>
          <input type="text"
                [(ngModel)]="person.sin"
                sinCheck
                required
                pattern="[1-9]{1}\d{2}\s?\d{3}\s?\d{3}"
                id='sin' name='sin'
                #sinRef="ngModel"
                class="form-control"
                placeholder="046 454 286">
          <div *ngIf='sinRef.touched'>
            <div class="text-danger" *ngIf="sinRef.errors?.required"
                [innerHTML]="lang('./en/index.js').sinErrorRequired"></div>
            <div class="text-danger" *ngIf="sinRef.errors?.pattern"
                [innerHTML]="lang('./en/index.js').sinErrorPattern"></div>
            <div class="text-danger" *ngIf="!sinRef.errors?.pattern && sinRef.errors?.sinCheck"
                [innerHTML]="lang('./en/index.js').sinCheckErrorPattern"></div>
          </div>
          <div class="text-danger" *ngIf="!isSinUnique()"
              [innerHTML]="lang('./en/index.js').sinUniqueError"></div>
        </div>
    </div>
  </div>
  <div class="row" style="margin-left: 5px">
       <common-file-uploader 
                          [images]="person.assistYearDocs"
                          (imagesChange)="deleteDocument($event)"
                          [id]='benefitApp.id'
                          (errorDocument)="errorDoc($event)" instructionText="Please upload Notice of Assessment documents for {{benefitApp.taxYear}}">
        </common-file-uploader>
        <msp-image-error-modal #mspImageErrorModal></msp-image-error-modal>
    
   </div>



<!--  <msp-benefit-documents [application]="benefitApp"></msp-benefit-documents> -->
 
</form>