
<form #formRef="ngForm" novalidate >
  <h1 [innerHtml]="lang('./en/index.js').pageTitle"></h1>


<h2 [innerHtml]="lang('./en/index.js').agreementLabel"></h2>
  <p [innerHtml]="lang('./en/index.js').agreement">
  </p>
  
  <div class="strong" [innerHTML]="questionApplicant"></div>
  <div class="form-check form-check-inline mb-5">
      <common-checkbox [label]="lang('./en/index.js').agreeLabel" (dataChange)="applicantAuthorizeOnChange($event)" [data]="application.authorizedByApplicant"></common-checkbox>
       
      <!--<input class="input-lg form-check-input" id="firstPersonAuthorize" name="firstPersonAuthorize"
            type="checkbox" [ngModel]="application.authorizedByApplicant"
            (ngModelChange)="applicantAuthorizeOnChange($event)">
      <label class="form-check-label" for="firstPersonAuthorize" [innerHTML]="lang('./en/index.js').agreeLabel"></label> -->
  </div>

  <div *ngIf="application.spouse != null">
      <div class="strong" [innerHTML]="questionSpouse"></div>
      <div class="form-check form-check-inline">
          <common-checkbox [label]="lang('./en/index.js').agreeLabel" (dataChange)="spouseAuthorizeOnChange($event)" [data]="application.authorizedBySpouse"></common-checkbox>
      
          <!-- <input class="input-lg form-check-input" id="secondPersonAuthorize" type="checkbox" name="secondPersonAuthorize"
                [ngModel]="application.authorizedBySpouse" (ngModelChange)="spouseAuthorizeOnChange($event)">
          <label class="form-check-label" for="secondPersonAuthorize" [innerHTML]="lang('./en/index.js').agreeLabel"></label>-->
      </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
        <common-captcha [apiBaseUrl]="captchaApiBaseUrl" [nonce]="application.uuid"
        (onValidToken)="application.authorizationToken = $event"></common-captcha>
        <!--
      <captcha [apiBaseUrl]="captchaApiBaseUrl" [nonce]="application.uuid"
              (onValidToken)="application.authorizationToken = $event"></captcha> -->
    </div>
  </div>
  <div class="row" *ngIf="form.submitted && !application.hasValidAuthToken">
      <div class="col-lg-6">
        <div class="text-danger" 
             [innerHtml]="lang('./en/index.js').tryAgainWithCaptcha"></div>        
      </div>
  </div>
  <hr>

  <common-form-action-bar [submitLabel]="lang('./en/index.js').submitButton"
        [canContinue]="!(!application.authorizedByApplicant || (application.spouse && !application.authorizedBySpouse)
        || !application.hasValidAuthToken)"
        (btnClick)="handleFormSubmission($event)">
  </common-form-action-bar>
</form>