<common-page-framework layout="single">
  <form #formRef="ngForm" novalidate >
    <h1>Authorize and submit your application</h1>
    <p>
      I have received information about Medical Service Plan and agree to abide by its terms and 
      conditions. I understand the information I have given is collected under the 
      authority of the <i>Medicare Protection Act</i> and may be used to assess eligibility 
      for other Ministry of Health programs, and that practitioners who provide 
      service(s) under Medical Services Plan are required under the <i>Medicare Protection Act</i> to release 
      information relative to those services to Medical Services Plan to support claims for benefits. 
    </p>
    <p>
      I declare that all information provided is true and I understand that 
      the Ministry of Health and/or Health Insurance BC may verify this information with 
      immigration authorities, law enforcement authorities and other public authorities, 
      agencies and persons, as appropriate.<br/><br/>I agree to keep my address up to date 
      with Health Insurance BC, notifying them of any changes within 10 days of moving. 
      I declare that all persons listed are residents of British Columbia. Resident means 
      a person who is a citizen of Canada or is lawfully admitted to Canada for permanent 
      residence, who makes his or her home in British Columbia, and is physically present 
      in British Columbia for at least six months in a calendar year, or a shorter 
      prescribed period, and includes a person who is deemed under the regulations to 
      be a resident, but does not include a tourist or visitor to British Columbia.
    </p>
  
    <div class="strong">
        {{questionApplicant}}
    </div>
    <div class="form-check form-check-inline m-sm-2">
      <common-checkbox name="applicantAuthorization"
                       label="{{label}}" 
                       (ngModelChange)="applicantAuthorizeOnChange($event)" 
                       [ngModel]="mspApplication.authorizedByApplicant"
                       [required]="true">
      </common-checkbox>
    </div>

    <div *ngIf="hasSpouse">
      <div class="strong">{{questionSpouse}}</div>
      <div class="form-check form-check-inline p-sm-2">
          <common-checkbox name="spouseAuthorization"
                           label="{{label}}" 
                           [(ngModel)]="mspApplication.authorizedBySpouse"
                           [required]="true">
          </common-checkbox>
      </div>
    </div>

    <div class="mt-2">
      <common-captcha name="captcha"
                      ngModel
                      [apiBaseUrl]="captchaApiBaseUrl" 
                      [nonce]="mspApplication.uuid"
                      (onValidToken)="mspApplication.authorizationToken=$event"
                      required>
      </common-captcha>
    </div>

  </form>
</common-page-framework>
<common-form-action-bar submitLabel="Submit Application"
                        widthOption='extra-width-mobile-only' 
                        (btnClick)="continue()">
</common-form-action-bar>