<div role="alert" aria-live="assertive">
    <h2 [innerHTML]="lang('./en/index.js').pageTitle"></h2>
    <h2 [innerHTML]="lang('./en/index.js').secondTitle"></h2>
</div>

<h3> <b>{{lang('./en/index.js').referenceNumber}} </b> {{lang('./en/index.js').referenceText}}  <b> {{confirmationNum? confirmationNum : 'N/A'}}.</b></h3>
<h3 [innerHTML]="lang('./en/index.js').nextStep1"></h3>
<h3 [innerHTML]="lang('./en/index.js').nextStep2"></h3>
<h3 [innerHTML]="lang('./en/index.js').nextStep3"></h3>
       
<ul class="steps">
    <li>
        <h3 [innerHTML]="lang('./en/index.js').nextStep4"></h3>
    </li>  
    <li>
        <h3 [innerHTML]="lang('./en/index.js').nextStep5"></h3>
    </li>  
</ul> 
<div class="row col-md-6" >
    <h3 [innerHTML]="lang('./en/index.js').nextStep6"></h3>
</div>

