<ng-content select="[sectionTitleInfo]"></ng-content>
<div class="d-flex flex-row align-items-stretch">
  <div class="form-group col-sm-4 pl-0">
    <common-dropdown name="DocumentType_{{objectId}}"
                     label="Document Type"
                     [items]="availableSupportDocuments"
                     placeholder="Please Select"
                     [clearable]="false"
                     [(ngModel)]="documentType"
                     required>
    </common-dropdown>
  </div>
  <div *ngIf="displayButton" class="form-group col-sm-6 display--button">
    <common-button label="Add"
                   buttonType="primary"
                   (btnClick)="addDocument()"
                   [disabled]="!btnEnabled"
                   id="addDoc_{{objectId}}">
    </common-button>
  </div>
</div>

<div *ngIf="(!btnEnabled || btnEnabled && !displayButton) && hasDocumentType">
  <h2 class="border-bottom">{{documentType}}
    <common-xicon-button *ngIf="displayButton" label="Remove document" (click)="removeDocument()">
    </common-xicon-button>
  </h2>
  <common-page-section layout="tips">
    <common-file-uploader [(images)]="documents"
                          id="docUploader_{{objectId}}"
                          [required]="true"
                          instructionText="{{uploadInstructions}}">
    </common-file-uploader>
    <ng-content select="[requestAdditionInfo]"></ng-content>
    <aside>
      <div>Tip</div>
      <div *ngIf="hasSampleDoc">
        <a role="button"
            aria-haspopup="true"
            href="javascript:void(0)"
            (click)="docSample.openModal()">{{documentType}} samples</a>

        <common-sample-modal #docSample
            [title]="documentType"
            [images]="docSampleImages">
        </common-sample-modal>
      </div>
      <div>
        Scan the document, or take a photo of it.
      </div>
      <div>
        Make sure that it’s:
      </div>
      <ul>
        <li>
          The entire document, from corner to corner
        </li>
        <li>
          Rotated correctly (not upside down or sideways)
        </li>
        <li>
          In focus and easy to read
        </li>
        <li>
          A JPG, PNG, GIF, BMP or PDF file
        </li>
      </ul>
    </aside>
  </common-page-section>
</div>
