<h1 [innerHTML]="lang('./en/index.js').pageTitle"></h1>
<p class="help-block" [innerHTML]="lang('./en/index.js').helpBlock"></p>
<msp-address [residentialAddress]="mspApplication.residentialAddress"
             [mailingAddress]="mspApplication.mailingAddress"
             [mailingSameAsResidentialAddress]="mspApplication.mailingSameAsResidentialAddress"></msp-address>
<div class="row">
    <div class="form-group col-sm-5">
        <msp-phone [phoneNumber]="mspApplication.phoneNumber"></msp-phone>
    </div>
</div>
<div class="row">
    <div class="col-xs-2 col-xs-offset-9">
        <button class="btn btn-primary" type="submit" routerLink="/msp/application/review"
            [innerHTML]="lang('./en/index.js').continueButton"></button>
    </div>
</div>