<form #formRef="ngForm" novalidate (submit)="continue()">
    <h1 [innerHTML]="lang('./en/index.js').pageTitle"></h1>
    <p class="help-block" [innerHTML]="lang('./en/index.js').helpBlock"></p>
    <msp-address #address
                 [residentialAddress]="mspApplication.residentialAddress"
                 [mailingAddress]="mspApplication.mailingAddress"
                 [mailingSameAsResidentialAddress]="mspApplication.mailingSameAsResidentialAddress"
                 (mailingSameAsResidentialAddressChange)="toggleMailingSameAsResidentialAddress($event)"
                 (onChange)="handleAddressUpdate($event)">
    </msp-address>
    <div class="row">
        <div class="form-group col-sm-5">
            <msp-phone #phone
                       [phoneNumber]="mspApplication.phoneNumber"
                       (phoneNumberChange)="handlePhoneNumberChange($event)"></msp-phone>
        </div>
    </div>
    <hr>
    <button
            class="btn btn-primary" type="submit"
            [innerHTML]="lang('./en/index.js').continueButton"
            [disabled]="!canContinue()">
    </button>
</form>


<msp-cancel></msp-cancel>