<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="<%= (typeof htmlWebpackPlugin.options.rootUrlPath === 'undefined')?'.':htmlWebpackPlugin.options.rootUrlPath %>">
    <title ncy-breadcrumb-last="{{ncyBreadcrumbLabel}}"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script type="text/javascript">
        unippear({})
    </script>
</head>
<body>
    <!--[if lt IE 9]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <core-header></core-header>
    <my-app>Loading...</my-app>
    <core-footer></core-footer>
</body>
</html>
