<h1 [innerHTML]="lang('./en/index.js').pageTitle"></h1>
<p class="help-block" [innerHTML]="lang('./en/index.js').helpBlock"></p>

<h2 [innerHTML]="lang('./en/index.js').applicantInfo"></h2>
<msp-assistance-personal-details [person]="financialAssistApplication.applicant"></msp-assistance-personal-details>

<h2 *ngIf="financialAssistApplication.hasSpouseOrCommonLaw" [innerHTML]="lang('./en/index.js').spouseInfo"></h2>
<msp-assistance-personal-details *ngIf="financialAssistApplication.hasSpouseOrCommonLaw"
                                 [person]="financialAssistApplication.spouse"></msp-assistance-personal-details>

<h2 [innerHTML]="lang('./en/index.js').contactInfo"></h2>
<a href="#contact-anchor"></a>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-sm-4">
                <msp-phone [phoneNumber]="financialAssistApplication.phoneNumber"></msp-phone>
            </div>
            <div class="col-sm-4">
                <msp-phone [phoneNumber]="financialAssistApplication.alternativePhoneNumber" [alternative]="true"></msp-phone>
            </div>
        </div>
    </div>
</div>
<msp-address [mailingAddress]="financialAssistApplication.mailingAddress"
             [mailingOnly]="true"></msp-address>

<div class="row">
    <div class="col-xs-2 col-xs-offset-9">
        <button class="btn btn-primary" type="submit" routerLink="/msp/assistance/review"
                [innerHTML]="lang('./en/index.js').continueButton"></button>
    </div>
</div>