<form #formRef="ngForm" novalidate>
    <common-page-framework layout="blank" >
  <h1>Tell us about your Dependants and upload official documents</h1>
 
  <div class="col-sm-4">
    <common-button [label]="'Add Child'" 
      [buttonType]="'btn btn-primary'" (btnClick)='addChild(Relationship.ChildUnder19)'>
    </common-button>
  </div>

  <!-- TODO: Fix once the personal info page is complete as spouse & child use same component
  <div *ngIf = 'children.length > 0'>
      <msp-personal-details *ngFor = "let child of children; let idx = index"
        [person] = 'child'
        [id] = 'child.id'
        (notifyChildRemoval)="removeChild($event,idx)"
        (onChange) = "onChange($event)"
        [showError] = "formRef.submitted">
      </msp-personal-details>
    </div>
  -->
  </common-page-framework>

  <common-form-action-bar [submitLabel]="children.length > 0? 'Continue':'No Child'"
    [canContinue]="!(!documentsReady() || checkAnyDependentsIneligible() || !isAllValid())" 
    (btnClick)="nextStep()">
  </common-form-action-bar>
 

</form>
