<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Are you planning to stay in BC for the next 6 months or longer?</h2>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Yes
            </label>
          </div>        
          <div class="checkbox">
            <label>
              <input type="checkbox"> No
            </label>
          </div>     

        <h2>Are you currently in military service or a member of RCMP?</h2>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Yes
            </label>
          </div>        
          <div class="checkbox">
            <label>
              <input type="checkbox"> No
            </label>
          </div>     
             
      </div>
    </div>
  </div>
</div>