<form #formRef="ngForm" novalidate>

      <!-- Remove Spouse and Child Button, (Red cross) -->
    <div *ngIf="removeable">
        <div *ngIf="person.relationship !== 0">
            <div  *ngIf="person.relationship === 1">
                <h2>Your spouse or common-law partner</h2>
                Enter your spouse’s legal name as it appears on their BC Services Card.
                
                <common-xicon-button label='Remove Spouse' (click)="removeSpouse()"></common-xicon-button>
                <hr>    
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                    <msp-full-name [useRows]='false' [data]="person" (dataChange)="onChange.emit($event);"></msp-full-name>
            </div>
        </div>
    </div>

    <!-- BirthDate  -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <msp-birthdate #birthdate
                        [person]="person"
                        (onChange)="onChange.emit($event)">
            </msp-birthdate>
        </div>
      </div>
    </div>

    <!-- PHN  -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
              <common-phn
                      #phnRef="ngModel"
                      name="phn"
                      [(ngModel)]="person.previous_phn"
                      required
                      commonValidatePhn></common-phn>
              <div class="text-danger" *ngIf="!isPhnUnique()"
                [innerHTML]="lang('./en/index.js').phnUniqueError">
              </div>
            </div>
        </div>
    </div>

    <!-- SIN -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <common-sin
                    [(ngModel)]="person.sin"
                    name="sin"
                    id="sin"
                    required
                    commonValidateSin>
                </common-sin>
                <div class="text-danger" *ngIf="!isSinUnique()"
                    [innerHTML]="lang('./en/index.js').sinUniqueError">
                </div>
            </div>
        </div>
    </div>

    <!-- Doc Uploader   -->
    
    <h2>Documents</h2>
    <p class="help-block border-bottom"> Upload {{docText}} Canada Revenue Agency Notice of Assessment or Reassessment for <b>{{benefitApp.taxYear}}</b></p>
    <div class="row">        
        <div class="col-8" style="margin-bottom: 15px;">      
            <common-file-uploader 
                [images]="person.assistYearDocs"
                (imagesChange)="addDocument($event)"
                [id]='benefitApp.id'
                (errorDocument)="errorDoc($event)" 
                instructionText="Click add, or drag and drop file into this box">
            </common-file-uploader>
        </div>
        <!-- TIP -->
        <div  style="background-color : #f2f2f2; height: 240px; width: 396px;">
            <br>
            <aside>
                <div class="row" style="margin-bottom:15px">
                        &nbsp;&nbsp;&nbsp; <div class="col-2">
                       <i class="fa fa-exclamation-triangle" style="font-size: 35px;"></i>
                    </div>
                    <div class="col-8">
                        <p>
                                If you are uploading a copy of a Notice of Assessment or Reassessment from the Canada Revenue Agency website, make sure the image contains:
                        </p>
                        <ul>
                            <li>
                                    Your name
                            </li>
                            <li>
                                    The tax year
                            </li>
                            <li>
                                    Your net income (line 236)
                            </li>
                           
                            <li> 
                                If you have a Registered Disability Savings Plan (line 125)
                            </li>
                            </ul>
                        
                           
                       
                    </div>
                </div>
            </aside> 
        </div>  
    </div> 
        <common-image-error-modal #mspImageErrorModal></common-image-error-modal>
  </form>