<msp-consent-modal #mspConsentModal 
                   (onClose)="liveInBCBtn.focus()"
                   [consentProcessName]="'MSP'" 
                   (accept)="acceptAgreement($event)">
</msp-consent-modal>

<common-page-framework layout="blank">

    <h1>Apply for Medical Services Plan</h1>

    <p class="pb-2 border-bottom">  
        If you already have Medical Services Plan (MSP) coverage and received a letter notifying you to renew your BC Services Card, you do not have to submit a new Application for MSP Enrolment; you only need to renew your BC Services Card. Follow the instructions on the letter to renew your card.</p>
    <common-page-section layout='noTips'>
        <form #formRef='ngForm' novalidate>

            <common-radio #liveInBCBtn
                          name="LiveInBC"
                          [(ngModel)]="liveInBC"  
                          label="Do you currently live in British Columbia (i.e. Do you have an address here)?" 
                          required>
            </common-radio> 

            <div [hidden]="liveInBC !== true" role="dialog" aria-labelledby="q2">
            
                <common-radio name="PlannedAbsence"
                              [(ngModel)]="plannedAbsence"  
                              label="Will you or anyone included on this application be away from B.C. for more than 30 days in total over the next six months?" 
                              required>
                </common-radio>

                <p class="text-danger" 
                   *ngIf="plannedAbsence === true"
                   role="alert" 
                   aria-live="assertive">
                    You might not qualify for public health insurance if you leave the province for more than 30 
                    days in total during the first six months after you apply - doing this could mean you are no 
                    longer considered a B.C. resident. Find out more by contacting 
                    <a href="{{links.HIBC}}" target="_blank">Health Insurance BC</a>.
                </p>
            </div>

            <div [hidden]= "plannedAbsence !== false || !liveInBC" 
                 role="dialog" 
                 aria-labelledby="q3"> 

                <common-radio name="UnusualCircumstance"
                              [(ngModel)]="unUsualCircumstance"
                              required>
                    Is anyone you're applying for<br>
                    <ul class="mb-0">
                        <li>A student returning to your home province at the end of a course or program; or</li>
                        <li>A minor (under the age of 16) who needs to have their own individual account; or</li>
                        <li>Seeking refugee status and is not approved yet</li>
                    </ul>
                </common-radio>      
                
                <div class="text-danger" 
                   *ngIf="unUsualCircumstance === true"
                   role="alert"
                   aria-live="assertive">
                    You can submit an application with some assistance from one of our representatives - please contact
                    Health Insurance BC:
                    <ul>
                        <li>(604) 683-7151 (Lower Mainland)</li>
                        <li>1-800-663-7100 (Elsewhere in B.C.)</li>
                    </ul>
                </div>

            </div>

            <p class="text-danger" 
               *ngIf="liveInBC == false"
               role="alert" aria-live="assertive">
                You might not qualify for public health insurance if you do not live in B.C. Contact
                 <a href="{{links.HIBC}}" target="_blank">Health Insurance BC</a> for more information.
            </p>
        </form>

    </common-page-section>
</common-page-framework>

<common-form-action-bar (btnClick)="continue()"
                        widthOption='extra-width-mobile-only'
                        submitLabel='Apply'>
</common-form-action-bar>
