<h2>{{lang('./en/index.js').cardTitle}} <i class="fa fa-pencil edit--icon float-right" aria-hidden="true" (click)="editPersonalInfo()"></i></h2>
<div class="card">
  <div class="card-body">
    <msp-address-card-part [address]="residentialAddress"
                           [label]="lang('./en/index.js').residentialAddressLabel"></msp-address-card-part>
    <msp-address-card-part [address]="mailingAddress"
                           [label]="lang('./en/index.js').mailingAddressLabel"></msp-address-card-part>
    <div class="row" *ngIf="phone">
      <div class="col-sm-4">
        {{lang('./en/index.js').phoneLabel}}
      </div>
      <div class="col-sm-8">
        <strong>{{phone}}</strong>
      </div>
      <div class="col-sm-8" *ngIf="altPhone">
        <strong>{{altPhone}}</strong>
      </div>
    </div>

    <!--<button *ngIf="editRouterLink" class="btn btn-link text-uppercase" type="submit" [routerLink]="editRouterLink"
      [innerHTML]="lang('./en/index.js').editButton">
    </button> -->
  </div>
</div>
