<h2 [innerHtml]="lang('./en/index.js').cardTitle"></h2>
<div class="panel panel-default">
  <div class="panel-body">
    <msp-address-card-part [address]="residentialAddress"
                           [label]="lang('./en/index.js').residentialAddressLabel"></msp-address-card-part>
    <msp-address-card-part [address]="mailingAddress"
                           [label]="lang('./en/index.js').mailingAddressLabel"></msp-address-card-part>
    <div class="row" *ngIf="phone">
      <div class="col-xs-4">
        {{lang('./en/index.js').phoneLabel}}
      </div>
      <div class="col-xs-8">
        <strong>{{phone}}</strong>
      </div>
      <div class="col-xs-8" *ngIf="altPhone">
        <strong>{{altPhone}}</strong>
      </div>
    </div>
    <div *ngFor="let person of outsideBCPersons">
      <div class="row">
        <div class="col-xs-4">
          {{lang('./en/index.js').familyMemberLabel}}
        </div>
        <div class="col-xs-8">
          <strong>{{person.fullName}}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          {{lang('./en/index.js').departureDateLabel}}
        </div>
        <div class="col-xs-8">
          <strong>{{person.outsideBCDepartureDate.format("MMMM Do, YYYY")}}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          {{lang('./en/index.js').returnDateLabel}}
        </div>
        <div class="col-xs-8">
          <strong>{{person.outsideBCReturnDate.format("MMMM Do, YYYY")}}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          {{lang('./en/index.js').reasonLabel}}
        </div>
        <div class="col-xs-8">
          <strong>{{person.outsideBCFamilyMemberReason}}</strong>
        </div>
      </div>
    </div>
    <button *ngIf="editRouterLink" class="btn btn-link text-uppercase" type="submit" [routerLink]="editRouterLink"
            [innerHTML]="lang('./en/index.js').editButton">
    </button>
  </div>
</div>
