<form #formRef="ngForm" novalidate>
  <div class="row">
    <div class="col-lg-12">
      <msp-full-name [data]="person" (dataChange)="onChange.emit($event)" ></msp-full-name> 
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <msp-birthdate #birthdate
                     [person]="person"
                     (onChange)="onChange.emit($event)">
      </msp-birthdate>
      <!-- KPS Removed ngif to expose birthdate for spouse
      <msp-birthdate #birthdate
                     [person]="person"
      *ngIf="!person.relationship"
      (onChange)="onChange.emit($event)">
      </msp-birthdate>-->
    </div>


    <div class="col-md-4">
      <!-- TODO: Need to check for unique PHN, do we have a list to compare against-->
      <common-phn name="phn"
                  [(ngModel)]="person.previous_phn"
                  (ngModelChange)="onChange.emit($event)"></common-phn>
    </div>
    <div class="col-md-4">
      <!--TODO: Do we have unique SINs to compare against-->
      <common-sin name="sin_number"
                  label="SIN Number"
                  [ngModel]="person.sin"
                  (ngModelChange)="person.sin = $event; onChange.emit($event)"
                  [placeholder]="'046 454 286'"
                  required></common-sin>
    </div>
  </div>
</form>