<div class="container">
  <div class="msp-nav">
    <nav>
      <a routerLink="/msp/assistance/prepare" routerLinkActive="active">Prepare</a>
      <span class="glyphicon glyphicon-chevron-right"></span>
      <a routerLink="/msp/assistance/personal-info" routerLinkActive="active">Personal Info</a>
      <span class="glyphicon glyphicon-chevron-right"></span>
      <!--<a routerLink="/msp/application/documents" routerLinkActive="active">Documents</a>
      <span class="glyphicon glyphicon-chevron-right"></span>-->
      <a routerLink="/msp/assistance/address" routerLinkActive="active">Address</a>
      <span class="glyphicon glyphicon-chevron-right"></span>
      <a routerLink="/msp/assistance/review" routerLinkActive="active">Review & Submit</a>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>

