<button type="button" class="btn btn-default btn-xs pull-right" (click)="cancelDependentRemoval()" [innerHTML]="lang('./en/index.js').clearButton[person.relationship]">
</button>

<h2 [innerHTML]="lang('./en/index.js').sectionTitle[person.relationship]"></h2>
<p [innerHTML]="lang('./en/index.js').sectionBody[person.relationship]"></p>
<label [innerHtml]="lang('./en/index.js').isExistingBeneficiaryQuestion[person.relationship]"></label>
<msp-toggle [(data)]="person.isExistingBeneficiary"></msp-toggle>
<hr>
{{ person.isExistingBeneficiary.toString() }}
<hr>
<ng-container *ngIf="person.isExistingBeneficiary">
  <msp-account-personal-details [person]='person' [id]='person.id' (onChange)="onChange($event)" hideClearButton=true></msp-account-personal-details>

  <!-- TODO - These fields should only show if Spouse? 
  If so, remove the [person.relationship] stuff. It's just noise. -->

  <div class="row">
    <div class="col-md-4">
      <label for='addSpousePreviousLastName' [innerHTML]="lang('./en/index.js').previousName[person.relationship]"></label>
      <input type="text" name="spousePrevLastname" class="form-control" id='addSpousePreviousLastName' [(ngModel)]="person.prevLastName">
    </div>
    <div class="col-md-4">
      <msp-date
        [label]="lang('./en/index.js').marriageDate"
        [showError]='showError'
        [(date)]="person.marriageDate"
      ></msp-date>
    </div>
  </div>

</ng-container>



<hr class='strong-hr'>

<pre style='max-width: 600px'>
  PERSON:
  
  {{person | json}}
</pre>